{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Забыли пароль?</title>

	<!-- Site Icons -->
	<link rel="apple-touch-icon" href='{% static "img/apple-touch-icon.png" %}'>
	<link rel="icon" href='{% static "img/icon.ico" %}'>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Framework -->
	<link rel="stylesheet" href='{% static "css/vendor/bootstrap.min.css" %}'>

	<!-- Icon Fonts -->
    <link rel='stylesheet' href='{% static "icons/entypo/entypo.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/fa/css/font-awesome.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/flag-icon/css/flag-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/material-icon/material-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/weather-icon/css/weather-icons.min.css" %}'>


	<!-- Plugins -->
    <link rel='stylesheet' href='{% static "plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datatable/datatables.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datepicker/css/datepicker.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/medium-editor.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/themes/bootstrap.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/morris/morris.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/prettify/themes/tomorrow-night.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/selectize/css/selectize.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/sortable/sortable.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/stepy/jquery.stepy.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/pace/pace.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/summernote/summernote.min.css" %}'>


	<!-- Main Template CSS -->
    <link rel='stylesheet' href='{% static "css/bootstrap.custom.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/helper.css" %}'>
</head>


<body>

	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div id="rs-wrapper" class="bg-grad-03">

		<div class="login-wrap p-a-md m-x-auto">
			<p class="text-center">#БУДЬХУДОЙНОНЕГОЛОВОЙ</p>
			<div class="bg-white b-r-a p-a-lg light-bs">
				{% if validlink %}
                <p class="text-center">Введите новый пароль дважды.</br>Таким образом, мы можем удостовериться, что вы ввели его правильно.</p>
				<form class="m-b-lg" action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ form.new_password1.errors }}
					<div class="form-group">
						<label  for="id_new_password1" class="control-label">Новый пароль:</label>
						<input type="text" name="{{ form.new_password1.html_name }}" class="form-control">
					</div><!-- /.form-group -->
                    {{ form.new_password2.errors }}
                    <div class="form-group">
						<label for="id_new_password2" class="control-label">Подтвердите Пароль:</label>
						<input type="text" name="{{ form.new_password2.html_name }}" class="form-control">
					</div><!-- /.form-group -->
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-block text-uppercase">Изменить пароль</button>
					</div><!-- /.form-group -->
				</form>
                {% else %}
                <p class="f-l-15 text-uppercase text-center text-muted">Восстановление пароля безуспешными</p>
                <p class="text-center ">Ссылка для сброса пароля был признан недействительным, <br />
                    возможно, потому, что он уже был использован. <br />
               </p>
                <p class="text-center text-muted small m-a-0">
                Пожалуйста, запросите новый <a href="/login/">сброс пароля.</a>
                    </p>
                {% endif %}
			</div><!-- /.bg-white -->
		</div><!-- /.login-wrap -->


		<!-- BEGIN FOOTER -->
		<footer class="rs-footer login-footer text-center">
			<span class="text-white small">© 2017 Онлайн-школа доктора Зубаревой</span>
		</footer>
		<!-- END FOOTER -->

	</div><!-- /#rs-wrapper -->



	<!-- <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
	<script>
	window.jQuery || document.write('<script src='{% static "js/vendor/jquery.min.js" %}'></script>')
	</script> -->

    <script src='{% static "js/vendor/modernizr.min.js" %}'></script>
    <script src='{% static "js/vendor/jquery.min.js" %}'></script>
    <script src='{% static "js/vendor/bootstrap.min.js" %}'></script>
    <script src='{% static "js/vendor/raphael.min.js" %}'></script>

	<script src='{% static "plugins/nicescroll/jquery.nicescroll.min.js" %}'></script>
	<script src='{% static "plugins/ismobile/isMobile.min.js" %}'></script>
	<script src='{% static "plugins/blockui/blockui.min.js" %}'></script>
	<script src='{% static "plugins/prettify/prettify.min.js" %}'></script>
	<script src='{% static "plugins/clipboard/clipboard.min.js" %}'></script>
	<script src='{% static "plugins/filestyle/bootstrap-filestyle.min.js" %}'></script>
	<script src='{% static "plugins/pace/pace.min.js" %}'></script>

	<!-- Template Js -->
	<script src='{% static "js/apps.js" %}'></script>
	<script src='{% static "js/layout-default.js" %}'></script>



</body>
</html>



