{% extends "registration/auth_base.html" %}


{% block content %}
<p>Восстановление пароля завершено</p>
    <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
<p><a href="{{ login_url }}">Log in</a></p>
{% endblock %}
