{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <!-- Begin Panel -->
    <div class="panel panel-plain panel-rounded">
        <div class="panel-heading">
            <h3 class="panel-title">Ваш пароль изменен</h3>
            <!-- End Panel Toolbar -->
        </div>
        <br>
        <div class="panel-body p-t-xs">


        </div><!-- .panel-body -->
    </div><!-- /.panel -->
    <!-- End Panel -->

{% endblock %}
