{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title></title>

	<!-- Site Icons -->
	<link rel="apple-touch-icon" href='{% static "img/apple-touch-icon.png" %}'>
	<link rel="icon" href='{% static "img/icon.ico" %}'>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Framework -->
	<link rel="stylesheet" href='{% static "css/vendor/bootstrap.min.css" %}'>

	<!-- Icon Fonts -->
    <link rel='stylesheet' href='{% static "icons/entypo/entypo.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/fa/css/font-awesome.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/flag-icon/css/flag-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/material-icon/material-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/weather-icon/css/weather-icons.min.css" %}'>


	<!-- Plugins -->
    <link rel='stylesheet' href='{% static "plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datatable/datatables.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datepicker/css/datepicker.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/medium-editor.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/themes/bootstrap.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/morris/morris.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/prettify/themes/tomorrow-night.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/selectize/css/selectize.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/sortable/sortable.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/stepy/jquery.stepy.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/pace/pace.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/summernote/summernote.min.css" %}'>


	<!-- Main Template CSS -->
    <link rel='stylesheet' href='{% static "css/bootstrap.custom.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/helper.css" %}'>
</head>


<body>

	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div id="rs-wrapper" class="bg-transparent">



		<div class="full-height-content left-side bg-white">
			<div class="p-a-md p-y-lg bg-white">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="f-l-15 text-uppercase text-center text-muted m-y-lg">Регистрация</p>
						<form class="m-b-lg">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label">Имя</label>
										<input type="text" class="form-control" name="firstname">
									</div><!-- /.form-group -->
								</div><!-- /.col-sm-6 -->
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label">Фамилия</label>
										<input type="text" class="form-control" name="lastname">

									</div><!-- /.form-group -->
								</div><!-- /.col-sm-6 -->
							</div><!-- /.row -->
							<div class="form-group">
								<label class="control-label">Email адрес</label>
								<input type="email" class="form-control" name="email">
							</div><!-- /.form-group -->
							<div class="form-group">
								<label class="control-label">Пароль</label>
								<input type="password" class="form-control" name="password">
							</div><!-- /.form-control -->
							<div class="form-group">
								<label class="control-label">Подтвердите пароль</label>
								<input type="password" class="form-control" name="confirm_password">
							</div><!-- /.form-control -->
							<div class="form-group">
								<label class="control-label">Уровень знаний</label>
									<select name="country" class="form-control">
										<option value="">Выберите уровень...</option>
										<option value="EL">Начальный</option>
										<option value="AV">Средний</option>
                                        <option value="AD">Продвинутый</option>
									</select>
							</div><!-- /.form-group -->
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label class="control-label">Тариф</label>
										<select name="country" class="form-control">
											<option value="">Выберите тариф...</option>
										    <option value="PW">Питание</option>
										    <option value="PWSP">Питание и спорт</option>
                                            <option value="PWFT">Питание и специалисты</option>
                                            <option value="PR">Беременность</option>
                                            <option value="ALL">Все включено</option>
										</select>
									</div><!-- /.form-group -->
                               </div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Промокод</label>
										<input type="text" class="form-control" name="" placeholder="">
									</div><!-- /.form-group -->
								</div><!-- /.col-md-4 -->
							</div>

							<div class="form-group">
								<button class="btn btn-success btn-block text-uppercase">Оплатить</button>
								<label style="color: #999!important; margin-top: 10px; font: 12px Tahoma, sans-serif!important;">
									Нажимая кнопку «Оплатить», Вы принимаете условия <a href="http://school.natalyazubareva.com/Terms_of_use.docx">Пользовательского соглашения</a>.
								</label>
							</div><!-- /.form-group -->
						</form>

					</div><!-- /.col-md-8 col-md-offset-2 -->
				</div><!-- /.row -->
			</div><!-- /.bg-white -->
		</div><!-- /.full-height-content -->

		<div class="full-height-content right-side fixed bg-grad-trans text-center" style=" background: #81c784; ">
			<div class="center-content p-a-lg">
				<p class="f-l-15 text-uppercase text-center text-lighten">#БУДЬХУДОЙНОНЕГОЛОВОЙ</p>
				<p class="text-white">Уже зарегистрировались? Нажмите кнопку ниже</p>
				<div class="form-group">
					<a href="http://zubareva.online/" class="btn btn-warning btn-wide text-uppercase">ВОЙТИ</a>
				</div><!-- /.form-group -->
			</div><!-- /.center-content -->

			<!-- BEGIN FOOTER -->
			<footer class="rs-footer login-footer text-center">
				<span class="text-white small">&copy; 2017 Онлайн-школа доктора Зубаревой</span>
			</footer>
			<!-- END FOOTER -->
		</div><!-- /.full-height-content -->
	</div><!-- /#rs-wrapper -->



	<!-- <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
	<script>
	window.jQuery || document.write('<script src='{% static "js/vendor/jquery.min.js" %}'></script>')
	</script> -->

    <script src='{% static "js/vendor/modernizr.min.js" %}'></script>
    <script src='{% static "js/vendor/jquery.min.js" %}'></script>
    <script src='{% static "js/vendor/bootstrap.min.js" %}'></script>
    <script src='{% static "js/vendor/raphael.min.js" %}'></script>

	<script src='{% static "plugins/nicescroll/jquery.nicescroll.min.js" %}'></script>
	<script src='{% static "plugins/ismobile/isMobile.min.js" %}'></script>
	<script src='{% static "plugins/blockui/blockui.min.js" %}'></script>
	<script src='{% static "plugins/prettify/prettify.min.js" %}'></script>
	<script src='{% static "plugins/clipboard/clipboard.min.js" %}'></script>
	<script src='{% static "plugins/filestyle/bootstrap-filestyle.min.js" %}'></script>
	<script src='{% static "plugins/pace/pace.min.js" %}'></script>

	<!-- Template Js -->
	<script src='{% static "js/apps.js" %}'></script>
	<script src='{% static "js/layout-default.js" %}'></script>


     <!-- BEGIN JIVOSITE CODE {literal} -->
	<script type='text/javascript'>
	(function(){ var widget_id = '30yEh7FGsA';var d=document;var w=window;function l(){
	var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
	<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>