{% load staticfiles %}
{% load thumbnail %}
{% load common_tags %}

			<!-- Sidebar menu -->
			<ul class="rs-sidebar-nav default-sidebar-nav">
				<li class="rs-user-sidebar">
					<style>.rs-sidebar-nav a:not(:only-child):after{color: rgb(255, 255, 255);right: 15px;font-size: 18px;}</style>
					<a style="background: rgb(74, 146, 220);" href="{% url 'users:profile' %}">
                        {% thumbnail request.user.get_avatar "60x60" as im %}
                            <img  src="{{ im.url }}" alt="Avatar" class="avatar img-circle">
                        {% endthumbnail %}

						<h5>{{ request.user.get_full_name }} </h5>
						<h6 style="font-size: 10px; margin: 0;color: #e1e8ed;">Тариф: {{ request.user.get_tariff_name }}</h6>
						<h6 style="font-size: 10px;margin-top: 1px;color: #e1e8ed;">Уровень: {{ request.user.knowledge }}</h6>
                        <p class="media-subheading">
							<span class="label label-success" style="position: static;width: 100%;">МОЙ ПРОФИЛЬ</span>
						</p>

					</a>
					<ul>
						<li><a href="{% url 'users:profile' %}">Профиль</a></li>
						<li><a href="{% url 'users:profile-edit' %}">Редактировать</a></li>
						<li><a href="{% url 'password-change' %}">Изменить пароль</a></li>
						<li><a href="{% url 'logout' %}?next=/">Выход</a></li>
					</ul>
				</li>

				<li class="menu-block-divider"></li>
<!--
				<li {% if request.path == '/users/profile/edit/' %} class="active selected" {% endif %} >
					<a style="pointer-events: none;cursor: default;color: #7caae5;" href="/users/profile/edit/">
						<span class="gcon gcon-new-message rs-icon-menu"></span>Расчет КБЖУ
					</a>
				</li>
-->
				<li {% if request.path == '/' %} class="active selected" {% endif %} >
					<a href="{% url 'news:list' %}">
						<span class="gcon gcon-news rs-icon-menu"></span>Новости
					</a>
				</li>


				{% if request.user.get_tariff_code != 'base' %}
				<li {% if request.path == '/news/comments/' %} class="active selected" {% endif %} >
					<a href="{% url 'news:not-list' %}">
						{% count_comments %}
						<span class="gcon gcon-folder rs-icon-menu"></span>Мои комментарии
					</a>


				</li>
				{% endif %}


				{% if request.user.get_tariff_code != 'base' %}
				<li {% if request.path == '/articles/' %} class="active selected" {% endif %}>
					<a href="{% url 'articles:list' %}">
						<span class="gcon gcon-book rs-icon-menu"></span>Статьи
					</a>
				</li>
				{% endif %}

				<li {% if request.path == '/food/' %} class="active selected" {% endif %}>
					<a style="" href="{% url 'food:list' %}">
						<span class="gcon gcon-bowl rs-icon-menu"></span>Питание
					</a>
				</li>

                {% if request.user.is_training_access %}
				    <li {% if request.path == '/training/' %} class="active selected" {% endif %}>

							{% if request.user.get_tariff_code == 'pregnancy' %}
								<a href="{% url 'training:list' %}">
						    		<span class="gcon gcon-sports-club rs-icon-menu"></span>Тренировки
								</a>
							{% else %}
								<a href="/training/?category=domashnie">
						    		<span class="gcon gcon-sports-club rs-icon-menu"></span>Тренировки
								</a>
							{% endif %}
				    </li>
                {% endif %}


                {% if request.user.is_consultant_manager %}
				    <li {% if request.path == '/chat/' %} class="active selected" {% endif %}>
					    <a href="{% url 'chat:test-list' %}">
                            {% count_messages %}
						    <span class="gcon gcon-chat rs-icon-menu"></span>Сообщения
					    </a>
				    </li>
                {% else %}
				    <li class="dispaynone" {% if request.path == '/chat/' %} class="active selected" {% endif %}>
					    <a href="{% url 'chat:list' %}">
                            {% count_messages %}
						    <span class="gcon gcon-chat rs-icon-menu"></span>Специалисты
					    </a>
				    </li>
                {% endif %}

				{% if request.user.get_tariff_code != 'base' %}
				<li {% if request.path == '/photorepost/' %} class="active selected" {% endif %} >
					<a href="{% url 'photorepost:list' %}">
						<span class="gcon gcon-camera rs-icon-menu"></span>Фотоотчеты
					</a>
				</li>


				<li {% if request.path == '/quiz/' %} class="active selected" {% endif %}>
					<a style="pointer-events: none;cursor: default;color: #7caae5;" href="{% url 'quiz:list' %}">
						<span class="gcon gcon-new-message rs-icon-menu"></span>Тестирование
					</a>
				</li>
				{% endif %}
				{% if request.user.get_tariff_code != 'base' %}
				<li {% if request.path == '/instructions/' %} class="active selected" {% endif %} >
					<a href="{% url 'news:instructions' %}">
						<span class="gcon gcon-shield rs-icon-menu"></span>Инструкция к сайту
					</a>
				</li>
				{% endif %}
				<li {% if request.path == '/faq/' %} class="active selected" {% endif %} >
					<a href="https://zubareva.online/faq/">
						<span class="gcon gcon-help-with-circle rs-icon-menu"></span>FAQ
					</a>
				</li>

				{% if request.user.get_tariff_code == 'base' %}
				<li {% if request.path == '/support/' %} class="active selected" {% endif %} >
					<a href="{% url 'support:item' %}">
						<span class="gcon gcon-folder rs-icon-menu"></span>Техподдержка
					</a>


				</li>
				{% endif %}




  <!-- style="pointer-events: none;cursor: default;color: #7caae5;" -->


			</ul>
			<!-- End sidebar menu -->
