{% extends "base.html" %}
{% load staticfiles %}
{% load message_tags %}
{% load common_tags %}
{% load thumbnail %}
{% block content %}

<div class="alert alert-success alert-simple alert-dismissible fade in iconic-alert m-b-lg" role="alert">

							<div class="alert-icon">
								<span class="gcon gcon-emoji-happy centered-xy"></span>
							</div>
							<p style="font-size: 12px!important;"> {% if request.user.get_tariff_code != 'base' %}  В течение суток Вы можете задать максимум 3 самые важных вопроса, остальные вопросы пишите в комментариях в разделе "Новости".{% else %}  Вы cможете написать 1 технический вопрос в сутки, ассистенту {% endif %}</p>
						</div>


<div class="panel panel-plain panel-rounded">

    <div class="panel-body">
        <div class="row">


            <div class="col-md-12">
                <ul class="dropdown-menu xl-dropdown p-b-0 p-t-0 dropdown-demo m-t m-b-lg">
                    <li class="dropdown-header text-uppercase has-divider hidden-xs">
                        Уведомления
                        <span class="label label-success m-l">{{ message_counts }} новых</span>
                    </li>
                    <li>
                        <ul class="rs-inner-dropdown has-divider media-menu rs-scroll-custom" tabindex="3">
                            {% for c in consultants %}
                                <!-- Для новых сообщений добавляем класс"new" <li class="new"></li>-->
                                {% if request.user|is_new_messages_for_user:c.pk %}
                                    <li class="new">

                                        {% if request.user.get_tariff_code == 'base' %}
                                        <a style="padding-top: 20px;padding-bottom: 20px;"
                                           href="{% url 'chat:tbase-room' c.pk %}">
                                         {% else %}
                                            <a style="padding-top: 20px;padding-bottom: 20px;"
                                           href="{% url 'chat:consultant-room' c.pk %}">
                                        {% endif %}

                                            {% thumbnail c.get_avatar "60x60" as im %}
                                                <img style="object-fit: none;" src="{{ im.url }}" alt="Avatar" class="media img-circle">
                                            {% endthumbnail %}
                                            <span class="id">{{ c.get_full_name }}</span>
                                             <span style="margin: 0; color: #2e7401;" class="time small"> Тариф: {{ c.get_tariff_name }}</span>
                                            <span style="margin: 0;" class="time small">{{ request.user|last_message_time:c.pk }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% for c in consultants %}

                                {% if not request.user|is_new_messages_for_user:c.pk %}
                                <li>

                                    {% if request.user.get_tariff_code == 'base' %}
                                        <a style="padding-top: 20px;padding-bottom: 20px;"
                                           href="{% url 'chat:tbase-room' c.pk %}">
                                     {% else %}
                                            <a style="padding-top: 20px;padding-bottom: 20px;"
                                           href="{% url 'chat:consultant-room' c.pk %}">
                                     {% endif %}

                                        {% thumbnail c.get_avatar "60x60" as im %}
                                            <img style="object-fit: none;" src="{{ im.url }}" alt="Avatar" class="media img-circle">
                                        {% endthumbnail %}
                                        <span class="id">{{ c.get_full_name }}</span>
                                        <span class="time small">{{ request.user|last_message_time:c.pk }}</span>
                                    </a>
                                </li>

                            {% endif %}
                            {% endfor %}

                        </ul>
                    </li>


                </ul>
            </div><!-- /.col-md-4 -->


        </div><!-- /.row -->

    </div><!-- .panel-body -->
</div>

{% endblock %}

{% block h1_title %}
    Специалисты
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Специалисты</li>
{% endblock %}
