{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <div class="col-md-11 col-lg-11">
    <!-- Комментарии -->
    <div class="panel panel-plain panel-rounded">
        <div class="panel-heading borderless">
            <h3 class="panel-title">{{ c }}</h3>
            <p style="margin: 0;" class="media-subheading text-muted small">{{ consultant.get_full_name }}</p>
            <p style="margin: 0;padding: 0;line-height: 105%;" class="media-subheading text-muted small"> Тариф: {{ consultant.get_tariff_name }}</p>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
            <ul style="height: 400px; overflow-y: scroll; padding-right: 5%;" class="media-list" id="media-messages">
                {% for msg in messages %}

                <li class="media">
                    <div class="media-left media-object-sm">
                        <a href="{% url 'users:profile' %}">
                            {% thumbnail msg.sender.get_avatar "50x50" as im %}
                                <img  src="{{ im.url }}" alt="Avatar" class="media-object img-circle">
                            {% endthumbnail %}
                        </a>
                    </div><!-- /.media-left -->
                    <div class="media-body">
                        <h4 class="media-heading bg-d">{{ msg.sender.get_full_name }}</h4>
                        <p class="media-subheading text-muted small">{{ msg.created }}</p>
                        <p>{{ msg.text|safe }}</p>
                        {% thumbnail msg.img "1200" as big %}
                            {% thumbnail msg.img "55x55" as im %}
                                <a style="width: auto;display: block;" href="{{ big.url}}"  target="_blank">
                                    <img style="display: block;"  src="{{ im.url }}" alt="Avatar" class="media-object">
                                </a>
                            {% endthumbnail %}
                        {% endthumbnail %}
                    </div><!-- /.media-body -->
                </li>
                <hr>
                {% endfor %}

            </ul><!-- /.media-list -->
             <br>
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div style="" class="form-group">
                    <label>Сообщение <b style="color: #902b2b;">*</b></label>
                    <input type="hidden" name="{{ message_form.sender.html_name }}" value="{{ request.user.pk }}">
                    <input type="hidden" name="{{ message_form.recipent.html_name }}" value="{{ consultant.pk }}">
                    <textarea id="message-text" name="{{ message_form.text.html_name }}"class="form-control" placeholder="Здравствуйте, ...."
                              style="height: 100px;" required></textarea>
                    <div style="display: none;">
                        <br>
                        <label>Прикрепить фото (макс 4 Мб):</label>
                        <input type="file" class="form-control" name="{{ message_form.img.html_name }}">
                        <br>
                    </div>
                    <button class="btn btn-success btn-block rs-btn-icon icon-block m-b"><span
                            class="fa fa-comment-o icon-btn m-r"></span>Отправить
                    </button>
                </div>
            </form>



        </div><!-- .panel-body -->
    </div>
    <!-- End Комментарии -->
    </div>

{% endblock %}

{% block h1_title %}
    Сообщения

{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'chat:list' %}">Сообщения</a></li>
    <li class="active">{{ consultant.get_full_name }}</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            var div = $("#media-messages");
            div.scrollTop(div.prop('scrollHeight'));
            $('html,body').stop().animate({ scrollTop: $('#message-text').offset().top }, 1000);

        });
    </script>
{% endblock %}
