{% extends "base.html" %}
{% load staticfiles %}
{% load message_tags %}
{% load common_tags %}
{% load thumbnail %}
{% block content %}

<div class="panel panel-plain panel-rounded">

    <div class="panel-body">
        <div class="row">

            <div class="col-md-9">
                <div class="alert alert-danger" role="alert" style="padding: 5px;">
                    Лимит сообщений к специалисту за сегодня превышен. Через 24 часа вы сможете возобновить свой сеанс.
                </div>
            </div>


        </div><!-- /.row -->

    </div><!-- .panel-body -->
</div>

{% endblock %}

