{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div class="col-md-6 col-sm-6 col-lg-6">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">

            <div class="panel-body text-left">
                <div class="col-md-12 m-b"><h4 class="panel-title m-b"> Редактировать фотоотчет</h4></div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Название:</label>
                            <input type="text" value="{{ form.title.value }}" name="{{ form.title.html_name }}"
                                   class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Изображение:</label>
                            {% if form.instance.img %}
                                {% thumbnail form.instance.img "300x300" as im %}
                                    <img class="img-responsive" src="{{ im.url }}">
                                {% endthumbnail %}
                            {% endif %}
                            <input type="file" name="{{ form.img.html_name }}">
                        </div>

                        <div class="form-group">
                            <label>Описание:</label>
                            <textarea class="form-control" rows="5"
                                      name="{{ form.text.html_name }}">{{ form.text.value }}</textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"><span
                                    class="gcon gcon-instagram icon-btn m-r"></span>Сохранить
                            </button>
                        </div>
                    </div>
                </form>


            </div><!-- .panel-body -->
        </div><!-- /.panel -->
        <!-- End Panel -->

    </div><!-- /.col-dm-6 -->

{% endblock %}
