{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div  class="col-md-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body">


                <div class="row">


                    <div style="margin-bottom: 1%;" class="col-md-3 col-md-offset-9">
                        <a style="" href="{% url 'photorepost:create' %}" class="btn btn-primary btn-block"><span
                                class="gcon gcon-instagram icon-btn m-r"></span>Добавить</a>
                     </div>

                    <div style="margin-bottom: 1%; display: none;" class="col-md-3">
                        <a href="{% url 'photorepost:result' %}" class="btn btn-info btn-block"><span
                                class="gcon gcon-bar-graph icon-btn m-r"></span>Рейтинг</a>
                    </div>
                </div>

            </div>
        </div>
    </div>



    {% for photorepost_one in photorepost %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded" style="height: 330px;box-shadow: 0 0 10px rgba(0,0,0,0.2);">
                <a class="url-news" href="{% url 'photorepost:detail' photorepost_one.pk %}">
                    <div class="text-center">
                        {% thumbnail photorepost_one.img "320x220" as im %}
                            <img style="width: 100%;height: 220px;object-fit: cover;transition: all .25s ease;" class="img-responsive" src="{{ im.url }}" alt="{{ photorepost_one.title }}">
                        {% endthumbnail %}
                    </div><!-- .panel-body -->
                    <div class="panel-body text-left" style="height: 72px;">
                        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 4%;">
                            <h6 style="font-size: 9.5px;color: #000;" class="panel-title">{{ photorepost_one.created_date|date:""|lower }}</h6>
                            <h6 style="font-size: 9.5px;color: #000;" class="panel-title">Автор: {{ photorepost_one.author.first_name }} {{ photorepost_one.author.last_name }}</h6>
                        </div>
                            <h6 class="panel-title"> {{ photorepost_one.title }}</h6>

                    </div><!-- .panel-body -->
                    {% if photorepost_one.is_checked == 'checked' %}
 <div style="background: rgba(76, 175, 80, 0.89); color: #fff; width: 100%; text-align: center; padding: 2% 0;">Проверен</div>

  {% else %}
      <div style="background: rgba(244, 67, 54, 0.44); color: #fff; width: 100%; text-align: center; padding: 2% 0;">Не проверен</div>

              {% endif %}
                </a>

            </div><!-- /.panel -->
            <!-- End Panel -->

        </div><!-- /.col-dm-4 -->
    {% endfor %}

{% endblock %}


{% block breadcrumbs %}
    <li class="active">Фотоотчеты</li>
{% endblock %}
