{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div class="col-md-4 col-sm-4 col-lg-4">
        <!-- Begin Panel -->



                                <div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">{{ object.title }}</h3>
										<!-- End Panel Toolbar -->
									</div><!-- /.panel-heading -->
									<div class="panel-body" style="padding: 0;">
                                         {% thumbnail object.img "320x320" as im %}
                                            <img class="img-responsive" style="width: 100%;" src="{{ im.url }}" alt="{{ object.title }}">
                                         {% endthumbnail %}
									</div><!-- .panel-body -->
								</div>


        <!-- End Panel -->

    </div><!-- /.col-dm-4 -->

    <div class="col-md-8 col-sm-8 col-lg-8">
        <!-- Begin Panel -->



           <div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">Описание</h3>
										<!-- End Panel Toolbar -->
									</div><!-- /.panel-heading -->
									<div class="panel-body">
                                <div class="col-md-12">
                                  {% if object.type_food %}
                                    <b>Вид меню:</b> {{ object.type_food }}<br>
                                  {% endif %}
                                  {% if object.water %}
                                    <b>Питьевой режим:</b> {{ object.water }}<br>
                                  {% endif %}
                                  {% if object.breakfast %}
                                    <b>Завтрак: </b> {{ object.breakfast }}<br>
                                  {% endif %}
                                  {% if object.one_snack %}
                                    <b>1ый перекус:</b> {{ object.one_snack }}<br>
                                  {% endif %}
                                  {% if object.lunch %}
                                    <b>Обед:</b> {{ object.lunch }}<br>
                                  {% endif %}
                                  {% if object.second_snack %}
                                    <b>2ой перекус:</b> {{ object.second_snack }}<br>
                                  {% endif %}
                                  {% if object.dinner %}
                                    <b>Ужин:</b> {{ object.dinner }}<br>
                                  {% endif %}
                              </div>
                            <br>
                            <div class="col-md-12">
                                      <b>Комментарии:</b><br>{{ object.text }}
                            </div>

									</div><!-- .panel-body -->
								</div>



                                {% if object.is_checked == 'checked' %}
                                <div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title"><span class="fa fa-comment icon-btn m-r"></span>Отзыв

                                        </h3>
                                        <p class="subtitle text-uppercase m-t-xs">
                                            {% if request.user.get_tariff_code == 'food' %}
                                                Ассистента
                                            {% elif request.user.get_tariff_code == 'food_plus_specialist' %}

                                                {% if object.created_date|date:"omd" > '20180217'%}
                                                    Диетолога
                                                {% else %}
                                                    Натальи Зубаревой
                                                {% endif %}


                                             {% else %}
                                                Натальи Зубаревой
                                            {% endif %}
                                        </p>
										<!-- Begin Panel Toolbar -->
										<div class="panel-toolbar v-centered">




                                            <p style="color: #ef5350; margin-top: 7px;font-size: 13px;">Оценка <b style="font-size: 15px; border:1px solid#ef5350; border-radius: 90px; padding: 2px 6px;">{{ object.rating }}</b></p>
										</div><!-- /.panel-toolbar -->
										<!-- End Panel Toolbar -->
									</div><!-- /.panel-heading -->
									<div class="panel-body">
										{{ object.comment }}
									</div><!-- .panel-body -->
								</div>
                                {% else %}
                                    <div style="background: rgba(244, 67, 54, 0.44); color: #fff; width: 100%; text-align: center; padding: 2% 0;">Не проверен</div>
                                {% endif %}
        <!-- End Panel -->

    </div><!-- /.col-dm-4 -->

{% endblock %}



{% block breadcrumbs %}
    <li><a href="{% url 'photorepost:list' %}">Фотоотчеты</a></li>
    <li class="active">{{ object.title}}</li>
{% endblock %}
