{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <div class="col-md-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body">


                <div class="row">


                    						<!-- Begin Panel -->
						<div class="panel panel-plain">
							<div class="panel-heading">
								<h3 class="panel-title">Рейтинг по фотоотчетам</h3>
								<!-- Begin Panel Toolbar -->
							</div><!-- /.panel-heading -->

							<div class="panel-body p-a-0">
								<div class="table-responsive">
									<table data-sortable class="table table-condensed table-b-t">
										<thead>

										</thead>
										<tbody>
                                         {% for res in results %}
											<tr>
												<td><span class="badge badge-success">{{ res.score }}</span></td>
												<td>{{ res.author__last_name }} {{ res.author__first_name }}</td>

											</tr>
                                         {% endfor %}
										</tbody>
									</table>
								</div><!-- /.table-responsive -->
							</div><!-- .panel-body -->
						</div><!-- /.panel -->
						<!-- End Panel -->
                </div>

            </div>
        </div>
    </div>





{% endblock %}


{% block breadcrumbs %}
    <li class="active">Фотоотчеты</li>
{% endblock %}
