{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div class="col-md-12 col-sm-12 col-lg-12" {% if request.user.get_tariff_code == 'base' %} style="display: none;" {% endif %}>
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
<div class="panel-heading borderless">
    <h3 class="panel-title">Добавить фотоотчет</h3>
</div>
            <div class="panel-body text-left">



   <div>

                {{ form.errors }}


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a style="font-size: 14px;" href="#home" aria-controls="home" role="tab" data-toggle="tab">Фотоотчет</a></li>
    <li role="presentation"><a style="font-size: 14px;" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Фото фигуры</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="home">
        <br>
           <form action="{% url 'photorepost:create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col-md-12">
                    <div class="form-group">
                        {% if request.user.is_family_user and request.user.get_family_all_users %}
                        <label>Автор:</label>
                           <select class="form-control" name="{{ form.author.html_name }}">
                               {% for r_user in request.user.get_family_all_users %}
                               <option value="{{r_user.id}}">{{ r_user.first_name }} {{ r_user.last_name }}</option>
                               {% endfor %}
                           </select>

                        {% elif request.user.is_children_user and request.user.get_family_all_users %}

                        <label>Автор:</label>
                           <select class="form-control" name="{{ form.author.html_name }}">
                               {% for r_user in request.user.get_family_all_users %}
                               <option value="{{r_user.id}}">{{ r_user.first_name }} {{ r_user.last_name }}</option>
                               {% endfor %}
                           </select>

                        {% else %}
                        <input type="hidden" name="{{ form.author.html_name }}" value="{{request.user.id}}" class="form-control" placeholder="" required>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>День:</label>
                        <input maxlength="200" type="text" name="{{ form.title.html_name }}" class="form-control" placeholder="День 1" required>
                    </div>

                    <div class="form-group">
                        <label>Фото:</label>
                        <input type="file" class="form-control" name="{{ form.img.html_name }}">
                    </div>
                    <div class="form-group">
                        <label>Вид меню и коридор калорий:</label>
                        <input maxlength="200" type="text" name="{{ form.type_food.html_name }}" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>Питьевой режим:</label>
                        <input maxlength="200" type="text" name="{{ form.water.html_name }}" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>Завтрак: время , состав, вес продуктов</label>
                        <input maxlength="200" type="text" name="{{ form.breakfast.html_name }}" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>1ый перекус: время , состав, вес продуктов</label>
                        <input maxlength="200" type="text" name="{{ form.one_snack.html_name }}" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>Обед: время , состав, вес продуктов</label>
                        <input maxlength="200" type="text" name="{{ form.lunch.html_name }}" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>2ой перекус: время , состав, вес продуктов</label>
                        <input maxlength="200" type="text" name="{{ form.second_snack.html_name }}" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label>Ужин:  время , состав, вес продуктов</label>
                        <input maxlength="200" type="text" name="{{ form.dinner.html_name }}" class="form-control" placeholder="" required>
                    </div>
                        <div class="form-group">
                            <label class="control-label">Лечебное питание:</label>
                            <div class="radio radio-custom">
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.treatment == 'Y' %} checked="checked" {% endif %} name="{{ form.treatment.html_name }}" id="cs-radio-04" value="Y">
                                    <span class="checker"></span>
                                    Да
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.treatment == 'N' %} checked="checked" {% endif %} name="{{ form.treatment.html_name }}" id="cs-radio-05" value="N">
                                    <span class="checker"></span>
                                    Нет
                                </label>
                            </div>
                        </div>


                    <div class="form-group">
                        <label>Комментарии:</label>
                        <textarea class="form-control" rows="7" name="{{ form.text.html_name }}" placeholder=""></textarea>
                    </div>



                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"><span
                                class="gcon gcon-instagram icon-btn m-r"></span>Сохранить</button>
                    </div>
                </div>
                </form>


                <button style="max-width: 320px;margin: 0 auto;" class="btn btn-success btn-block" data-toggle="modal" data-target="#bs-modal-size-d"><span class="fa fa-list-alt icon-btn m-r"></span>Образец фотоотчета</button>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
         <br>
                         <form action="{% url 'photorepost:create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col-md-12">
                    <div class="form-group">
                        {% if request.user.is_family_user and request.user.get_family_all_users %}
                        <label>Автор:</label>
                           <select class="form-control" name="{{ form.author.html_name }}">
                               {% for r_user in request.user.get_family_all_users %}
                               <option value="{{r_user.id}}">{{ r_user.first_name }} {{ r_user.last_name }}</option>
                               {% endfor %}
                           </select>

                        {% elif request.user.is_children_user and request.user.get_family_all_users %}

                        <label>Автор:</label>
                           <select class="form-control" name="{{ form.author.html_name }}">
                               {% for r_user in request.user.get_family_all_users %}
                               <option value="{{r_user.id}}">{{ r_user.first_name }} {{ r_user.last_name }}</option>
                               {% endfor %}
                           </select>

                        {% else %}
                        <input type="hidden" name="{{ form.author.html_name }}" value="{{request.user.id}}" class="form-control" placeholder="" required>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>День:</label>
                        <input type="text" name="{{ form.title.html_name }}" class="form-control" placeholder="День 1" required>
                    </div>

                    <div class="form-group">
                        <label>Фото:</label>
                        <input type="file" class="form-control" name="{{ form.img.html_name }}">
                    </div>




                    <div class="form-group">
                        <label>Комментарии:</label>
                        <textarea class="form-control" rows="7" name="{{ form.text.html_name }}" placeholder=""></textarea>
                    </div>



                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"><span
                                class="gcon gcon-instagram icon-btn m-r"></span>Сохранить</button>
                    </div>
                </div>
                </form>

    </div>
  </div>

</div>















            </div><!-- .panel-body -->
        </div><!-- /.panel -->
        <!-- End Panel -->

    </div><!-- /.col-dm-4 -->
							<div style="display: none;" class="col-md-6 col-sm-6 col-lg-6">
								<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">

                                        <div class="panel-body text-left">
                                            <div class="col-md-12 m-b"><h4 class="panel-title m-b"> Образец фотоотчета</h4>
                                        </div>
                                            <div class="col-md-12">
                                            <img style="width: 100%;" src="http://school.natalyazubareva.com/img-online/photorepost.png">
                                            </div>




                                        </div><!-- .panel-body -->
								</div><!-- /.panel -->
								<!-- End Panel -->

							</div><!-- /.col-dm-4 -->
{% endblock %}




{% block js_block %}
<!-- Begin Default size modal -->
<div class="modal fade" id="bs-modal-size-d" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content b-r-0 borderless">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Образец фотоотчета</h4>
			</div>
			<div class="modal-body">
                <img width="100%" class="img-responsive" src="https://dagpositive.ru/images/photor.png" alt="">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
<!-- End Default size modal -->
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'photorepost:list' %}">Фотоотчеты</a></li>
    <li class="active">Добавить фотоотчет</li>
{% endblock %}
