{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-lg-12">

<div class="alert alert-success alert-simple alert-dismissible fade in iconic-alert m-b-lg" role="alert">

							<div class="alert-icon">
								<span class="gcon gcon-emoji-happy centered-xy">Обратите внимание!</span>
							</div>
							<p style="font-size: 12px!important;">Здесь будут показаны все Ваши комментарии и ответы на них.</p>
</div>
        <!-- Комментарии -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-heading borderless">
                <h3 class="panel-title">Мои комментарии</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">





                <ul class="media-list">



                    {% for comment in comments %}




                    <div style="border: 1px solid#eeeeee;padding: 2%;margin-bottom: 5%;">
                        {% for cm in comment.get_family.all %}


                             <li class="media comment-{{ cm.level }}">
                            <div class="media-left media-object-sm">
                                {% thumbnail cm.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img style="width: 35px; height: 35px;" class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                                <h6 style="font-weight: 600;" class="media-heading bg-d">{{ cm.author.get_full_name }}</h6>
                                <p style="font-size: 11px;" class="media-subheading text-muted small">{{ cm.created_date }}</p>
                                <p style="font-size: 12px;"> {{ cm.text|linebreaks }}</p>
                            </div><!-- /.media-body -->
                        </li>
                        <hr style="margin-top: 2px;margin-bottom: 2px;">




                    {% endfor %}
                 </div>
                    {% empty %}
                        <p>Нет комментариев здесь :(</p>
                    {% endfor %}

                </ul><!-- /.media-list -->
            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->




{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'news:list' %}">Новости</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
    </script>
{% endblock %}
