{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-lg-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <h3 class="media-heading">{{ object.title }}</h3>
                    <p class="media-subheading text-muted small">
                        <i class="glyphicon glyphicon-user"></i> {{ object.author.first_name }} {{ object.author.last_name }}
                        <i class="glyphicon glyphicon-time"></i> {{ object.published_date|timesince }}
                    </p>
                    {% if object.video %}

<div class="videoWrapper">
    <!-- Copy & Pasted from YouTube -->

    <video width="560" height="349" controls>
        <source src="{{ object.video }}" type="video/mp4">
    </video>

</div>
 <style>
 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 1px solid#e1e8ed;
    background: #e1e8ed;
}
 </style>

                    {% endif %}
                    {% autoescape off %}   {{ object.text }} {% endautoescape %}


                    <br>
                    <a target="_blank" href="http://webinar.natalyazubareva.com/"><img style="width: 100%;" src="http://webinar.natalyazubareva.com/zapis.jpg" alt=""></a>
                </div>
            </div><!-- .panel-body -->
        </div><!-- /.panel -->


        <!-- Комментарии -->
        <div {% if request.user.get_tariff_code == 'base' %} style="display: none;" {% endif %} class="panel panel-plain panel-rounded">
            <div class="panel-heading borderless">
                <h3 class="panel-title">Комментарии</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <form class="dispaynone"  method="post" action="{% url 'news:add-comment' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Сообщение</label>
                        <input type="hidden" value="{{ object.pk }}" name="{{ form.news.html_name }}">
                        <input type="hidden" id="comment-parent" value="" name="{{ form.parent.html_name }}">

                        <input type="hidden" value="{{ request.user.pk }}" name="{{ form.author.html_name }}">
                        <textarea class="form-control" name="{{ form.text.html_name }}" placeholder="..."
                                  id="comment-text" required style="height: 100px;"></textarea>
                        <button class="btn btn-success btn-block rs-btn-icon icon-block m-b"><span
                                class="fa fa-comment-o icon-btn m-r"></span>Отправить
                        </button>
                    </div>
                </form>
                <br>



                <ul class="media-list  infinite-container">

                    {% for comment in comments %}
                        <li  id="c{{ c.id }}" class="media comment-{{ comment.level }} infinite-item">
                            <div class="media-left media-object-sm">
                                {% thumbnail comment.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img style="object-fit: none;border: 0.5px solid rgba(74, 137, 220, 0.34);" class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                                <h4 style="font-size: 16px;" class="media-heading bg-d">{{ comment.author.get_full_name }}</h4>
                                <p class="media-subheading text-muted small">{{ comment.created_date|timesince }} назад</p>
                                <p> {{ comment.text|linebreaks }}</p>
                                <div class="media-footer dispaynone">
                                    <a style="font-size: 11px;border: 1px solid;border-radius: 6px;padding: 0.2% 3px;" data-user="{{ comment.author.get_full_name }}" data-comment-id="{{  comment.pk }}" class="reply-comment" href="">Ответить</a>
                                </div>
                            </div><!-- /.media-body -->
                        </li>
                        <hr>
                        {% for c in comment.get_descendants %}
                        <li  id="c{{ c.id }}" class="media comment-{{ c.level }} infinite-item">
                            <div class="media-left media-object-sm">
                                {% thumbnail c.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img style="object-fit: none;border: 0.5px solid rgba(74, 137, 220, 0.34);" class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                                <h4 style="font-size: 16px;" class="media-heading bg-d">{{ c.author.get_full_name }}</h4>
                                <p class="media-subheading text-muted small">{{ c.created_date|timesince }} назад</p>
                                <p> {{ c.text|linebreaks }}</p>
                                <div style="" class="media-footer dispaynone">
                                    <a style="font-size: 11px;border: 1px solid;border-radius: 6px;padding: 0.2% 3px;" data-user="{{ c.author.get_full_name }}" data-comment-id="{{  c.pk }}" class="reply-comment" href="">Ответить</a>
                                </div>
                            </div><!-- /.media-body -->
                        </li>
                        <hr>
                        {% endfor %}

                    {% empty %}
                        <p>Нет комментариев здесь :(</p>
                    {% endfor %}

                </ul><!-- /.media-list -->


  {% if comments.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in comments.paginator.page_range %}
      {% if comments.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if comments.has_next %}
      <li><a href="?page={{ comments.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->

<div id="someID" class="back-to-bottom bg-dark b-r-a" style="display: block;top: 5px;"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></div>
<style>
 .back-to-bottom {
     position: fixed;
    width: 40px;
    height: 40px;
    z-index: 1000;
    top: 15px;
    right: 5px;
    line-height: 40px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    text-align: center;
    display: none;

 }
    .bg-dark {
        background: rgba(46, 49, 61, 0.28) !important;
    }
</style>


{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'news:list' %}">Новости</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
        $(function(){
                $('#someID').click(function(){
                     $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                    return false;
                });
        });
    </script>
{% endblock %}
