{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    {% for news_one in news %}
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless">
                    <div class="media-left media-object-sm">
                        {% thumbnail news_one.author.get_avatar "60x60" as im %}
                            <img  src="{{ im.url }}" alt="Avatar" class="media-object img-circle">
                        {% endthumbnail %}


                    </div>
                    <div class="media-body">
                        <p class="media-subheading text-muted small news-date">{{ news_one.published_date|timesince }} назад</p>
                        <h6 class="media-heading">{{ news_one.author.first_name }} {{ news_one.author.last_name }}</h6>
                    </div>

                </div><!-- /.panel-heading -->
                <a class="url-news" href="{% url 'news:detail' news_one.pk %}">

                    <div class="panel-body p-t-0 text-center">
                        <style>
                            .news__detail_img{
                                background-repeat: no-repeat;
                                height: 260px;
                                background-size:100% auto;
                                 background-position: top;
                                display: block;
                            }
                            @media (max-width: 1024px){
                                .news__detail_img{
                                    width: 100%;
                                    height: 240px;
                                }
                            }
                            @media (max-width: 667px){
                                .news__detail_img{
                                    width: 100%;
                                    height: 208px;
                                }
                            }
                            @media (max-width: 322px){
                                .news__detail_img{
                                    width: 100%;
                                    height: 160px;
                                }
                            }



                        </style>
                         {% thumbnail news_one.img "421x288" as im %}

                                <div class="news__detail_img" style="background-image: url({{ im.url }});"></div>

                        {% endthumbnail %}
                    </div><!-- .panel-body -->
                </a>
                    <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                         <h6 class="panel-title"><a href="{% url 'news:detail' news_one.pk %}">{{ news_one.title }}</a></h6>

                    </div><!-- .panel-body -->
                </a>
            </div><!-- /.panel -->
            <!-- End Panel -->

        </div><!-- /.col-dm-6 -->

    {% endfor %}

{% endblock %}
