{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load common_tags %}
{% block content %}







    <div class="col-md-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body">
                <div class="alert alert-success alert-simple alert-dismissible fade in iconic-alert m-b-lg" role="alert">

							<div class="alert-icon">
								<span class="gcon gcon-emoji-happy centered-xy"></span>
							</div>
							<p style="font-size: 12px!important;"> Выберите вид меню и калораж!</p>
                </div>
                <form>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Вид меню:</label>
                                <select name="menu_type" class="form-control">
                                    {% for mt in menu_types %}
                                        <option value="{{ mt.pk }}"
                                                {% if current_menu_type|to_int == mt.pk|to_int %}
                                                selected="selected" {% endif %}>{{ mt.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">

                                <div class="form-group" id="calories-list" {% if not calories %} style="display: none;" {% endif %}>
                                    <label>Калораж:</label>
                                    <select name="calories" class="form-control">
                                        {% for c in calories %}
                                            <option value="{{ c.value }}" {% if current_calories == c.value %}
                                                    selected="selected" {% endif %}>{{ c.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block m-t-lg">Выбрать</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


     <div class="col-md-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">

         <div class="panel-body">
            <div class="col-md-4 col-sm-6">
                {% if request.user.goal == 'gain' %}
                    <a href="/food/goal/" class="btn btn-danger btn-block m-b" ><span class="fa fa-warning icon-btn m-r"></span>Правила питания</a>
                {% else %}
                   <a href="/food/lose/" class="btn btn-danger btn-block m-b" ><span class="fa fa-warning icon-btn m-r"></span>Правила питания</a>
                {% endif %}
            </div>
            <div class="col-md-4 col-sm-6">
                <button class="btn btn-success btn-block m-b" data-toggle="modal" data-target="#bs-modal-size-{{ product_page.id }}"><span class="fa fa-list-alt icon-btn m-r"></span>{{ product_page.name }}</button>
            </div>
             <div class="col-md-4 col-sm-6">
                 <a href="https://zubareva.online/faq/" class="btn btn-warning btn-block m-b" ><span class="fa fa-question-circle icon-btn m-r"></span>FAQ</a>
             </div>

         </div>



            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#rs-tab-01" aria-controls="rs-tab-01" role="tab"
                           data-toggle="tab" aria-expanded="true">Рецепты</a></li>
                    <li role="presentation" class=""><a href="#rs-tab-02" aria-controls="rs-tab-02" role="tab"
                                                        data-toggle="tab" aria-expanded="false">Меню на неделю</a></li>
                    {% if request.user.get_tariff_code == 'children' %}
                    <li role="presentation" class=""><a href="#rs-tab-04" aria-controls="rs-tab-04" role="tab"
                                                        data-toggle="tab" aria-expanded="false">Правила питания для детей</a>
                    </li>
                    {% endif %}
                    {% if request.user.get_tariff_code == 'family' %}
                    <li role="presentation" class=""><a href="#rs-tab-04" aria-controls="rs-tab-04" role="tab"
                                                        data-toggle="tab" aria-expanded="false">Правила питания для детей</a>
                    </li>
                    {% endif %}

                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-t-md">
                    <div role="tabpanel" class="tab-pane fade active in" id="rs-tab-01">
                        {% for r in recipes %}
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <!-- Begin Panel -->
                                <div class="panel panel-plain panel-rounded">
                                    <a class="url-news" href="{% url 'food:detail' r.pk %}">
                                        <div class="text-center">
                                            {% thumbnail r.img "545x477" as im %}
                                                <img style="width: 100%;height: 200px;object-fit: cover; transition: all .25s ease;" class="img-responsive"
                                                     src="{{ im.url }}">
                                            {% endthumbnail %}
                                        </div><!-- .panel-body -->
                                        <div class="panel-body text-left" style="min-height: 100px;padding: 10px;">
                                            <h6 class="panel-title">{{ r }}</h6>
                                        </div><!-- .panel-body -->
                                    </a>
                                </div><!-- /.panel -->
                                <!-- End Panel -->

                            </div><!-- /.col-dm-4 -->
                        {% endfor %}
                        <!-- paginator begin -->



                        <div class="clearfix"></div>
                        <div class="pagination">
                        <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page={{ recipes.previous_page_number }}">Предыдущий</a>
        {% endif %}

                            <span class="current">
            Страница {{ recipes.number }} из {{ recipes.paginator.num_pages }}.
        </span>

                            {% if recipes.has_next %}
                                <a href="?page={{ recipes.next_page_number }}">Следующий</a>
                            {% endif %}
    </span>
                        </div>
                        <!-- end paginator-->


                    </div><!-- /.tab-pane -->
                    <div role="tabpanel" class="tab-pane fade" id="rs-tab-02">
                        {{ menu_page.content|safe }}



                    </div><!-- /.tab-pane -->

                    <div role="tabpanel" class="tab-pane fade" id="rs-tab-04">


 <p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000"><strong>ПРАВИЛА ПИТАНИЯ И РАСПРЕДЕЛЕНИЯ ПРОДУКТОВ В ТЕЧЕНИЕ ДНЯ! ДЕТИ, 1-14 лет.</strong></span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Очень важно Вам, как родителям, привить ребенку принципы здорового питания, сформировать правильные пищевые привычки, успех зависит от личного примера, от культуры питания всей семьи!</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Очень важно соблюдать установленный режим питания для более четкой и правильной работы пищеварительной системы. Не отклоняйтесь от Вашего времени более, чем на 30 минут. При беспорядочном питании пищевой рефлекс, который отвечает за формирование хорошего аппетита, практически не вырабатывается, появление пищеварительных соков, ферментов так же снижается,- пища усваивается хуже. В промежутках, между приемами пищи предлагайте ребенку пить чистую воду.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Распределение калорийности в течение дня:</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Завтрак &ndash; 25%</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Обед- 35%</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Ужин- 25%</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Ланч и полдник- 15% ( 7,5% ланч и 7,5% полдник, соответственно).</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">В начале второго года жизни ребенка сохраняется 5 разовое питание, многие здоровые малыши после года начинают постепенно отказываться от последнего кормления и переходят на питание с 3,5-4-х часовым интервалом,- завтрак, обед, полдник и ужин. Вариант 4-5 разового питания является нормой для всех возрастных групп.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Завтрак в детском рационе может быть в виде каш с фруктами/ягодами или вариант не сладкой каши с мясом/рыбой/сыром/яйцом, творожные варианты в виде запеканок, сырников, ленивых вареников, свежего творога со сметаной и фруктами/ягодами/сухофруктами, пп выпечка в виде блинчиков, оладий. Дополняется завтрак ц/з хлебом с сливочным маслом, твердым сыром.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">1 перекус может быть в виде кисломолочной продукции с фруктами/ягодами, фруктовых салатов с орешками, легких пп десертов (желе, сорбет и пр.), сэндвичей из ц/з хлеба и домашних паштетов с овощами и пр.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Обед может быть в виде супа-пюре +мясо/птица/яйца/рыба + ц/з хлеб, каша/макароны с белковой частью, дополненные овощами.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">2 перекус может быть в виде кисломолочной продукции с пп печеньем/фруктами/ягодами, овощных и фруктовых салатов, омлетов с овощами.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Ужин может быть в виде круп/макарон с творогом, мясом/птицей/рыбой/яйцами, овощных рагу/пюре/салатов с белковой частью +ц/з хлеб с сливочным маслом, сыром.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Нормы&nbsp;<em>жидкости&nbsp;</em>для детей разного возраста в день, включая приготовление пищи, морсы, чаи и пр.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000">С&nbsp;</span><span style="color:#000000">1 года &ndash; 125 мл/кг</span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000">С&nbsp;</span><span style="color:#000000">4 лет &ndash; 105 мл/кг</span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000">С&nbsp;</span><span style="color:#000000">7 лет &ndash; 95 мл/кг</span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000">С&nbsp;</span><span style="color:#000000">11 лет &ndash; 75 мл/кг</span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000">С&nbsp;</span><span style="color:#000000">14 лет &ndash; 55 мл/кг</span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Прием жидкости, любой, в том числе чистой воды,- через полчаса после еды.</span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><span style="color:#000000"><strong>ИСКЛЮЧИТЬ:</strong></span></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Жареную пищу, копченые продукты, консервы, фаст фуд, все закуски- чипсы, снеки, сухарики, хот доги, газированные напитки, пакетированные соки, майонез, кетчуп. Мясные и рыбные бульоны, первые блюда на бульонах. Сдоба и магазинная выпечка.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Варианты приготовление блюд: на пару, варка, запекание, тушение.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Все продукты на вашем столе и в вашем холодильнике должны быть как можно более натуральными, имеющие как можно меньший состав, без ароматизаторов и консервантов.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Все масла в доме,- меняете на не рафинированные, холодного отжима.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Сливочное масло, хорошего качества, не менее 82,5% жирности.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Убираем из рациона весь сахар, меняем на кокосовый сахар, нерафинированный тростниковый, мед, натуральные сиропы и пекмезы.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Соль лучше выбирать йодированную, морскую.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Выпечка,- только домашняя, без сахара, без дрожжей, из цельнозерновой муки.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Вся кисломолочная продукция (кефир, творог, йогурт) должна быть&nbsp;5% жирности. Молочной продукции должно быть достаточное количество в ежедневном детском рационе.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Если берете творог в магазине- внимательно смотрите состав, в нем не должно быть крахмала, пальмового масла.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Избегайте надписи &ndash;ТВОРОЖНЫЙ ПРОДУКТ.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Сыры и колбасы. Магазинные колбасы (сосиски, сардельки) полностью исключаем, употребляем только самодельные колбасы и изделия из мяса.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Сыры выбираем маложирные не соленые &ndash; не более 16-18 г на 100 г продукта.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Сладости- домашняя выпечка, зефир без сахара(патока), мармелад, пастила.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Гречневую и овсяную каши необходимо включать в рацион ребенка 2-3 раза в неделю. Остальные виды круп- 1-2 раз в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Помним о фитиновой кислоте, которая содержится в зернах злаковых, предварительно замачиваем крупы на ночь в воде.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Макаронные изделия т/с пшеницы включаем в рацион 1-2 раза в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Мясо/птицу едим 5 раз в неделю, в т.ч. 1 раз субпродукты, рыбу 1-2 раза в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Грибы детям не даем.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><em>Если вашему ребенку нужно худеть, тогда выбираем продукты с низким ГИ, если просто сохранение здоровья, тогда продукты с высоким ГИ до 17-18, вечером с низким ГИ.</em></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff"><em>Особенности питания детей согласно возраста:</em></span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">1-1, 5 года:&nbsp;В большинстве случаев, грудное вскармливание, после 1 года жизни, происходит рано утром и перед сном, не редки и ночные кормления.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">В случае искусственного вскармливания, рекомендуется сохранять 1 кормление молочной смесью и не давать ее ночью.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Готовим все блюда отваривая в воде или на пару.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Крупы, которые едим в данном возрасте,- гречка, бурый рис, овсянка, кукурузная крупа, пробуем пшеничную кашу.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Яйца,- даем только желток, 2-3 раза в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">1,5-3 года: Может до 2 лет сохраняться ГВ и питание смесью.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Готовим до двух лет все блюда отваривая в воде или на пару.&nbsp;После 2 лет для малышей продукты уже можно запекать в духовом шкафу и тушить.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Крупы, которые едим в данном возрасте,- все вышеперечисленные + пшенная,полба, булгур, кус-кус из т/с. С 2 лет,- ячневую и перловую.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">После 2 лет в рацион детей можно включать блюда из цельнозерновой муки.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Яйца,- &frac12; целого, 3 раза в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">3-7 лет: Готовим блюда на пару, отвариваем, запекаем в духовке, тушим, можно обжаривать на антипригарной сковороде на капле кокосового масла.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Крупы все вышеперечисленные + пробуем полента, амарант, киноа.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Яйца,- &frac12; целого в день или 1 шт через день.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Можно пробовать вводить в рацион бобовые, предварительно замоченные на 12 ч в воде, даем 1-2 раза в неделю вместо круп/макарон.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Пробуем орехи, лучше начинать с самых гипоаллергенных,- кедровый орех и фундук, 20 г 2 раза в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Если нет аллергии на рыбу, можно пробовать вводить в рацион морепродукты, 3- 5 лет порция не более 50 г, 5-7 лет не более 70 г, 1 раз в неделю, чередуя с рыбой.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">7- 11 лет: Готовим блюда на пару, отвариваем, запекаем в духовке, тушим, можно обжаривать на антипригарной сковороде на капле кокосового масла.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Яйца,- 1 шт/день или 2 шт через день.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Орехи,- до 20 г 3 раза в неделю.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Морепродукты,- до 80 г/нед.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">11-14 лет: Готовим блюда на пару, отвариваем, запекаем в духовке, тушим, можно обжаривать на антипригарной сковороде на капле кокосового масла.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Яйца,- 1 шт/день или 2 шт через день.</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Орехи,- до 80 г в неделю (по 20 г 4 раза/нед).</span></span></span></span></p>

<p style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><span style="color:#000000"><span style="background-color:#ffffff">Морепродукты,- до 100 г/нед.</span></span></span></span></p>



                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- .panel-body -->
        </div><!-- /.panel -->
        <!-- End Panel -->

    </div>




{% endblock %}



{% block breadcrumbs %}
    <li class="active">Питание</li>
{% endblock %}

{% block js_block %}
<!-- Begin Default size modal -->
<div class="modal fade" id="bs-modal-size-{{ product_page.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content b-r-0 borderless">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{ product_page.name }}</h4>
			</div>
			<div class="modal-body">
				{{ product_page.content|safe }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
<!-- End Default size modal -->


	<!-- Screen overlay is required -->
	<div id="rs-screen-overlay"></div>
    <script type="text/javascript">
        $(function () {

            function get_calories(id) {
                $.ajax({
                    url: '/food/get_calories/?menu_type=' + id,
                    success: function (data) {
                        if (data.length > 0) {
                            $("#calories-list").show();
                            var $el = $("#calories-list select");
                            $el.empty();
                            $.each(data, function (i, v) {
                                console.log(v.val);
                                $el.append($("<option></option>")
                                        .attr("value", v.val).text(v.val));
                            });
                        } else {
                            var $el = $("#calories-list select");
                            $el.empty();
                            $("#calories-list").hide();
                        }
                    }
                });
            }

            $('select[name="menu_type"]').on('change', function () {
                var id = $(this).val();
                get_calories(id);
            });

        });
    </script>

{% endblock %}
