{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-6 col-sm-6 col-lg-6">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body text-left">
                <h4 class="panel-title">{{ object.name }}</h4>
            </div><!-- .panel-body -->
            <div class="text-center">
                {% thumbnail object.img "670x400" as im %}
                    <img width="100%"  src="{{ im.url }}" alt="{{ object.name }}" class="img-responsive">
                        {% endthumbnail %}
                <img class="" src="">
            </div><!-- .panel-body -->


        </div><!-- /.panel -->
        <!-- End Panel -->

    </div><!-- /.col-dm-4 -->
    <div class="col-md-6 col-sm-6 col-lg-6">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">

            <div class="panel-body text-left">
                <h4 class="panel-title">Описание</h4>
                <hr>
                {{ object.description|safe }}
            </div><!-- .panel-body -->

        </div><!-- /.panel -->
        <!-- End Panel -->

    </div><!-- /.col-dm-4 -->

{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'food:list' %}">Питание</a></li>
    <li><a href="{% url 'food:list' %}">Рецепты</a></li>
    <li class="active">{{ object.name }}</li>
{% endblock %}
