{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}



    <div class="col-md-6 col-sm-6 col-lg-6">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">

            <div class="panel-body text-left">
                <h4 class="panel-title">Описание</h4>
                <hr>
                ssssssssssssssssssssssssss
            </div><!-- .panel-body -->

        </div><!-- /.panel -->
        <!-- End Panel -->

    </div><!-- /.col-dm-4 -->

{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'food:list' %}">Питание</a></li>
    <li class="active">Список продуктов</li>
{% endblock %}
