#rs-wrapper.rs-icon-sidebar .rs-sidebar,
#rs-wrapper.rs-icon-sidebar .rs-sidebar:after {
	width: 70px;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav li.menu-header {
	color: transparent;
	overflow: hidden;
	display: none;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav li.menu-header:hover {
	width: 70px !important;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav li {
	position: relative;
	z-index: 9;
	border-bottom-width: 0;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav li.no-icon-menu {
	display: none;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li {
	width: 70px;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a {
	padding: 0;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid rgba(255,255,255,.035);
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.selected > a,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.active > a {
	background: transparent;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav .tooltip {
	white-space: nowrap;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a .rs-icon-menu {
	position: relative;
	width: 70px;
	height: 70px;
	line-height: 70px;
	left: auto;
	top: auto;
	display: inline-block;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li:hover > a {
	background: rgba(0,0,0,0.1);
}
.rs-icon-sidebar .rs-sidebar-nav a:not(:only-child):after,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.active > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li.active > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li:hover > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.active:hover > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li:hover > ul,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li.active:hover > ul {
	display: none !important;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a .badge,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a .badge.over-icon{
	left: 35px;
	top: 12px;
	margin-top: 0;
	right: auto;
}

.rs-icon-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a {
	width: 70px;
	height: 70px;
	padding: 15px;
	line-height: 14px;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .badge,
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .badge.over-icon{
	left: 43px;
	top: 4px;
}
.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav .rs-user-sidebar ul {
	display: none !important;
}
.rs-icon-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .avatar {
	position: static;
	width: 40px;
	height: 40px;
	left: auto;
	top: auto;
	margin-top: 0;
	display: inline-block;
}


@media (min-width: 769px) {

	#rs-wrapper.rs-icon-sidebar .rs-sidebar {
		overflow: visible !important;
	}
	#rs-wrapper.rs-icon-sidebar .rs-content-wrapper {
		margin-left: 70px;
	}
	#rs-wrapper.rs-icon-sidebar .rs-footer.absolute-footer {
		left: 70px;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.selected:hover > a:after,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.active:hover > a:after,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.selected > a:after,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.active > a:after{
		right: 0;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-right-color: #f5f5f5;
		border-width: 6px;
		margin-top: -6px;
		z-index: 10;
	}
}


@media (max-width: 768px) {
	#rs-wrapper.rs-icon-sidebar .navbar-header {
		text-align: left;
	}
	#rs-wrapper.rs-icon-sidebar {
		padding-bottom: 60px;
	}
	#rs-wrapper.rs-icon-sidebar .rs-footer.absolute-footer {
		bottom: 60px;
	}

	#rs-wrapper.rs-icon-sidebar .rs-sidebar {
		left: 0 !important;
		right: 0 !important;
		width: auto;
		top: auto !important;
		height: 60px;
		bottom: 0 !important;
	}
	.rs-icon-sidebar .rs-sidebar-nav li.menu-block-divider {
		display: none !important;
	}

	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav {
		white-space: nowrap;
		font-size: 0;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		text-align: center;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav:before,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav:after {
		display: table;
		content: " ";
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav:after {
		clear: both;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav .tooltip {
		display: none !important; 
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li {
		display: inline-block;
		width: 60px;
		vertical-align: top;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a {
		border-bottom-width: 0;
		height: 60px;
		line-height: 60px;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.selected,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.active {
		-webkit-box-shadow: inset 0 -2px 0px 0px rgba(129,199,132,1);
		-moz-box-shadow: inset 0 -2px 0px 0px rgba(129,199,132,1);
		box-shadow: inset 0 -2px 0px 0px rgba(129,199,132,1);
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a .rs-icon-menu {
		font-size: 20px;
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a .badge,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li > a .badge.over-icon{
		left: 30px;
		top: 5px;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .badge,
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .badge.over-icon{
		left: 33px;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a{
		width: 60px;
		height: 60px;
		padding: 0;
		border: none;
	}
	.rs-icon-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .avatar {
		left: auto;
		margin-top: -3px;
	}
}