{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
<div class="col-md-12">
<div class="alert alert-success alert-simple alert-dismissible fade in iconic-alert m-b-lg" role="alert">

							<div class="alert-icon">
								<span class="gcon gcon-emoji-happy centered-xy"></span>
							</div>
	<p style="font-size: 14px!important;">
		Выберете тип Ваших тренировок и нажмите кнопку "Выбрать".
		</p>
</div>
</div>
                            <div class="col-md-12">
								<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">
 								<form>

                                    <div class="row">
                                       <div class="col-md-12"> <label>Вид тренировок:</label></div>
                                        <div class="col-md-6">
											<div class="form-group">
												<select name="category" class="form-control">
                                                    {% for c in category_list %}
                                                        <option value="{{ c.slug }}" {% if request.GET.category == c.slug %} selected="selected" {% endif %}>{{ c.name }}</option>
                                                    {% endfor %}
												</select>
											</div>
										</div>
                                        <div class="col-md-3">
												<button class="btn btn-primary btn-block">Выбрать</button>
								        </div>
                                    </div>
                                </form>
                            </div>
                                </div>
                            </div>

<div class="col-md-12">
	<style>
		p {
			margin: 0;
		}
	</style>


                                {% if request.user.get_tariff_code == 'pregnancy' %}

	<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">
<h4 style="text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><u>ВСЕ СИЛОВЫЕ УПРАЖНЕНИЯ ПОВТОРЯЮТСЯ 2-3 ПО 8-12-16 ПОВТОРОВ ( В ЗАВИСИМОСТИ ОТ СОСТОЯНИЯ И ВАШИХ ОЩУЩЕНИЙ)</u></span></span></h4>

<p style="margin-left:0px; margin-right:0px; text-align:left"><strong><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><u>НЕ ДОЛЖНО БЫТЬ ОЩУЩЕНИЙ ДИСКОМФОРТА ИЛИ БОЛИ!</u></span></span></strong></p>

<p style="margin-left:0px; margin-right:0px; text-align:left">&nbsp;</p>

<ol>
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong>РАЗМИНКА 15-20 мин с мячом</strong></span></span></p>
	</li>
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong>ОСНОВНАЯ ЧАСТЬ (СТОЯ И В ПАРТЕРЕ) 15-20 МИН</strong></span></span></p>
	</li>
</ol>

<ul>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">ОТДЫХ: сидя на мяче работа со стопами, коленями, тазобедреннными суставами</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">ПРИСЕДАНИЯ с опорой на мяч и отведение ноги 2-3 подхода по 8-12 раз в разных режимах 2/2: 1/1 НА ОДНУ НОГУ</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">СИДЯ НА МЯЧЕ,РУКИ: гантели до 2х кг (бицепс,трицепс)</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">АЭРОБНАЯ ЧАСТЬ&nbsp;II&nbsp;перемещения с мячом</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">ПОВТОРИТЬ ПРИСЕДАНИЯ в разножке и отведение ноги на ВТОРУЮ НОГУ</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">ОТДЫХ:сидя на мяче работа с суставами ног: перекаты с пятки на носок и тд</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">СИДЯ НА МЯЧЕ,РУКИ:гантели по 1 кг: разведение рук в стороны,отведение назад (руки за спиной)</span></span></li>
	<li style="margin-left: 0px; margin-right: 0px;"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">ПАРТЕР: стоя на коврике</span></span></li>
</ul>

<ol style="list-style-type:lower-alpha">
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Боковые наклоны</span></span></p>
	</li>
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Подъёмы ноги</span></span></p>
	</li>
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Отжимания</span></span></p>
	</li>
</ol>

<p style="margin-left:0.5in; margin-right:0px; text-align:left"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">МЕНЯЕМ СТОРОНУ</span></span></p>

<ol style="list-style-type:lower-alpha">
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Боковые наклоны</span></span></p>
	</li>
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Подьемы ноги</span></span></p>
	</li>
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Жим ягодиц (подьемы таза)</span></span></p>
	</li>
</ol>

<p style="margin-left:0.25in; margin-right:0px; text-align:left">&nbsp;</p>

<ol start="3">
	<li>
	<p style="margin-left:0px; margin-right:0px"><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong>ЗАМИНКА:</strong>&nbsp;ПЕРЕКАТЫ С МЯЧОМ, РАССЛАБЛЕНИЕ</span></span></p>
	</li>
</ol>
							</div>
								</div>

{% elif request.get_full_path == '/training/?category=domashnie' %}

						<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">
								<div class="col-md-12">


<p dir="ltr" style="margin-right:-14pt"><strong>Неделя 2. Домашние тренировки. </strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Направление &mdash; Избавление от лишнего </strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Нацеленность - целенаправленная борьба с лишним весом (если действительно есть избыточный вес)</strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">Важно!! <span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели - на двухлитровые бутылки, эспандер - на медицинский жгут. Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при наличии и опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые. Упражнения, выполняемые мною на скамье, в домашних условиях могут выполняться, лёжа на полу. </span></p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Всего на одной тренировочной неделе</span> запланировано четыре тренировочных дней (3 силовых и 1 аэробный)<span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">, которые для удобства следует равномерно распределить в течение семи календарных дней.</span></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">В каждый силовой тренировочный день у нас определённый набор</span> упражнений<span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">, очередность их не меняем.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">На этой неделе тренируемся по принципу full-body, то есть воздействию на все тело, это значит, что выполняем тренировку по следующей схеме:</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">выполняем</span> указанное количество упражнений в 5 подходах. А <span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">каждое движение в рамках одного подхода &ndash; порядка</span> 20 повторений. <span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Отдых между подходами - 1 - 1,5 минуты, между упражнениями - столько же. Выполнив 5 подходов каждого упражнения, отдыхаем и переходим к следующему упражнению.</span></p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить 20 повторений каждого из упражнений в 5 подходах. Выполнять последние повторения в каждом подходе и упражнении </span>не должно быть легко<span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">!</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">&nbsp;</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Начинаем тренировку с разминки.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 1.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Отжимания от пола с ногами на скамье</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Подъем ног лёжа - &laquo;ножницы&raquo; (пресс)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Подъем рук со снарядами к себе поочередно</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Тяга резины к поясу (для проработки спины)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Суперсет: выпады и приседания с гантелью </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Компиляция: жим над головой и выпад назад </span></p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 2.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Выпады назад с приставлением ноги</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Сет на пресс (4 упражнения)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Отжимания от пола (трицепс)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Сет на дельты и бицепс</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Зашагивания</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Поочередные подъемы снарядов перед собой</span></p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 3.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Компиляция: жим снаряда над головой и за голову </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Скручивания на пресс</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Разводка рук в стороны с резиной (для проработки дельт)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Становая тяга с гантелями</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Отжимания от пола </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Выпады: трисет + дропсет</span></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 4. Аэробная нагрузка</span></p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Рекомендуется использовать любой доступный вид кардио &ndash; беговая дорожка, эллипс, степпер, &laquo;ступеньки&raquo; или гребной тренажер, велосипед. Также можно ходить по ступенькам в подъезде.</span></p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Наиболее эффективные и при этом безопасные варианты &ndash; гребной тренажер, эллипс или быстрая ходьба в горку по дорожке. Главное &ndash; в течение 40 &ndash; 50 минут. Если есть возможность измерять пульс, то пусть это будет около 140 &ndash; 160 ударов сердца в минуту.</span></p>



								</div>
							</div>
						</div>
 {% elif request.get_full_path == '/training/?category=izbavlenie-ot-lishnego-dom' %}

	<div class="panel panel-plain panel-rounded">
		<div class="panel-body">

			<div class="col-md-12">


<p dir="ltr" style="margin-right:-14pt"><strong>Неделя 2. Тренировки в тренажерном зале. </strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Направление &mdash; Избавление от лишнего </strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Нацеленность - целенаправленная борьба с лишним весом (если действительно есть избыточный вес)</strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">Важно!! Оборудование при выполнении упражнений может быть заменяемо. Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при наличии и опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">Всего на одной тренировочной неделе запланировано четыре тренировочных дней (3 силовых и 1 аэробный), которые для удобства следует равномерно распределить в течение семи календарных дней.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">В каждый силовой тренировочный день у нас определённый набор упражнений, очередность их не меняем.</p>

<p dir="ltr" style="margin-right:-14pt">На этой неделе тренируемся по принципу full-body, то есть воздействию на все тело, это значит, что выполняем тренировку по следующей схеме:</p>

<p dir="ltr" style="margin-right:-14pt">выполняем указанное количество упражнений в 5 подходах. А каждое движение в рамках одного подхода &ndash; порядка 20 повторений. Отдых между подходами - 1 - 1,5 минуты, между упражнениями - столько же. Выполнив 5 подходов каждого упражнения, отдыхаем и переходим к следующему упражнению.</p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить 20 повторений каждого из упражнений в 5 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">Начинаем тренировку с разминки.</p>

<p dir="ltr" style="margin-right:-14pt">День 1.</p>

<p dir="ltr" style="margin-right:-14pt">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">1. Компиляция: перекрестные выпады и жим гантели над головой</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">2. Скручивания на полу с ногами на возвышении</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">3. Разгибание рук в блочном тренажере (на трицепс)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">4. Жим гантелей от груди, лёжа</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">5. Становая тяга с гантелями</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">6. Сет на Дельты и бицепс</p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">День 2.</p>

<p dir="ltr" style="margin-right:-14pt">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">1. Жим ногами лежа со средней постановкой стоп</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">2. Подъем грифа вверх, лёжа на полу</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">3. Тяга верхнего &nbsp;блока к груди (на спину)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">4. Выпады: трисет + дропсет</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">5. Разведение рук с гантелями в стороны, лежа на наклонной скамье</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">6. Подъем на носки, стоя на одной ноге (для проработки икр)</p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">День 3.</p>

<p dir="ltr" style="margin-right:-14pt">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">1. Сет на пресс (4 упражнения)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">2. Перекрестные выпады</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">3. Сет на дельты и бицепс</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">4. Горизонтальные подтягивания</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">5. Отжимания от брусьев</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt">6. Компиляция: подьем снарядов к себе на бицепс и жим над головой</p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt">День 4. Аэробная нагрузка</p>

<p dir="ltr" style="margin-right:-14pt">Рекомендуется использовать любой доступный вид кардио &ndash; беговая дорожка, эллипс, степпер, &laquo;ступеньки&raquo; или гребной тренажер, велосипед. &nbsp;Наиболее эффективные и при этом безопасные варианты &ndash; гребной тренажер, эллипс или быстрая ходьба в горку по дорожке. Главное &ndash; в течение 40 &ndash; 50 минут. Если есть возможность измерять пульс, то пусть это будет около 140 &ndash; 160 ударов сердца в минуту.</p>





			</div>
		</div>
	</div>

 {% elif request.get_full_path == '/training/?category=podderzhanie-formy-dom' %}

	<div class="panel panel-plain panel-rounded">
		<div class="panel-body">

			<div class="col-md-12">


<p dir="ltr" style="margin-right:-14pt"><strong><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Неделя 2. Домашние тренировки. </span></strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Направление &mdash; &laquo;Стройный силуэт&raquo; </span></strong></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Нацеленность - общий тонус, четкие контуры тела, правильные пропорции. </span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Важно!! Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели - на двухлитровые бутылки, эспандер - на медицинский жгут. Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при наличии и опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые. Упражнения, выполняемые мною на скамье, в домашних условиях могут выполняться, лёжа на полу. </span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Всего на одной тренировочной неделе запланировано четыре тренировочных дней (3 силовых и 1 аэробный), которые для удобства следует равномерно распределить в течение семи календарных дней.</span></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">В каждый силовой тренировочный день у нас определённый набор упражнений, очередность их не меняем.</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">На этой неделе тренируемся по принципу full body, это значит, что воздействуем на все тело и выполняем тренировку по следующей схеме:</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">выполняем 5 подходов для каждого из упражнений, в рамках одного подхода - 15 повторений. Отдых между подходами - 2 минуты, между упражнениями - столько же. Выполнив цикл из 5 подходов, отдыхаем и переходим к следующему упражнению.</span></p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить 10-20 повторений каждого из упражнений в 4-5 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">&nbsp;</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Начинаем тренировку с разминки.</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 1.</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Отжимания от пола (трицепс)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Поочередная разводка снарядов в стороны</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Французский жим штанги / гантелей / бутылок</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Сет на пресс (4 упражнения)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Выпады динамические (широкий шаг)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Компиляция: перекрестные выпады и жим гантели над головой</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 2.</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Перекрестные выпады</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Динамическая планка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Обратные отжимания (от скамьи)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Отжимания от пола с ногами на скамье </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Выпады динамические (узкий шаг)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Сет из подъема рук перед собой и разведения в стороны</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 3.</span></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Компиляция: подъем снарядов к себе на бицепс и жим над головой</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Скручивания на пресс </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Тяга резины к поясу (для проработки спины)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Становая тяга с гантелями</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Подъем рук к себе с резиной (бицепс)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Поочередные подъемы снарядов перед собой</span></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 4. Аэробная нагрузка</span></p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Рекомендуется использовать любой доступный вид кардио &ndash; беговая дорожка, эллипс, степпер, &laquo;ступеньки&raquo; или гребной тренажер, велосипед. Также можно ходить по ступенькам в подъезде.</span></p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Наиболее эффективные и при этом безопасные варианты &ndash; гребной тренажер, эллипс или быстрая ходьба в горку по дорожке. Главное &ndash; в течение 40 &ndash; 50 минут. Если есть возможность измерять пульс, то пусть это будет около 140 &ndash; 160 ударов сердца в минуту.</span></p>




			</div>
		</div>
	</div>
 {% elif request.get_full_path == '/training/?category=silovye' %}

	<div class="panel panel-plain panel-rounded">
		<div class="panel-body">

			<div class="col-md-12">


<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Тренировочный план, &laquo;Общая физическая подготовка&raquo; </strong></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Подходит для &laquo;возрастных&raquo; тренировок, либо для участников с ограничениями по здоровью </strong></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Неделя 2. Тренировки в тренажёрном зале</strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Важно!! Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели, эспандер . Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Всего на одной тренировочной неделе запланировано три тренировочных дня, которые для удобства следует равномерно распределить в течение семи календарных дней.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">В каждый тренировочный день у нас определённый набор упражнений, очередность их не меняем.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">На этой неделе тренируемся по принципу full body, это значит, что воздействует на все тело и выполняем тренировку по следующей схеме:</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">выполняем 4 подхода для каждого из упражнений, в рамках одного подхода - 15 повторений. Отдых между подходами - 2 минуты, между упражнениями - столько же. Выполнив цикл из 4 подходов, отдыхаем и переходим к следующему упражнению.</p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить ориентировочно 15 повторений каждого из упражнений в 4 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Начинаем тренировку с разминки.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 1.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Скручивания на пресс</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Разгибание рук в блочном тренажере (на трицепс)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Тяга верхнего бока к груди (на спину)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Поочередные выпады назад</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Сет на дельты и бицепс</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 2.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Суперсет: жим от груди классический и узкий</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Горизонтальные подтягивания</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Выпады со статической нагрузкой в нижней точке</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Компиляция: жим снаряда над головой и за голову</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Приседания с петлями (при наличии опыта тренировок с ними) или жим ногами лежа с широкой постановкой стоп</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 3.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Складывания с отягощением в руках (на пресс)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Перекрестные выпады</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Поочередные подъемы снарядов перед собой</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Тяга нижнего блока к поясу (для проработки спины)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Подъем на носки в тренажере для проработки икр</p>





			</div>
		</div>
	</div>

  {% elif request.get_full_path == '/training/?category=strojnyj-siluet' %}
	<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">

								<div class="col-md-12">

<p dir="ltr" style="margin-right:-14pt"><strong>Неделя 2. Тренировки в тренажерном зале. </strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Направление &mdash; &laquo;Стройный силуэт&raquo; </strong></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Нацеленность - общий тонус,</span> четкие контуры тела, правильные пропорции. </strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Важно!! Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели, эспандер. Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при опыте и наличии.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Всего на одной тренировочной неделе запланировано четыре тренировочных дня, которые для удобства следует равномерно распределить в течение семи календарных дней.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">В каждый силовой тренировочный день у нас определённый набор упражнений, очередность их не меняем.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">На этой неделе также тренируемся по принципу full body, это значит, что выполняем тренировку по следующей схеме:</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">выполняем 5 подходов для каждого из упражнений, в рамках одного подхода - 15 повторений. Отдых между подходами - 2 минуты, между упражнениями - столько же. Выполнив цикл из 5 подходов, отдыхаем и переходим к следующему упражнению.</p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить 10-20 повторений каждого из упражнений в 4-5 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Начинаем тренировку с разминки.</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 1.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Мертвая тяга по одной ноге + подъем на бицепс: Компиляция</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Подъем грифа вверх, лежа на полу</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Суперсет: жим от груди классический и узкий</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Тяга нижнего блока к поясу (для проработки спины)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Выпады динамические (узкий шаг)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. сет на дельты и бицепс</span></p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 2.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Становая тяга с гантелями</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Скручивания на римском стуле </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Сет на пресс (4 упражнения)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. Выпады динамические (широкий шаг)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Разгибание рук в блочном тренажере (на трицепс)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Подъем на носки, стоя на одной ноге (для проработки икр)</span></p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 3.</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Разминка</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">1. Компиляция на пресс: подъём ног вверх с отрыванием таза и без </span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">2. Выпады с петлями (при опыте тренировок с ними ИЛИ выпады назад)</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">3. Горизонтальные подтягивания с классической постановкой рук (с петлями, при наличии опыта тренировок &nbsp;с ними) ИЛИ отжимания от пола</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">4. &quot;Книжечка&quot; для проработки &nbsp;пресса</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">5. Сет на дельты и бицепс</span></p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">6. Подъем штанги к себе для проработки бицепса</span></p>

<p dir="ltr" style="margin-right:-14pt">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">День 4. Аэробная нагрузка</span></p>

<p dir="ltr" style="margin-right:-14pt"><span style="background-color:#ffffff; color:#000000; font-family:Arial; font-size:10pt">Рекомендуется использовать любой доступный вид кардио &ndash; беговая дорожка, эллипс, степпер, &laquo;ступеньки&raquo; или гребной тренажер, велосипед. &nbsp;Наиболее эффективные и при этом безопасные варианты &ndash; гребной тренажер, эллипс или быстрая ходьба в горку по дорожке. Главное &ndash; в течение 40 &ndash; 50 минут. Если есть возможность измерять пульс, то пусть это будет около 140 &ndash; 160 ударов сердца в минуту.</span></p>




								</div>

							</div>
                                </div>

  {% elif request.get_full_path == '/training/?category=dlya-vozrastnyh' %}
	<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">

								<div class="col-md-12 ">


<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Тренировочный план, &laquo;Общая физическая подготовка&raquo; </strong></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Подходит для &laquo;возрастных&raquo; тренировок, либо для участников с ограничениями по здоровью </strong></p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Неделя 2. Домашние тренировки </strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Важно!! Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели - на двухлитровые бутылки, эспандер - на медицинский жгут. Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при наличии и опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые. Упражнения, выполняемые мною на скамье, в домашних условиях могут выполняться, лёжа на полу.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Всего на одной тренировочной неделе запланировано три тренировочных дня, которые для удобства следует равномерно распределить в течение семи календарных дней.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">В каждый тренировочный день у нас определённый набор упражнений, очередность их не меняем.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">На этой неделе тренируемся по принципу full body, это значит, что воздействует на все тело и выполняем тренировку по следующей схеме:</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">выполняем 4 подхода для каждого из упражнений, в рамках одного подхода - 15 повторений. Отдых между подходами - 2 минуты, между упражнениями - столько же. Выполнив цикл из 4 подходов, отдыхаем и переходим к следующему упражнению.</p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить ориентировочно 15 повторений каждого из упражнений в 4 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Начинаем тренировку с разминки.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 1.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Динамическая планка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Отжимания от пола (на трицепс)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Обратные подтягивания с узкой постановкой рук (с петлями; при наличии опыта тренировок с ними) ИЛИ отжимания от пола</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Выпады назад</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Жим гантелей над головой, сидя</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 2.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Cкладывания с отягощением в руках (на пресс)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Тяга гантели одной рукой, стоя в наклоне</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Поочередные выпады назад</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Сет из подъема рук с гантелями перед собой и разведения в стороны</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Жим гантелей от груди, лежа</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 3.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Скручивания на пресс</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Выпады со статической нагрузкой в нижней точке</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Подъем гантелей к себе (молоточки)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Отжимания от пола</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Сет на дельты и бицепс</p>



								</div>

							</div>
                                </div>


{% elif request.get_full_path == '/training/?category=nabor-myshechnoj-massy-v-zale' %}
	<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">

								<div class="col-md-12 ">

<p><strong>Тренировочный план, Набор мышечной массы</strong></p>

<p>&nbsp;
<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Подходит для мужчин и женщин, которые стремятся нарастить мышечные объемы и укрепить здоровье</strong></p>
</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify"><strong>Неделя 2. Тренировки в тренажёрном зале</strong></p>

<p>&nbsp;
<p dir="ltr" style="margin-right:-14pt; text-align:justify">Важно!! Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели, эспандер . Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые.</p>
</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Всего на одной тренировочной неделе запланировано три тренировочных дня, которые для удобства следует равномерно распределить в течение семи календарных дней.</p>

<p>&nbsp;
<p dir="ltr" style="margin-right:-14pt; text-align:justify">В каждый тренировочный день у нас определённый набор упражнений, очередность их не меняем.</p>
</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">На этой неделе тренируемся по принципу full body, это значит, что воздействует на все тело и выполняем тренировку по следующей схеме:</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">выполняем 4 подхода для каждого из упражнений, в рамках одного подхода - 15 повторений. Отдых между подходами - 2 минуты, между упражнениями - столько же. Выполнив цикл из 4 подходов, отдыхаем и переходим к следующему упражнению.</p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить ориентировочно 15 повторений каждого из упражнений в 4 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Начинаем тренировку с разминки.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 1.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Подъем ног в виси с упором на предплечья</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Отжимания от брусьев</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Тяга нижнего блока к поясу (для проработки спины)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Жим ногами лежа со средней постановкой стоп</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Протяжка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">6. Подъем на носки в тренажере для проработки икр</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 2.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Скручивания на пресс</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Горизонтальные подтягивания</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Жим ногами лежа по одной ноге</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Компиляция: жим снаряда над головой и за голову</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Отжимания от пола с ногами на скамье</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">6. Обратные отжимания (от скамьи)</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 3.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Скручивания на римском стуле</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Выпады : трисет + дропсет</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Мертвая тяга на одной ноге</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Сет на дельты и бицепс</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Разводка гантелей над грудью, лежа на горизонтальной скамье</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">6. Суперсте: жим от груди классический и узкий</p>





								</div>

							</div>
                                </div>


{% elif request.get_full_path == '/training/?category=nabor-myshechnoj-massy-doma' %}
	<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
                            <div class="panel-body">

								<div class="col-md-12 ">




<p dir="ltr" style="margin-right:-14pt"><strong>Тренировочный план, &laquo;Набор мышечной &nbsp;массы&raquo; </strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Подходит для мужчин и женщин, которые стремятся нарастить мышечные объемы и укрепить здоровье</strong></p>

<p dir="ltr" style="margin-right:-14pt"><strong>Неделя 2. Домашние тренировки </strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Важно!! Оборудование при выполнении упражнений может быть заменяемо &ndash; штанга и гантели - на двухлитровые бутылки, эспандер - на медицинский жгут. Подвесной &nbsp;тренажер - петли (также известен как TRX) не обязателен к использованию, с ним можно работать при наличии и опыте тренировок. Упражнения с ним могут быть заменены на другие предлагаемые. Упражнения, выполняемые мною на скамье, в домашних условиях могут выполняться, лёжа на полу.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Всего на одной тренировочной неделе запланировано три тренировочных дня, которые для удобства следует равномерно распределить в течение семи календарных дней.</p>

<p>&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">В каждый тренировочный день у нас определённый набор упражнений, очередность их не меняем.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">На этой неделе тренируемся по принципу full body, это значит, что воздействует на все тело и выполняем тренировку по следующей схеме:</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">выполняем 4 подхода для каждого из упражнений, в рамках одного подхода - 15 повторений. Отдых между подходами - 2 минуты, между упражнениями - столько же. Выполнив цикл из 4 подходов, отдыхаем и переходим к следующему упражнению.</p>

<p dir="ltr" style="margin-left:27pt; margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Рабочий вес в каждом упражнении подбирается ощутимый, такой, который позволит выполнить ориентировочно 15 повторений каждого из упражнений в 4 подходах. Выполнять последние повторения в каждом подходе и упражнении не должно быть легко!</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Начинаем тренировку с разминки.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 1.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Скручивания на пресс</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Жим штанги над головой, стоя</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Компиляция: тяга штанги на спину + мертвая тяга</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Зашагивания</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Суперсет: жим от груди классический и узкий</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">6. Подъем гантелей к себе - молоточки</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 2.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Скручивания, лежа на полу, с поднятыми вверх ногами</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Отжимания от пола</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Выпады назад</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Разводка рук в стороны с резиной (для проработки дельт)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Подъем рук со снарядами к себе поочередно</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">6. Подъем на носки (стоя на одной ноге)</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">&nbsp;</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">День 3.</p>

<p dir="ltr" style="margin-right:-14pt; text-align:justify">Разминка</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">1. Компиляция на пресс: подъём ног вверх с отрыванием таза и без</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">2. Становая тяга с гантелями</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">3. Подъем гантелей к себе (молоточки)</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">4. Отжимания от пола с ногами на скамье</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">5. Компиляция: жим снаряда над головой и за голову</p>

<p dir="ltr" style="margin-left:35pt; margin-right:-14pt; text-align:justify">6. Компиляция: разводка гантелей в стороны + тяга к подбородку</p>





								</div>

							</div>
                                </div>





 {% else %}

                                {% endif %}






</div>
    {% for tr in training_list %}
        <div class="col-md-4 col-sm-4 col-lg-4">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded" >
                <a class="url-news" href="{% url 'training:detail' tr.pk %}">
                    <div class="text-center">
                        {% thumbnail tr.img "297x222" as im %}
                            <img style="width: 100%; height: 180px;" class="img-responsive" src="{{ im.url }}">
                        {% endthumbnail %}
                    </div><!-- .panel-body -->
                    <div class="panel-body text-left" style="height: 80px;">

                        <h6 style="font-size: 13px;" class="panel-title">{{ tr.title }}</h6>
                        <p style="font-size: 11px;" class="media-subheading text-muted small news-date">{{ tr.second_title }}</p>
                    </div><!-- .panel-body -->
                </a>
            </div><!-- /.panel -->
            <!-- End Panel -->

        </div><!-- /.col-dm-4 -->
    {% endfor %}















{% endblock %}



{% block breadcrumbs %}
    <li>Тренировки</li>
{% endblock %}