{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


                            <div class="col-md-6 col-sm-6 col-lg-6">
								<div class="panel panel-plain panel-rounded">
                                        <div class="panel-body text-left">
                                            <p class="media-subheading text-muted small news-date">{{ object.second_title }}</p>
                                            <h4 class="media-heading">{{ object.title }}</h4>
                                            <p> {% autoescape off %} {{ object.description }} {% endautoescape %}</p>

                                        </div><!-- .panel-body -->
                               </div>
                            </div>
							<div class="col-md-6 col-sm-6 col-lg-6">
								<!-- Begin Panel -->
								<div class="panel panel-plain panel-rounded">
									   <div class="panel-body text-center">
                                           <!-- 16:9 aspect ratio -->
                                           <div class="embed-responsive embed-responsive-16by9">
                                             <!-- <video controls>
                                                <source src="mov_bbb.mp4" type="video/mp4">
                                                <source src="mov_bbb.ogg" type="video/ogg">
                                                Your browser does not support HTML5 video.
                                             </video>-->
                                               <iframe  src="{{ object.video_url }}" frameborder="0" allowfullscreen></iframe>

                                           </div>

									   </div><!-- .panel-body -->
								</div><!-- /.panel -->
								<!-- End Panel -->

							</div><!-- /.col-dm-4 -->
{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'training:list' %}">Тренировки</a></li>
    <li>{{ object.title }}</li>
{% endblock %}