{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <div class="col-md-8">

        <div class="panel panel-plain panel-rounded">
            <div class="panel-heading borderless">
                <h3 class="panel-title">Рейтинг по тестам</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body p-t-0">

                			<div class="table-responsive">
									<table data-sortable class="table table-condensed table-b-t">
										<thead>
											<tr>
												
											</tr>
										</thead>
										<tbody>
                                         {% for res in results %}
											<tr>
												<td><span class="badge badge-success">{{ res.score }}</span></td>
												<td>{{ res.user.first_name }} {{ res.user.last_name }}</td>

											</tr>
                                          {% endfor %}
										</tbody>
									</table>
								</div><!-- /.table-responsive -->

            </div><!-- .panel-body -->
        </div>
    </div>
{% endblock %}
