{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <div class="col-md-8 col-sm-12 col-lg-8">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <h4 class="text-center">{{ object.title }}</h4>
                    <p class="text-center">{{ object.description }}</p>
                    <div class="col-md-4 col-sm-12 col-md-offset-4">
                        <a href="{% url 'quiz:start' object.pk %}" class="btn btn-primary btn-block active m-b">Начать тест</a>
                    </div>
                </div>
            </div><!-- .panel-body -->
        </div><!-- /.panel -->
        <!-- End Panel -->
    </div><!-- /.col-dm-12 -->
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:list' %}">Тестирование</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock %}
