{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    {% for q_item in quiz_list %}
    <div class="col-md-8 col-sm-12 col-lg-8">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <a style="display: block;border: 1px solid#4a89dc;" href="{% url 'quiz:detail' q_item.pk %}">
                        <h4 class="text-center">{{ q_item.title }}</h4>
                    </a>
                    <br>
                </div>
            </div><!-- .panel-body -->
        </div><!-- /.panel -->
        <!-- End Panel -->
    </div><!-- /.col-dm-12 -->
    {% endfor %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Тестирование</li>
{% endblock %}
