{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <div class="col-md-12 col-sm-12 col-lg-12">
        {% if not results %}
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-body p-b-0 text-left">
                    <div class="media-body">
                        <h5 class="text-left">{{ question }}</h5>
                        <form method="post">
                            <div class="col-md-12">
                                <input type="hidden" name="{{ choice_form.quiz.html_name }}"
                                       value="{{ question.quiz.pk }}">
                                <input type="hidden" name="{{ choice_form.user.html_name }}"
                                       value="{{ request.user.pk }}">
                                <input type="hidden" name="{{ choice_form.question.html_name }}"
                                       value="{{ question.pk }}">

                                {% for answer in question.answers.all %}
                                    {% csrf_token %}
                                    <div class="radio radio-custom radio-primary" style="margin:20px 0;">
                                        <label>
                                            <input type="radio" name="{{ choice_form.answer.html_name }}"
                                                   id="rc-primary-01" value="{{ answer.pk }}">
                                            <span class="checker"></span>
                                            {{ answer }}
                                        </label>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input type="submit" value="Ответить" class="btn btn-primary btn-block active m-b">
                            </div>
                        </form>
                    </div>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        {% else %}

        <div class="panel panel-plain panel-rounded">
            <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <div class="col-md-9">
                        <h4 class="text-center">Результат тестирования</h4>
                        <h2 class="text-center" style="color:#5eb762;margin: 6% 0;">Вы набрали  {{ results.score }} баллов
                            <i data-brackets-id="46692" class="glyphicon glyphicon-stats"></i>
                        </h2>
                    </div>

                    <div class="col-md-3">
                        <a href="{% url 'quiz:results' quiz.pk %}" class="btn btn-success btn-outline btn-block m-b">Рейтинг тестов</a>
                    </div>
                    <div class="col-md-12"><hr></div>
                    <div class="col-md-12">
                        {% if user.knowledge.code == 'initial' %}
                            <h4 class="text-center">Ответы на тест</h4>
                        <br>
                            <div class="media-body">


        <p style="text-align:left"><em>1. Сколько раз в неделю допускается прием ПП выпечки, на этапе похудения?</em></p>

<p style="text-align:left">A&nbsp;- 2 р в неделю</p>

<p style="text-align:left">B&nbsp;- 3 раза.в день на завтрак, обед, ужин.</p>

<p style="text-align:left">C&nbsp;- 1 р.в неделю. Можно есть только на обед.</p>

<p style="text-align:left"><em>Правильный ответ &ndash; 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>2. Как часто заправляем маслами салаты?</em></p>

<p style="text-align:left">A&nbsp;- Масла категорически нельзя употреблять в виде заправок для салата.</p>

<p style="text-align:left">B&nbsp;- Маслами заправляем ВСЕГДА салаты или овощи, после приготовления, непосредственно перед употреблением.</p>

<p style="text-align:left">C&nbsp;- Если вы не добавляли масло в обед, тогда можно заправить салат на ужин.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>3. Перечислите фрукты, ягоды с высоким ГИ. Когда допустимо их употребление?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Груша, персик,вишня, апельсин. Первый перекус</p>

<p style="text-align:left">B&nbsp;- Банан, виноград, хурма, арбуз, дыня. Завтрак</p>

<p style="text-align:left">C&nbsp;- Алыча, смородина, крыжовник, яблоко.Второй перекус</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>4. Какие хлебобулочные продукты допустимы при сбалансированном питании?</em></p>

<p style="text-align:left">A&nbsp;- Цельнозерновые, бездрожжевые</p>

<p style="text-align:left">B&nbsp;- Цельнозерновые без яиц.</p>

<p style="text-align:left">C&nbsp;- Только бездрожжевые</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>5. Картофель при сбалансированном питании: когда, сколько и в каком виде?</em></p>

<p style="text-align:left">A&nbsp;- Не более 200 гр на обед.</p>

<p style="text-align:left">B&nbsp;- 2 раза в неделю, обед, отварной в мундире или запеченный.</p>

<p style="text-align:left">C&nbsp;- Отварной картофель на обед, через день</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>6. Требуются ли на сбалансированном питании дополнительный прием аптечных поливитаминов?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Нет</p>

<p style="text-align:left">B&nbsp;&ndash; Рекомендуется прием в зимне-весенний период</p>

<p style="text-align:left">C&nbsp;&ndash; Да, это хорошее дополнение к сбалансированному рациону</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>7. Каков должен быть временной промежуток между приемами пищи?</em></p>

<p style="text-align:left">A&nbsp;- До 2-х часов.</p>

<p style="text-align:left">B&nbsp;- Перерыв между приемами пищи &ndash;1,5 часа</p>

<p style="text-align:left">C&nbsp;- Перерыв между приемами пищи &ndash; 2,5-3 часа</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>8. Чернослив, курага, изюм &mdash; когда едим эти продукты?</em></p>

<p style="text-align:left">A&nbsp;- Завтрак</p>

<p style="text-align:left">B&nbsp;- Обед</p>

<p style="text-align:left">C&nbsp;- Второй перекус</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>9. Важно ли приучать себя питаться по графику (по часам)?</em></p>

<p style="text-align:left">A&nbsp;- Нет, если вы это не столь важно.</p>

<p style="text-align:left">B&nbsp;- Да. Это очень важно в системе правильного питания, таким образом, мы налаживаем обмен веществ и метаболические процессы.</p>

<p style="text-align:left">C&nbsp;- Да, но только первую неделю.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>10. Можно ли делать панировку из отрубей на ужин?</em></p>

<p style="text-align:left">A&nbsp;- Да.</p>

<p style="text-align:left">B&nbsp;- Нет.</p>

<p style="text-align:left">C&nbsp;- Такую панировку вообще лучше не делать.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>11. &quot;Волшебное время&quot; для разрешённых сладостей во второй половине дня.</em></p>

<p style="text-align:left">A&nbsp;- 18:00-19:00</p>

<p style="text-align:left">B&nbsp;- 17:00-18:00</p>

<p style="text-align:left">C&nbsp;- 16:00-17:00.</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>12. Я позавтракала , потренировалась и хочу перекусить, что мне выбрать?</em></p>

<p style="text-align:left">A&nbsp;- Сложные углеводы и белок.</p>

<p style="text-align:left">B&nbsp;- Простой углевод+ белок</p>

<p style="text-align:left">C&nbsp;- Белок+ жир</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>13. Необходимо ли Вам считать КБЖУ в рамках Школы?</em></p>

<p style="text-align:left">A&nbsp;- Нет, не обязательно, КБЖУ и граммовки даны в ознакомительных целях, им можно не следовать</p>

<p style="text-align:left">B&nbsp;- Нет, можно соблюдать граммовки, рассчитанные мной для Вас и выполнять все нормы Вашего КБЖУ.</p>

<p style="text-align:left">C&nbsp;- Да, это обязательно делать.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><em>14. В основном меню есть суп-пюре из шампиньонов на обед, его будет достаточно или необходимо добавить в нему ещё что-то?</em></p>

<p style="text-align:left">A&nbsp;- Можно оставить и так, если на ужин добавить двойную порцию белка.</p>

<p style="text-align:left">B&nbsp;- Нет, необходимо добавить животный белок.</p>

<p style="text-align:left">C&nbsp;- Необходимо добавить животный или растительный белок.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>15. Можно ли бобовыми заменить в рационе рыбу/мясо (Вы,- не вегетарианец)</em></p>

<p style="text-align:left">A&nbsp;- Нет</p>

<p style="text-align:left">B&nbsp;- Да</p>

<p style="text-align:left">C&nbsp;- Можно, если добавить молочные продукты.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>16. Можно ли проводить кардио натощак?</em></p>

<p style="text-align:left">A&nbsp;- Нет</p>

<p style="text-align:left">B&nbsp;- Да</p>

<p style="text-align:left">C&nbsp;- Можно, если уверены, что так лучше происходят процессы похудения.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>17. Минимальное количество приемов пищи в день?</em></p>

<p style="text-align:left">A&nbsp;- 4</p>

<p style="text-align:left">B&nbsp;- 3</p>

<p style="text-align:left">C&nbsp;- 2</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>18. Какое максимальное количество яиц в день может съедать женщина при похудении?</em></p>

<p style="text-align:left">A&nbsp;- 1</p>

<p style="text-align:left">B&nbsp;- 2</p>

<p style="text-align:left">C&nbsp;- 4</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>19. Подходит ли 45% сыр для еды при похудении?</em></p>

<p style="text-align:left">A&nbsp;- Нет</p>

<p style="text-align:left">B&nbsp;- Да, подходит в любом количестве</p>

<p style="text-align:left">C&nbsp;- Да, подходит, только не более 20 г\день</p>

<p style="text-align:left"><em>Правильный ответ &ndash; 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>20. Макароны из гречки это белковый или углеводный продукт?</em></p>

<p style="text-align:left">A&nbsp;- Углеводный</p>

<p style="text-align:left">B&nbsp;- Жирами</p>

<p style="text-align:left">C&nbsp;- Белком</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>



                            </div>
                        {% elif user.knowledge.code == 'average' %}
                             <h4 class="text-center">Ответы на тест</h4>
                        <br>
                        <div class="media-body">


<p style="text-align:left"><em>1. Если на обед был разрешенный суп, каким видом пищи мы должны дополнить данный прием пищи? Белком/жирами/углеводами?</em></p>

<p style="text-align:left">A&nbsp;- Белком</p>

<p style="text-align:left">B&nbsp;- Жирами</p>

<p style="text-align:left">C&nbsp;- Углеводами</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>2. Цельнозерновой хлеб=сложные углеводы?</em></p>

<p style="text-align:left">A&nbsp;- Это простые углеводы</p>

<p style="text-align:left">B&nbsp;- Нет</p>

<p style="text-align:left">C&nbsp;- Да</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>3. Грибы являются заменой рыбе (не вег.меню)?</em></p>

<p style="text-align:left">A&nbsp;- Нет</p>

<p style="text-align:left">B&nbsp;- Да</p>

<p style="text-align:left">C&nbsp;- Не все, лишь некоторые виды грибов</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>4. Какой вид кардио самый эффективный?</em></p>

<p style="text-align:left">A&nbsp;- Обеденное и послеобеденное</p>

<p style="text-align:left">B&nbsp;- Вечернее</p>

<p style="text-align:left">C&nbsp;- Утреннее</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>5. Формула расчета идеального веса</em></p>

<p style="text-align:left">A&nbsp;- Формула СПК</p>

<p style="text-align:left">B&nbsp;- Формула&nbsp;Divine</p>

<p style="text-align:left">C&nbsp;- Формула КБЖУ</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>6. Можно ли маложирный сыр на 2 перекус и, если да, то сколько?</em></p>

<p style="text-align:left">A&nbsp;- Можно, но не больше 10 грамм.</p>

<p style="text-align:left">B&nbsp;- Можно, не более 30 грамм.</p>

<p style="text-align:left">C&nbsp;- Нет, лучше, чтобы последний приём сыра был в обед, грамм 40-50.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>7. Можно ли нам грибы, в каком количестве и когда?</em></p>

<p style="text-align:left">A&nbsp;- Грибы кушать не рекомендуется.</p>

<p style="text-align:left">B&nbsp;- Можно в течении всего дня, но не как отдельный приём пищи, а для вкусовых качеств.</p>

<p style="text-align:left">C&nbsp;&ndash; Можно только в обед.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>8. Что могут спровоцировать у здорового человека избыточное потребление отрубей? Какова их норма?</em></p>

<p style="text-align:left">A&nbsp;- Изжогу. 10-15 грамм.</p>

<p style="text-align:left">B&nbsp;- Запоры. 15-20 грамм.</p>

<p style="text-align:left">C&nbsp;&ndash; Диарею. 25-30 грамм.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>9. Обязательно ли здоровым людям питаться 5-6 раз в день?</em></p>

<p style="text-align:left">A&nbsp;- Нет, можно в день есть и меньше, но только если на следующий день Вы восполните пропущенный приём пищи.</p>

<p style="text-align:left">B&nbsp;- Ориентируемся только на свои ощущения,- комфортно или нет.</p>

<p style="text-align:left">C&nbsp;- Да, иначе никогда не похудеете.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>10. Как могут проявляться ряд перестроек в органах и системах организма при переходе на ПП?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Такие проблемы никогда не возникают.</p>

<p style="text-align:left">B&nbsp;- Проблемы с сердечно-сосудистой системой, памятью.</p>

<p style="text-align:left">C&nbsp;- Проявления в виде сыпи на лице, запоров, плохого самочувствия, головной боли, изжоги.</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>11. Льняное масло и рыбий жир принимаем непрерывно или курсами? Как именно?</em></p>

<p style="text-align:left">A&nbsp;- Курсами,- 3 месяца принимаем, 1 месяц перерыв.</p>

<p style="text-align:left">B&nbsp;&ndash; Курсами,- 1 месяц принимаем, 3 месяца перерыв.</p>

<p style="text-align:left">C&nbsp;- Непрерывно.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>12. Считается ли овсяноблин пп выпечкой? Сколько раз в неделю его можно?</em></p>

<p style="text-align:left">A&nbsp;- Нет, не выпечка. Можно ежедневно, если не надоедает.</p>

<p style="text-align:left">B&nbsp;- Да, это выпечка, можно есть не чаще 2-х раз в неделю.</p>

<p style="text-align:left">C&nbsp;- Нет, не выпечка. Есть можно хоть каждый день, но только на 2 перекус.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>13. Почему в Онлайн Школе мы не жарим продукты на масле?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Можно использовать каплю нерафинированного масла для жарки.</p>

<p style="text-align:left">B&nbsp;- Можно жарить на любом масле, но в небольшом количестве.</p>

<p style="text-align:left">C&nbsp;- Растительное масло при нагревании выделяет канцерогенные вещества.</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>14. Возможно ли приготовление мяса на ужин в маринаде состав (йогурт, кефир. специи)?</em></p>

<p style="text-align:left">A&nbsp;- Нет</p>

<p style="text-align:left">B&nbsp;- Да.</p>

<p style="text-align:left">C&nbsp;- Зависит от варианта выбранного меню.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>15. Основное (простое,ГВ) меню- правила применения в питании бобовых.</em></p>

<p style="text-align:left">A&nbsp;&ndash; Употребяем в обед , до 15-00</p>

<p style="text-align:left">B&nbsp;&ndash; Замачиваем, кушаем, после 15.00</p>

<p style="text-align:left">C&nbsp;- Замачивание, кушаем в обед до 15.00</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>16. Свекла, морковь,- что объединяет эти продукты?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Низкий ГИ, употребление последний раз в обед</p>

<p style="text-align:left">B&nbsp;- Высокий ГИ, употребление до обеда (включительно)</p>

<p style="text-align:left">C&nbsp;&ndash; Это некрахмалистые овощи</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>17. Картофель при сбалансированном питании: когда, сколько и в каком виде?</em></p>

<p style="text-align:left">A&nbsp;- Не более 200 гр на обед.</p>

<p style="text-align:left">B&nbsp;- 2 раза в неделю, обед, отварной в мундире или запеченный.</p>

<p style="text-align:left">C&nbsp;- Отварной картофель на обед, через день</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>18. Норма отрубей в день?</em></p>

<p style="text-align:left">A&nbsp;- 15-20 гр</p>

<p style="text-align:left">B&nbsp;- До 100гр</p>

<p style="text-align:left">C&nbsp;- 50 гр</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>19. Правила приема воды. Нормы питьевого режима.</em></p>

<p style="text-align:left">A&nbsp;- В день нужно выпивать 2 литра воды. Т.е. распределить эту норму между приемами пищи.</p>

<p style="text-align:left">B&nbsp;- Можно пить только до еды, после нельзя.</p>

<p style="text-align:left">C&nbsp;- За 20-30 мин до или после еды. 30 мл на 1 кг идеального веса.</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>20. Почему мы варим каши на воде?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Можно варить каши на молоке и воде в соотношении 50/50</p>

<p style="text-align:left">B&nbsp;- Каша на молоке имеет более высокий ГИ.</p>

<p style="text-align:left">C&nbsp;&ndash; Каша на воде имеет более высокий ГИ.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>



                        </div>
                        {% elif user.knowledge.code == 'advanced' %}
                                    <h4 class="text-center">Ответы на тест</h4>
                        <br>
                        <div class="media-body">


<p style="text-align:left"><em>1. Что должно входить в полноценный, сбалансированный рацион?</em></p>

<p style="text-align:left">A&nbsp;- Фрукты и овощи.</p>

<p style="text-align:left">B&nbsp;- В рацион входят: белки, жиры и углеводы, пищевые волокна, клетчатка.</p>

<p style="text-align:left">C&nbsp;- Сложные углеводы.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>2. Распределение объема и калорийности пищи по приемам?</em></p>

<p style="text-align:left">A&nbsp;- завтрак- 25%, первый перекус-15%, обед-30%, второй перекус- 10%, ужин-20%</p>

<p style="text-align:left">B&nbsp;- завтрак- 40%, первый перекус-10%, обед-30%, второй перекус- 10%, ужин-25%</p>

<p style="text-align:left">C&nbsp;- завтрак- 30%, первый перекус-10%, обед-20%, второй перекус- 10%, ужин-25%</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>3. Ситуация: после ужина прошло более 3х часов, до сна еще 2-3 часа. Чем можно перекусить?</em></p>

<p style="text-align:left">A&nbsp;- Белковый омлет (легкоусваемый белок) + некрахмалистые овощи.</p>

<p style="text-align:left">B&nbsp;- Фрукты и печенье.</p>

<p style="text-align:left">C&nbsp;- Кефир</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>4. Чем отличается мука 1 сорта от цельнозерновой?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Цельнозерновая,- это мука из цельного зерна. Т.е. такая, в которой сохранена и оболочка, и зародышевое зерно, т.е. все составные части зерна.</p>

<p style="text-align:left">B&nbsp;- Только в цене.</p>

<p style="text-align:left">C&nbsp;- В цельнозерновой муке нет ничего полезного.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>5. Цельнозерновая и цельносмолотая мука- это одно и то же или это разные вещи? Какую нам можно?</em></p>

<p style="text-align:left">A&nbsp;- Да</p>

<p style="text-align:left">B&nbsp;- Нет, нам можно только цельнозерновую.</p>

<p style="text-align:left">C&nbsp;- Нет, нам можно только цельносмолотую.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>6. За какое время ферментные системы желудочно-кишечного тракта перестраиваются на новую пищу?</em></p>

<p style="text-align:left">A&nbsp;- 1-2 месяца</p>

<p style="text-align:left">B&nbsp;- 3-12 месяцев</p>

<p style="text-align:left">C&nbsp;- 5-8 месяцев</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>7. За какой период происходит изменение вкусовых привычек, поведения и психики человека?</em></p>

<p style="text-align:left">A&nbsp;- 6-7 месяцев</p>

<p style="text-align:left">B&nbsp;- 1-2 года</p>

<p style="text-align:left">C&nbsp;- Вкусовые привычки &ndash; это врождённое и они не меняются.</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>8. Гликемический и инсулиновый индекс творога равен?</em></p>

<p style="text-align:left">A&nbsp;&ndash; Инсулиновый и гликемический индекс равен 30.</p>

<p style="text-align:left">B&nbsp;- Инсулиновый индекс-120, Гликемический индекс- 30</p>

<p style="text-align:left">C&nbsp;- Инсулиновый индекс &ndash; 60, Гликемический - 18</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>9. Пик выработки соматотропина?</em></p>

<p style="text-align:left">A&nbsp;- Пик выработки - ночное время.</p>

<p style="text-align:left">B&nbsp;- Утро.</p>

<p style="text-align:left">C&nbsp;- Обеденное и послеобеденное время.</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>10. Сколько 1 грамм углеводов может задерживать грамм жидкости в организме?</em></p>

<p style="text-align:left">A&nbsp;- 1 грамма</p>

<p style="text-align:left">B&nbsp;- 7 грамма</p>

<p style="text-align:left">C&nbsp;- 4 грамма</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>11. За какое время до начала месячных может расти вес?</em></p>

<p style="text-align:left">A&nbsp;&ndash; За 3 недели</p>

<p style="text-align:left">B&nbsp;- За 2 недели.</p>

<p style="text-align:left">C&nbsp;- За неделю до начала.</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>12. Белки, жиры и углеводы считаем по желаемому, идеальному или текущему весу?</em></p>

<p style="text-align:left">A&nbsp;- По идеальному</p>

<p style="text-align:left">B&nbsp;- По желаемому</p>

<p style="text-align:left">C&nbsp;- По текущему</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>13. Рыбий жир,- животный или растительный жир?</em></p>

<p style="text-align:left">A&nbsp;- Ни то, ни другое</p>

<p style="text-align:left">B&nbsp;- Животный</p>

<p style="text-align:left">C&nbsp;- Растительный</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>14. В рационе худеющего верное соотношение растительный/животный жир?</em></p>

<p style="text-align:left">A&nbsp;- 70/30</p>

<p style="text-align:left">B&nbsp;- 50/50</p>

<p style="text-align:left">C&nbsp;- 40/60</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>15. Как называются углевод, накапливающийся в печени и в мышцах для энергообеспечения организма?</em></p>

<p style="text-align:left">A&nbsp;- Дофамин</p>

<p style="text-align:left">B&nbsp;- Гликоген</p>

<p style="text-align:left">C&nbsp;- Прогестерон</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>16. Какой оптимальный процент дефицита калорий, при похудении?</em></p>

<p style="text-align:left">A&nbsp;- 20</p>

<p style="text-align:left">B&nbsp;- 40</p>

<p style="text-align:left">C&nbsp;- 60</p>

<p style="text-align:left"><em>Правильный ответ - 1</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>17. Действие какой кислоты нивелируется при добавлении молока в кофе?</em></p>

<p style="text-align:left">A&nbsp;- Лимонной</p>

<p style="text-align:left">B&nbsp;- Фолиевой</p>

<p style="text-align:left">C&nbsp;- Фитиновой</p>

<p style="text-align:left"><em>Правильный ответ - 3</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>18. Какой основной гормон мы получаем во сне, когда ложимся спать до 23 часов?</em></p>

<p style="text-align:left">A&nbsp;- ТТГ</p>

<p style="text-align:left">B&nbsp;- Мелатонин</p>

<p style="text-align:left">C&nbsp;- Серотонин</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>19. Как называется гормон, отвечающий за наше настроение, нехватка которого приводит к перееданию?</em></p>

<p style="text-align:left">A&nbsp;- Пролактин</p>

<p style="text-align:left">B&nbsp;- Серотонин</p>

<p style="text-align:left">C&nbsp;- Инсулин</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>

<p style="text-align:left"><br />
&nbsp;</p>

<p style="text-align:left"><em>20. Какое оптимальное количество жира в граммах на кг при похудении , для женщины?</em></p>

<p style="text-align:left">A&nbsp;- 0 гр</p>

<p style="text-align:left">B&nbsp;- 1 гр</p>

<p style="text-align:left">C&nbsp;- 2 гр</p>

<p style="text-align:left"><em>Правильный ответ - 2</em></p>



                        </div>
                        {% endif %}

                    </div>
                </div>
            </div><!-- .panel-body -->
        </div><!-- /.panel -->
        {% endif %}
    </div><!-- /.col-dm-12 -->
{% endblock %}
