{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
<div style="display: none;" class="alert alert-success alert-simple alert-dismissible fade in iconic-alert m-b-lg" role="alert">


								<h4>Обратите внимание!</h4>

							<p style="font-size: 12px!important;">Здесь будут показаны все Ваши комментарии, <b style="color: #ef5350;">где автором диалога являетесь Вы</b>.</p>
</div>

    <div class="col-md-12 col-sm-12 col-lg-12">



        <!-- Комментарии -->
        <div style="" class="panel panel-plain panel-rounded">
      <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <a href="{% url 'news:detail' object.pk %}"><h5 class="media-heading">{{ object.title }}</h5></a>
                    <p style="font-size: 11px;" class="media-subheading text-muted small">
                        <i class="glyphicon glyphicon-user"></i> {{ object.author.first_name }} {{ object.author.last_name }}
                        <i class="glyphicon glyphicon-time"></i> {{ object.published_date|timesince }}
                    </p>

                </div>
            </div><!-- .panel-body -->
            <div class="panel-body">





                <ul class="media-list">

                    {% for comment in comments %}
                    {% if not comment.is_leaf_node %}

                     {% if comment.author == request.user %}
                        <li id="c{{ comment.id }}" class="media comment-{{ comment.level }}">
                            <div class="media-left media-object-sm">
                                {% thumbnail comment.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                                <h4 class="media-heading bg-d">{{ comment.author.get_full_name }}</h4>
                                <p class="media-subheading text-muted small">{{ comment.created_date|timesince }} назад</p>
                                <p> {{ comment.text|linebreaks }}</p>
                                <div class="media-footer dispaynone">
                                    <a style="font-size: 11px;border: 1px solid;border-radius: 6px;padding: 0.2% 3px;" data-user="{{ comment.author.get_full_name }}" data-comment-id="{{  comment.pk }}" class="reply-comment" href="">Ответить</a>
                                </div>
                            </div><!-- /.media-body -->
                        </li>

                        <hr>
                        {% for c in comment.get_descendants %}



                        <li  id="c{{ c.id }}" class="media comment-{{ c.level }}">
                            <div class="media-left media-object-sm">
                                {% thumbnail c.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                                <h4 class="media-heading bg-d">{{ c.author.get_full_name }}</h4>
                                <p class="media-subheading text-muted small">{{ c.created_date|timesince }} назад</p>
                                <p> {{ c.text|linebreaks }}</p>
                                <div style="" class="media-footer dispaynone">
                                    <a style="font-size: 11px;border: 1px solid;border-radius: 6px;padding: 0.2% 3px;" data-user="{{ c.author.get_full_name }}" data-comment-id="{{  c.pk }}" class="reply-comment" href="">Ответить</a>
                                </div>
                            </div><!-- /.media-body -->
                        </li>
                        <hr>


                        {% endfor %}

                {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul><!-- /.media-list -->

                <br>
                <form class="dispaynone"  method="post" action="{% url 'news:add-mycomment' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Сообщение</label>
                        <input type="hidden" value="{{ object.pk }}" name="{{ form.news.html_name }}">
                        <input type="hidden" id="comment-parent" value="" name="{{ form.parent.html_name }}">

                        <input type="hidden" value="{{ request.user.pk }}" name="{{ form.author.html_name }}">
                        <textarea class="form-control" name="{{ form.text.html_name }}" placeholder="Textarea"
                                  id="comment-text" required style="height: 100px;"></textarea>
                        <button class="btn btn-success btn-block rs-btn-icon icon-block m-b"><span
                                class="fa fa-comment-o icon-btn m-r"></span>Отправить
                        </button>
                    </div>
                </form>

            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->

<div id="someID" class="back-to-bottom bg-dark b-r-a" style="display: block;top: 5px;"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></div>
<style>
 .back-to-bottom {
     position: fixed;
    width: 40px;
    height: 40px;
    z-index: 1000;
    top: 15px;
    right: 5px;
    line-height: 40px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    text-align: center;
    display: none;

 }
    .bg-dark {
        background: rgba(46, 49, 61, 0.28) !important;
    }
</style>


{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'news:mycomments-list' %}">Мои комментарии</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
        $(function(){
                $('#someID').click(function(){
                     $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                    return false;
                });
        });
    </script>
{% endblock %}
