{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
<div class="alert alert-success alert-simple alert-dismissible fade in iconic-alert m-b-lg" role="alert">


								<h4>Обратите внимание!</h4>

							<p style="font-size: 12px!important;">Здесь будут показаны все Ваши комментарии, <b style="color: #ef5350;">где автором диалога являетесь Вы</b>.</p>
</div>
    {% for comments_one in comments %}
<a style="display: block;" href="{% url 'news:mycomments-detail' comments_one.pk %}">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">


                    <div class="panel-body p-t-0 text-left" style="min-height: 80px;margin-top: 20px;">
                        <p class="media-subheading text-muted small news-date">{{ comments_one.published_date|timesince }} назад</p>
                         <h6 class="panel-title">
                             <a href="{% url 'news:mycomments-detail' comments_one.pk %}">{{ comments_one.title }} </a>
                         </h6>

                    </div><!-- .panel-body -->

            </div><!-- /.panel -->
            <!-- End Panel -->

        </div><!-- /.col-dm-6 -->
</a>
    {% endfor %}

{% endblock %}

{% block breadcrumbs %}
    <li class="active">Мои комментарии</li>
{% endblock %}
