{% extends "base.html" %}
{% load staticfiles %}
{% load message_tags %}
{% load common_tags %}
{% load thumbnail %}
{% block content %}




<div class="panel panel-plain panel-rounded">

    <div class="panel-body">
            <div class="row">
        {% if request.user.get_tariff_name == None %}


                        <form action="{% url 'chat:search' %}"  method="get">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
                        </div>
                    </div>
                            <div style="display: none;"  class="col-md-4">
                        <div class="form-group">
                            <input id="date_created" name="date_created" type="text" class="form-control" placeholder="Дата" value="{{ request.GET.date_created|default_if_none:''}}">
                        </div>
                    </div>
                        <div class="col-md-2">
                            <div class="form-group">
                            <button class="btn btn-primary btn-block">Поиск</button>
                            </div>
                        </div>
                            <div class="col-md-4">
                                <p style="color: #4a89dc; line-height: 1; border: 1px solid#4a89dc; padding: 1.5% 1%; border-radius: 3px;">Поиск по фамилии <b>ИЛИ</b> по имени.<br><span style="font-size: 11px;">(Желательно по фамилии, быстрее найдете).</span></p>
                            </div>
            </form>
    {% else %}


            {% endif %}
    </div>
        <div class="row">


            <div class="col-md-10">
                <ul class="dropdown-menu xl-dropdown p-b-0 p-t-0 dropdown-demo m-t m-b-lg">
                    <li class="dropdown-header text-uppercase has-divider hidden-xs">
                        Поиск

                    </li>
                    <li>
                        <ul class="rs-inner-dropdown has-divider media-menu rs-scroll-custom" tabindex="3">
                            {% for c in users %}
                                <!-- Для новых сообщений добавляем класс"new" <li class="new"></li>-->
                                {% if request.user|is_new_messages_for_user:c.pk %}
                                    <li class="new">
                                        <a style="padding-top: 20px;padding-bottom: 20px;"
                                           href="{% url 'chat:consultant-room' c.pk %}">
                                            {% thumbnail c.get_avatar "60x60" as im %}
                                                <img style="object-fit: none;" src="{{ im.url }}" alt="Avatar" class="media img-circle">
                                            {% endthumbnail %}
                                            <span class="id">{{ c.get_full_name }}</span>
                                             <span style="margin: 0; color: #2e7401;" class="time small"> Тариф: {{ c.get_tariff_name }}</span>
                                            <span style="margin: 0;" class="time small">{{ request.user|last_message_time:c.pk }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% for c in users %}

                                {% if not request.user|is_new_messages_for_user:c.pk %}
                                <li>
                                    <a style="padding-top: 20px;padding-bottom: 20px;"
                                       href="{% url 'chat:consultant-room' c.pk %}">
                                        {% thumbnail c.get_avatar "60x60" as im %}
                                            <img style="object-fit: none;" src="{{ im.url }}" alt="Avatar" class="media img-circle">
                                        {% endthumbnail %}
                                        <span class="id">{{ c.get_full_name }}</span>
                                        <span style="margin: 0; color: #2e7401;" class="time small"> Тариф: {{ c.get_tariff_name }}</span>
                                        <span class="time small">{{ request.user|last_message_time:c.pk }}</span>
                                    </a>
                                </li>

                            {% endif %}
                            {% endfor %}

                        </ul>
                    </li>


                </ul>
            </div><!-- /.col-md-4 -->


        </div><!-- /.row -->

    </div><!-- .panel-body -->
</div>

{% endblock %}

{% block h1_title %}
    Специалисты
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Специалисты</li>
{% endblock %}
