@media (min-width: 769px) {
	#rs-wrapper.rs-mini-sidebar .rs-sidebar .custom-content {
		display: none;
	}
	#rs-wrapper.rs-mini-sidebar .rs-sidebar {
	 	overflow: visible !important;
	}
	#rs-wrapper.rs-mini-sidebar .rs-sidebar,
	#rs-wrapper.rs-mini-sidebar .rs-sidebar:after {
		width: 70px;
	}
	#rs-wrapper.rs-mini-sidebar .rs-content-wrapper {
		margin-left: 70px;
	}
	#rs-wrapper.rs-mini-sidebar .rs-footer.absolute-footer {
		left: 70px;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav li.menu-header {
		color: transparent;
		overflow: hidden;
		display: none;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav li.menu-header:hover {
		width: 70px !important;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav li {
		position: relative;
		z-index: 9;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li {
		overflow: hidden;
		width: 70px;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > a {
		padding-left: 90px;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li:not(.menu-block-divider):hover {
		overflow: visible;
		width: 290px;
		background: #2e313d;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > a .rs-icon-menu {
		width: 70px;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.no-icon-menu > a {
		position: relative;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.no-icon-menu > a:after {
  		font-family: 'Entypo';
 		content: "\e97a";
		font-size: 20px;
		position: absolute;
		z-index: 2;
		width: 70px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		left: 0;
		top: 0;
		color: #ffffff;
		color: rgba(255,255,255,0.3);
		display: block;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav ul {
		position: absolute;
		top: 50px;
		width: 220px;
		left: 70px;
		z-index: 9;
		background: #2e313d;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li:hover > a {
		background: rgba(0,0,0,0.1);
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.active > ul,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li > ul,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li.active > ul {
		display: none;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li:hover > ul,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.active:hover > ul {
		display: block;
		border-top: 1px solid rgba(255,255,255,.035);
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li > ul {
		left: 100%;
		top: 0;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li:hover > ul,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li.active:hover > ul {
		display: block;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li:not(.active):hover > a {
		background: rgba(0,0,0,0.2);
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li > ul > li > a {
		padding-left: 20px;
		background: rgba(0,0,0,0.2);
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > a .label {
		display: none;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li:hover > a .label {
		display: block;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > a .badge,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > a .badge.over-icon{
		left: 35px;
		top: 4px;
		margin-top: 0;
		right: auto;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li > ul > li > a {
		padding-left: 20px;
		background: rgba(0,0,0,0.1);
	}
	.rs-mini-sidebar .rs-sidebar-nav a:not(:only-child):after {
		content: "\f105";
	}
	.rs-mini-sidebar .rs-sidebar-nav .active > a:not(:only-child):after {
		-ms-transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
	}
	.rs-mini-sidebar .rs-sidebar-nav > li > a:not(:only-child):after {
		display: none;
	}

	.rs-mini-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a {
		height: 80px;
		padding: 20px;
		padding-left: 90px;
		line-height: 100%;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .badge,
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .badge.over-icon{
		left: 43px;
		top: 4px;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav .rs-user-sidebar ul {
		top: 100%;
	}
	.rs-mini-sidebar .rs-sidebar .rs-sidebar-nav > li.rs-user-sidebar > ul > li > ul {
		top: 0;
	}
	.rs-mini-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .avatar {
		width: 50px;
		height: 50px;
		left: 10px;
		margin-top: -25px;
	}
	.rs-mini-sidebar .rs-sidebar-nav > li.rs-user-sidebar > a .subname {
		display: block;
		font-size: 11px;
		letter-spacing: 1.5px;
		color: rgba(255,255,255,0.25);
	}
}