{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-lg-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <h3 class="media-heading">{{ object.title }}</h3>
                    <p class="media-subheading text-muted small">
                        <i class="glyphicon glyphicon-user"></i> {{ object.author.first_name }} {{ object.author.last_name }}
                        <i class="glyphicon glyphicon-time"></i> {{ object.published_date|timesince }}
                    </p>
                    {% autoescape off %}   {{ object.text }} {% endautoescape %}
                </div>
            </div><!-- .panel-body -->
        </div><!-- /.panel -->


        <!-- Комментарии -->
        <div style="display:none;"  class="panel panel-plain panel-rounded">
            <div class="panel-heading borderless">
                <h3 class="panel-title">Комментарии</h3>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="media-list">
                    {% for c in object.article_comments.all %}
                        <li class="media comment-{{ c.level }}">
                            <div class="media-left media-object-sm">
                                {% thumbnail c.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                                <h4 class="media-heading bg-d">{{ c.author.get_full_name }}</h4>
                                <p class="media-subheading text-muted small">{{ c.created_date }}</p>
                                <p> {{ c.text|linebreaks }}</p>
                                <div class="media-footer">
                                    <a data-user="{{ c.author.get_full_name }}" data-comment-id="{{ c.pk }}" class="reply-comment" href="">Ответить</a>
                                </div>
                            </div><!-- /.media-body -->
                        </li>
                        <hr>
                    {% endfor %}

                </ul><!-- /.media-list -->
                <form method="post" action="{% url 'articles:add-comment' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Сообщение</label>
                        <input type="hidden" value="{{ object.pk }}" name="{{ form.article.html_name }}">
                        <input type="hidden" id="comment-parent" value="" name="{{ form.parent.html_name }}">
                        <input type="hidden" value="{{ request.user.pk }}" name="{{ form.author.html_name }}">
                                                <textarea class="form-control" id="comment-text" name="{{ form.text.html_name }}"
                                                          placeholder="Textarea" style="height: 100px;"></textarea>
                        <button type="submit" class="btn btn-success btn-block rs-btn-icon icon-block m-b"><span
                                class="fa fa-comment-o icon-btn m-r"></span>Отправить
                        </button>
                    </div>
                </form>
            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->




{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'articles:list' %}">Статьи</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock %}

{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
    </script>
{% endblock %}
