{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    {% for articles_one in articles %}
        <div class="col-md-6 col-sm-6 col-lg-6" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless">
                    <div class="media-left media-object-sm">
                        {% thumbnail articles_one.author.get_avatar "60x60" as im %}
                            <img  src="{{ im.url }}" alt="Avatar" class="media-object img-circle">
                        {% endthumbnail %}

                    </div>
                    <div class="media-body">
                        <p class="media-subheading text-muted small news-date">{{ articles_one.published_date|timesince }}</p>
                        <h6 style="font-size: 10px;" class="media-heading">{{ articles_one.author.first_name }} {{ articles_one.author.last_name }}</h6>
                    </div>

                </div><!-- /.panel-heading -->
                <a class="url-news" href="{% url 'articles:detail' articles_one.pk %}">

                    <div class="panel-body p-t-0 text-center">
                        {% thumbnail articles_one.img "421x288" as im %}

                                <img style="width: 100%; height: 288px;object-fit: cover; transition: all .25s ease;"  class="img-responsive" src="{{ im.url }}" alt="{{ articles_one.title }}">

                        {% endthumbnail %}
                    </div><!-- .panel-body -->
                    <div class="panel-body p-t-0 text-left" style="min-height: 60px;">
                         <h6 class="panel-title">{{ articles_one.title }}</h6>
                    </div><!-- .panel-body -->
                </a>
            </div><!-- /.panel -->
            <!-- End Panel -->

        </div><!-- /.col-dm-6 -->
    {% endfor %}

{% endblock %}

{% block breadcrumbs %}
    <li class="active">Статьи</li>
{% endblock %}
