{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <!-- Begin Panel -->
    <div class="panel panel-plain panel-rounded">
        <div class="panel-heading">
            <h3 class="panel-title">Добавление дополнительного пользователя</h3>
            <!-- End Panel Toolbar -->
        </div>
        <br>
        <div class="panel-body p-t-xs">



<form method="post" action="">{% csrf_token %}
    <div>{{ form.errors }}</div>
    <div>{{ error }}</div>
<div class="row">

    <div class="col-md-8">
        <div class="form-group">
            <label for="">Имя</label>
            <input type="text"  class="form-control" name="{{ form.first_name.html_name}}" value="{{ form.first_name.value|default_if_none:''}}">
        </div>
    </div>
    <br>
    <div class="col-md-8">
        <div class="form-group">
            <label for="">Фамилия</label>
            <input type="text"  class="form-control" name="{{ form.last_name.html_name}}" value="{{ form.last_name.value|default_if_none:''}}">
        </div>
    </div>


    <div class="col-md-8">
        <input type="submit" class="btn btn-info" value="Добавить">
    </div>
</div>
</form>

        </div><!-- .panel-body -->
    </div><!-- /.panel -->
    <!-- End Panel -->

{% endblock %}











