{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <!-- Begin Panel -->
    <div class="panel panel-plain panel-rounded">
        <div class="panel-heading">
            <h3 class="panel-title">Изменить пароль</h3>
            <!-- End Panel Toolbar -->
        </div>
        <br>
        <div class="panel-body p-t-xs">


            <form method="post" enctype="multipart/form-data">


                <div class="row">
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Новый пароль:</label>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Повторите новый пароль:</label>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div><!-- /.col-md-6 -->

                    <div class="col-md-6 col-md-offset-3">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                    </div>


                </div><!-- /.row -->

            </form>
        </div><!-- .panel-body -->
    </div><!-- /.panel -->
    <!-- End Panel -->

{% endblock %}
