{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

    <!-- Begin Panel -->
    <div class="panel panel-plain panel-rounded">
        <div class="panel-heading">
            <h3 class="panel-title">Основные</h3>
            <!-- End Panel Toolbar -->
        </div>
        <br>
        <div class="panel-body p-t-xs">


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Имя:</label>
                            <input type="text" class="form-control" value="{{ form.first_name.value|default_if_none:'' }}" name="{{ form.first_name.html_name }}" required>
                        </div>
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Фамилия:</label>
                            <input type="text" class="form-control" value="{{ form.last_name.value|default_if_none:'' }}" name="{{ form.last_name.html_name }}" required>
                        </div>
                    </div><!-- /.col-md-6 -->


                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Фотография профиля (макс 8 Мб):</label>
                            {% if form.instance.avatar %}
                                {% thumbnail form.instance.avatar "300x300" as im %}
                                    <img class="img-responsive" src="{{ im.url }}">
                                {% endthumbnail %}
                            {% endif %}
                            <input type="file" class="form-control"  name="{{ form.avatar.html_name }}">
                            <b style="color:red;">{{ form.avatar.errors }}</b>

                        </div>
                    </div>
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Номер телефона:</label>
                            <input type="text" class="form-control" value="{{ form.phone.value|default_if_none:'' }}" name="{{ form.phone.html_name }}"  placeholder="89060000000">
                        </div>
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Страница в инстаграмм:</label>
                            <input type="text" class="form-control" value="{{ form.instagram.value|default_if_none:'' }}" name="{{ form.instagram.html_name }}" placeholder="@doctor_zubareva">
                        </div>
                    </div><!-- /.col-md-6 -->


                    <div class="col-md-6  col-md-offset-3">

                        <div class="form-group">
                            <label class="control-label">Ваш пол:</label>
                            <div class="radio radio-custom">
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.gender == 'M' %} checked="checked" {% endif %} name="{{ form.gender.html_name }}" id="cs-radio-04" value="M">
                                    <span class="checker"></span>
                                    Мужской
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.gender == 'F' %} checked="checked" {% endif %} name="{{ form.gender.html_name }}" id="cs-radio-05" value="F">
                                    <span class="checker"></span>
                                    Женский
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Ваш возраст:</label>
                            <input type="text" class="form-control" value="{{ form.age.value|default_if_none:'' }}" name="{{ form.age.html_name }}" placeholder="24" required>
                        </div>
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Ваш рост (см):</label>
                            <input type="text" class="form-control" value="{{ form.height.value|floatformat:0|default_if_none:'' }}" name="{{ form.height.html_name }}" placeholder="172" required>
                        </div>
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Ваш вес, (кг):</label>
                            <input type="text" class="form-control" value="{{ form.weight.value|floatformat:0|default_if_none:'' }}" name="{{ form.weight.html_name }}" placeholder="72" required>
                        </div>
                    </div><!-- /.col-md-6 -->

                    <div class="col-md-6  col-md-offset-3">
                        <div class="form-group">
                            <label>Ваш образ жизни:</label>
                            {{ form.lifestyle }}
                        </div>
                    </div>
                    <div class="col-md-6  col-md-offset-3">

                        <div class="form-group">
                            <label class="control-label">Ваша цель:</label>
                            <div class="radio radio-custom">
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.goal == 'lose' %} checked="checked" {% endif %} name="{{ form.goal.html_name }}" id="cs-radio-04" value="lose">
                                    <span class="checker"></span>
                                    Сбросить вес
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.goal == 'gain' %} checked="checked" {% endif %} name="{{ form.goal.html_name }}" id="cs-radio-05" value="gain">
                                    <span class="checker"></span>
                                    Набор массы
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" {% if form.instance.goal == 'maintain' %} checked="checked" {% endif %} name="{{ form.goal.html_name }}" id="cs-radio-06" value="maintain">
                                    <span class="checker"></span>
                                    Поддерживать вес
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 col-md-offset-3">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                    </div>


                </div><!-- /.row -->

            </form>
        </div><!-- .panel-body -->
    </div><!-- /.panel -->
    <!-- End Panel -->

{% endblock %}
