{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
<!-- Begin Panel -->



        {% if request.user.get_tariff_code == 'family' %}
 <div class="panel panel-plain panel-rounded">
<div class="panel-body">
<div class="row">
    <div class="col-md-2 col-md-offset-9 col-xs-12">


            <a class="btn btn-success" href="https://zubareva.online/users/profile/add_in_group/">Добавить пользователя</a>
    </div>
</div>
</div>
</div>
        {% elif request.user.get_tariff_code == 'children' %}
<div class="panel panel-plain panel-rounded">
<div class="panel-body">
<div class="row">
    <div class="col-md-2 col-md-offset-9 col-xs-12">


            <a class="btn btn-success" href="https://zubareva.online/users/profile/add_in_group/">Добавить пользователя</a>
    </div>
</div>
</div>
</div>
        {% else %}
        {% endif %}


<div class="panel panel-plain panel-rounded">
    <div class="panel-heading borderless">
        <h2 class="panel-title">Профиль</h2>
        <!-- Begin Panel Toolbar -->
        <div class="panel-toolbar">
            <a href="{% url 'users:profile-edit' %}" style="height: 22px; padding-top:0;"
               class="btn btn-info btn-outline btn-block rs-btn-icon m-b">
                <span style="line-height:20px;" class="fa fa-gear icon-btn m-r"></span>Редактировать</a>
        </div><!-- /.panel-toolbar -->
        <!-- End Panel Toolbar -->
    </div>
    <br>



    <div class="panel-body p-t-xs">

        <div class="stacked-item panel panel-primary bg-primary">
                    <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">


                {% thumbnail request.user.avatar "190x190" as im %}
                <img style="width: 100%;" src="{{ im.url }}">
                {% endthumbnail %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-9">




								<div class="panel-heading borderless">
									<h3 class="panel-title">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
									<p class="subtitle text-uppercase m-t-xs">
                                        <i class="fa fa-instagram text-info m-r-xs"></i> {{ request.user.instagram }}
                                    </p>
								</div><!-- /.panel-heading -->
								<div class="panel-body p-t-0">
									<small class="text-lighten">Тариф: <strong class="text-white">{{ request.user.get_tariff_name }}</strong></small><br>
                                    <small class="text-lighten">Уровень: <strong class="text-white">{{ request.user.knowledge }}</strong></small><br>
								</div><!-- /.panel-body -->
							</div>
   </div>



        </div>
                    <div class="row">
                         <div class="panel-heading borderless">
                             <h3 class="panel-title">КБЖУ</h3></div>
									<div class="col-sm-3">
										<!-- Begin Panel -->
										<div class="quick-stat panel panel-rounded bg-grad bg-grad-01 borderless">
											<div class="panel-heading borderless">
												<p class="subtitle text-lighten text-uppercase m-b-xs">Ккал</p>
												<h3 class="m-a-0 p-a-0">{{ results.calories|floatformat:2 }}</h3>
												<!-- End Panel Toolbar -->
											</div><!-- /.panel-heading -->
										</div><!-- /.panel -->
										<!-- End Panel -->
									</div><!-- /.col-sm-4 -->
									<div class="col-sm-3">
										<!-- Begin Panel -->
										<div class="quick-stat panel panel-rounded bg-grad bg-grad-05 borderless">
											<div class="panel-heading borderless">
												<p class="subtitle text-lighten text-uppercase m-b-xs">Белки</p>
												<h3 class="m-a-0 p-a-0">{{ results.proteins|floatformat:2 }}</h3>
												<!-- End Panel Toolbar -->
											</div><!-- /.panel-heading -->
										</div><!-- /.panel -->
										<!-- End Panel -->
									</div><!-- /.col-sm-4 -->
									<div class="col-sm-3">
										<!-- Begin Panel -->
										<div class="quick-stat panel panel-rounded bg-grad bg-grad-03 borderless">
											<div class="panel-heading borderless">
												<p class="subtitle text-lighten text-uppercase m-b-xs">Жиры</p>
												<h3 class="m-a-0 p-a-0">{{ results.fats|floatformat:2 }}</h3>

												<!-- End Panel Toolbar -->
											</div><!-- /.panel-heading -->
										</div><!-- /.panel -->
										<!-- End Panel -->
									</div><!-- /.col-sm-4 -->
									<div class="col-sm-3">
										<!-- Begin Panel -->
										<div class="quick-stat panel panel-rounded bg-grad bg-grad-15 borderless">
											<div class="panel-heading borderless">
												<p class="subtitle text-lighten text-uppercase m-b-xs">Углеводы</p>
												<h3 class="m-a-0 p-a-0">{{ results.carbs|floatformat:2 }}</h3>
												<!-- End Panel Toolbar -->
											</div><!-- /.panel-heading -->
										</div><!-- /.panel -->
										<!-- End Panel -->
									</div><!-- /.col-sm-4 -->

                        <div class="col-xs-12 col-sm-12 col-md-12">

                            <div class="alert alert-success alert-simple alert-dismissible fade in m-b-lg" role="alert">

							<p style="font-size: 12px!important;"> Для расчета КБЖУ заполните все поля на странице "<a href="/users/profile/edit/">редактирование профиля</a>"</p>
                                <p><strong>Зачем это нужно?</strong><br>
                                    <span style="font-size: 12px!important;line-height: 1.5;">позволяет получить ответ на:</span>
                                </p>

                                <ul style="font-size: 12px!important;line-height: 1.5;">
                                    <li>Сколько калорий, белков, жиров и углеводов вам нужно?</li>
                                    <li>Насколько нужно увеличить или уменьшить норму калорий, чтобы плавно худеть или набирать вес?</li>
                                    <li>Достаточно ли жиров и белков вы едите?</li>
                                </ul>
</div>

                        </div>
                    </div>




    </div><!-- .panel-body -->

</div><!-- /.panel -->
<!-- End Panel -->

    {% for f_user in family_users %}

<div class="panel panel-plain panel-rounded">
    <div class="panel-heading borderless">
        <!-- Begin Panel Toolbar -->
        <div class="panel-toolbar">
            <a href="{% url 'users:profile-family-edit' f_user.id  %}" style="height: 22px; padding-top:0;"
               class="btn btn-info btn-outline btn-block rs-btn-icon m-b">
                <span style="line-height:20px;" class="fa fa-gear icon-btn m-r"></span>Редактировать</a>
        </div><!-- /.panel-toolbar -->
        <!-- End Panel Toolbar -->
    </div>
    <br>

    <div class="panel-body p-t-xs">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">


                {% thumbnail f_user.avatar "190x190" as im %}
                <img style="margin:0 auto;" class="thumbnail" src="{{ im.url }}">
                {% endthumbnail %}
                <br>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-9">
                <h5 class="media-heading bg-d">{{ f_user.first_name }} {{ f_user.last_name }} <span style="display:none; font-size:10px;color: rgb(74, 137, 220);">{{ f_user.email}}</span></h5>

                <p class="media-subheading text-muted">
                    <i class="fa fa-instagram text-info m-r-xs"></i>
                    <small>{{ f_user.instagram }}</small>
                </p>
                <div class="rs-col-stacked full-width-on-mobile border-items borderless m-a-0">
                    <div class="text-center stacked-item p-a-md p-b-lg">
                        <div class="easypiechart easypie-info text-muted" data-percent="55">
                            <span class="text-info">{{ f_user.get_kbj.calories|floatformat:2 }}</span>
                            <small>Ккал</small>
                            <canvas height="80" width="80"></canvas>
                        </div><!-- /.easypiechart -->
                    </div><!-- /.stacked-item -->
                    <div class="text-center stacked-item p-a-md p-b-lg">
                        <div class="easypiechart easypie-warning text-muted" data-percent="35">
                            <span class="text-warning">{{ f_user.get_kbj.proteins|floatformat:2 }}</span>
                            <small>Белки</small>
                            <canvas height="80" width="80"></canvas>
                        </div><!-- /.easypiechart -->
                    </div><!-- /.stacked-item -->
                    <div class="text-center stacked-item p-a-md p-b-lg">
                        <div class="easypiechart easypie-danger text-muted" data-percent="15">
                            <span class="text-danger">{{ f_user.get_kbj.fats|floatformat:2 }}</span>
                            <small>Жиры</small>
                            <canvas height="80" width="80"></canvas>
                        </div><!-- /.easypiechart -->
                    </div><!-- /.stacked-item -->
                    <div class="text-center stacked-item p-a-md p-b-lg">
                        <div class="easypiechart easypie-danger text-muted" data-percent="18">
                            <span class="text-danger">{{ f_user.get_kbj.carbs|floatformat:2 }}</span>
                            <small>Углеводы</small>
                            <canvas height="80" width="80"></canvas>
                        </div><!-- /.easypiechart -->
                    </div><!-- /.stacked-item -->

                </div>

            </div>

        </div>
    </div><!-- .panel-body -->

    </div><!-- /.panel -->
<!-- End Panel -->

    {% endfor %}






{% endblock %}


{% block breadcrumbs %}
    <li>Профиль</li>
{% endblock %}