<h1>Пользователи</h1>

<table border="0">
    <thead>
       <tr>
           <th></th>
           <th>Email</th>
           <th>Tarif</th>
           <th>Level</th>
       </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.tariff }}</td>
          <td>{{ user.level }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
