{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-lg-12">


        <!-- Комментарии -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body">

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><em>Набор массы.</em></span></span></p>

<p><br />
<span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ПРАВИЛА ПИТАНИЯ И РАСПРЕДЕЛЕНИЯ ПРОДУКТОВ В ТЕЧЕНИЕ ДНЯ! НАБОР ВЕСА</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Научитесь планировать свой рацион заранее, готовить впрок и знать сегодня, что именно, будете есть завтра.&middot;</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">В самом начале, может показаться такое питание, сложным и непривычным, но по истечении некоторого времени, пропадет тяга к сладкому, жирному и вредному.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Привыкнув питаться правильно и чисто, вы не захотите больше возвращаться к предыдущему образу жизни.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Рекомендую просыпаться в 7-8 утра, ложиться спать в 11 вечера, по биологическим часам .</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сладкое, мучное в программах набора веса, снижает вес еще сильнее, мнение, о том, что для того, чтобы набрать вес нужно есть много сладкого- обманчиво.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Настройтесь на долгую работу.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Если вы не знакомы с правильным питанием, то данное питание будет отличаться, от того, как вы привыкли.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Если нет времени и возможности питаться разнообразно, значит делайте пп заготовки, полуфабрикаты, возможно, готовить на несколько дней (если не надоедает).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Может быть, вы прекрасно обойдетесь однообразной пищей, и вам не нужно будет разнообразия.</span></span></p>

<p><br />
&nbsp;</p>

<p><br />
<span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Правила вашего питания (ЧИТАТЬ ВНИМАТЕЛЬНО)!!!</strong></span></span></p>

<p><br />
<span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ТОЛЬКО СБАЛАНСИРОВАННОЕ ПРАВИЛЬНОЕ ПИТАНИЕ!!</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>1 правило:</strong> питание 4 раза в день! 3 основных приема пищи, 1 перекус, если вы тренируетесь &ndash; плюс ещё один.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>2 правило:</strong> Первый прием пищи в первый час после пробуждения, последний - строго за 2-3 часа до сна.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>3 правило:</strong> Распределение объема и калорийности пищи по приемам: завтрак- 25%, первый перекус-10, обед-35%,второй перекус-10%, ужин-20%.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>4 правило:</strong> Порция каждого приема пищи должна быть - примерно 400/500 г. После приема пищи, вы никогда не должны чувствовать тяжесть.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>5 правило:</strong> Ешьте маленькой ложкой, старайтесь есть медленно, как бы это странно не звучало, но более холодной пищей наедаетесь лучше, чем горячей (вывод: не кушайте слишком горячие блюда), термически не обработанная пища, лучше насыщает, чем вареная, перемолотая пища, пюре и т.д.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">6 <strong>правило</strong>: ВСЕГДА перед планируемым приемом пищи, пейте 1-2 стакана простой воды комнатной температуры, за 20 мин до еды, НИКОГДА не запивайте еду.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Прием жидкости, любой, в том числе чистой воды,- через полчаса после еды.&middot;</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">7 <strong>правило </strong>Кофе и чай,- через 45-60 мин (до или после еды).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">8 <strong>правило</strong> Промежутки между приемами пищи не должны быть длительными, более 4 часов.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Никогда не голодайте!</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ИСКЛЮЧИТЬ КАТЕГОРИЧЕСКИ!!!!!</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Жареную пищу, копченые продукты, консервы, фаст фуд, все закуски- чипсы, снеки, сухарики, пивные закуски, хот доги, газированные напитки,пакетированные соки, майонез, кетчуп, соусы (есть некоторые соусы, которые имеют натуральный состав).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Алкоголь! Особенно пиво, крепкие напитки!!!</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">в программах набора веса алкоголь способствует его снижению.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Кофе (1чашка кофе=2 стакана простой воды плюс к общему объёму воды).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Соленые, маринованные овощи, (малосольное мясо, рыбу).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Мясные и рыбные бульоны, первые блюда на бульонах</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сдоба и магазинная выпечка</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ОБЯЗАТЕЛЬНО: </strong>30 мл на кг идеального веса простой воды!!!!!(формула DIVINE)</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ПРЕДПОЧТЕНИЕ:</strong> свежим овощам и фруктам, нежели вареным или тушеным.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Варианты приготовление блюд: на пару, варка (особенно рыба, мясо), запекание, тушение.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Продукты:</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Все продукты на вашем столе и в вашем холодильнике должны быть как можно более натуральными(не прошедшие терм обработку, имеющие как можно меньший состав, без ароматизаторов и консервантов.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Все масла в доме- меняете на не рафинированные, холодного отжима (позже, в списках продуктов, напишу, какие именно) готовим блюда только с добавлением не рафинированного масла, холодного отжима</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сливочное масло, хорошего качества (82,5%) 10 гр в сут</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Разнообразный рацион: ежедневно в ваш рацион должны входить различные продукты. крайне неправильны белковые или углеводные диеты, помним,</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ТОЛЬКО СБАЛАНСИРОВАННОЕ ПИТАНИЕ</strong>, никаких диет.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">То есть следим за тем, чтобы в рацион входили и белки, и жиры, и углеводы, пищевые волокна, клетчатка.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Убираем из рациона весь сахар, меняем на мед или кокосовый сахар.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Убираем жирные магазинные торты, и подобные сладости, варенье на сахаре.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Добавляем кокосовый сахар в выпечку, готовые изделия, чай , кофе.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Допускается использование меда, натуральных сиропов , джемов или пекмезов на завтрак.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Соль,- ограничение!!! 10 гр в сут.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Выбираем соль йодированную, морскую.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Черный перец и приправы-в разумных количествах.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Выпечка-только домашняя, без сахара, без дрожжей, из цельнозерновой муки.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Молочнокислая продукция. Вся молочнокислая продукция (кефир, творог, йогурт) должна быть 5% жирности. Желательно на развес, а не в магазинных пачках, это будет более живой продукт.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Если берете творог в магазине- внимательно смотрите состав, в нем не должно быть крахмала, пальмового масла.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Избегайте надписи &ndash;ТВОРОЖНЫЙ ПРОДУКТ.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сыры и колбасы. Магазинные колбасы (сосиски, сардельки) полностью исключаем, употребляем только самодельные колбасы и изделия из мяса.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сыры выбираем минимальной жирности &ndash; не более 15-18%, (какие именно напишу в списках продуктов), или готовим сыры самостоятельно.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Супы. Только овощные супы-пюре на воде.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Яйца. 2 шт в день , варёные или жареные на сухой сковороде. Хлеб. Цельнозерновой , бездрожжевой, ржаной.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Или альтернатива -хлебцы- без дрожжей, из цельнозерновой муки.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Отдавать предпочтение снекам, пастам, джемам, батончикам домашнего приготовления).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сладости- домашняя выпечка, зефир без сахара (патока), мармелад, пастила, халва без сахара, козинаки без сахара.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>ПИТАЙСЯ ЧИСТО!!!! ЧЕМ БОЛЕЕ ПРОСТОЕ БЛЮДО, ТЕМ ОНО ПОЛЕЗНЕЕ.</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Что строго?</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Полное соблюдение в рамках разрешённых продуктов.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Полное соблюдение рациона по времени приема пищи.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Полное соблюдение рациона по составу (менять состав в пределах одной категории продукта (крупы, например) исходя из предлагаемых перечней))</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Приобретение кухонных весов (можно самые простые)-первое время взвешивание продуктов в сухом и готовом виде- актуально для новичков.</span></span></p>

<p><br />
&nbsp;</p>

<p><br />
<span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Программа питания: </strong>как вы будете питаться</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Повторюсь, что приемы пищи должны быть с определенными промежутками, исходя из ваших целей, эти промежутки будут ровняться примерно 3 часам.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Итак к примеру:</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">7. 00- пробуждение.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">7.10- 1-2 стакана чистой воды</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">7.30-завтрак+ витамины, (ЕСЛИ ПЬТЕ)</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">10.30-первый перекус или ланч</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">13.30- обед</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">16.30- второй перекус</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">19.30-ужин-это последний прием пищи</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Старайтесь приучить себя к приемам пищи по часам. Первое время это сложно, но это очень важно в системе правильного питания, таким образом, мы налаживаем обмен веществ и метаболические процессы.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Основное распределение продуктов в течение дня:</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Сложные углеводы (каши, любые крупы из перечня, макароны твердых сортов, хлебобулочные изделия(хлебцы) ,бобовые (все бобовые предварительно замачивать на ночь)-вы употребляете на завтрак ,обед и ужин, на примере недельного меню, ниже, объясню.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Натуральные сиропы и пекмезы, сухофрукты, мед, орехи употребляете до 18 часов.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Фрукты: с высоким гликемическим индексом (банан, виноград, хурма)- на завтрак, зеленые яблоки, груши, киви, ананас, грейпфрут, ягоды- в течении дня.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Овощи употребляете в любой прием пищи(кроме картофеля, свеклы и моркови),кроме завтрака, на примере недельного меню объясню. Овощей должно быть очень много в рационе.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Маслами заправляем <strong>ВСЕГДА </strong>обеденные салаты или овощи(после приготовления , непосредственно перед употреблением), льняное &ndash;после завтрака (ПРИ ОТСУТСТВИИИ ПРОТИВОПОКАЗАНИЙ).</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Белковую пищу (мясо/рыба/морепродукты) употребляем преимущественно на обед и ужин.</span></span></p>

<p><br />
&nbsp;</p>

<p><br />
<span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Таким образом</strong></span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Завтрак: состоит из каши на воде (70-100 гр сухого вещ-ва), (предпочтительнее на завтрак -овсяную кашу) + семена льна, чиа, кунжут (по чайной ложке каждого вида)+ореховая паста (чайная ложка, по желанию) +фрукты/ягоды/сухофрукты. Витамины , льняное масло и рыбий жир- за завтраком или после.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Второй завтрак: 30 гр орехов + фрукт из перечня или батончик.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Обед: крупа из перечней или макароны твердых сортов(70-80 гр в сухом виде) + белковая пища (рыба/мясо/морепродукты из перечней)(прием 170гр)+овощи или салат заправленный растительным нерафинированным маслом.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Второй перекус или полдник: в меню предложены варианты.</span></span></p>

<p><span style="font-size:14px"><span style="font-family:Tahoma,Geneva,sans-serif">Ужин: белковая пища (рыба/мясо/морепродукты) + сложные углеводы (50 гр сухого вещ-ва) +овощи (см список продуктов).</span></span></p>

<p>&nbsp;</p>

            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->




{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'food:list' %}">Питание</a></li>
    <li class="active">Набор массы.</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
    </script>
{% endblock %}
