{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-lg-12">


        <!-- Комментарии -->
        <div class="panel panel-plain panel-rounded">

            <div class="panel-body">

<p><span style="display:none">&nbsp;</span>&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="color:#000000;font-size: 18px;"><em>ПОХУДЕНИЕ/СОХРАНЕНИЕ ВЕСА/БЕРЕМЕННОСТЬ/ГВ</em></span></strong></span></p>

<h3><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="color:#000000;font-size: 16px;">РАСПРЕДЕЛЕНИЕ ПРОДУКТОВ В ТЕЧЕНИЕ ДНЯ!</span></strong></span></h3>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; приемы пищи должны быть с определенными промежутками, исходя из наших целей, эти промежутки будут ровняться </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">примерно</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff"> 3 часам.</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Если вам не комфортно питаться 5 раз в день, не заставляйте себя через силу. Любое насилие над собой чревато заболеваниями. Питаемся не менее 3 раз в день! Основные приемы пищи: завтрак, обед, ужин.</span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Все продукты в меню взаимозаменяемы </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">в пределах одного приема пищи</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">. Можно заменить белок на белок, углевод на углевод.</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">То есть , если вы на завтрак не хотите предложенный вариант крупы, вы можете заменить его на другой, в пределах </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">перечней продуктов</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff"> и допустимых продуктов. </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">Но не можете заменить завтрак на ужин. </span></span></strong></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Питание 4-5 раз в день: 3 основных приема пищи (обязательно) и 1-2 &laquo;перекуса&raquo;.</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Первый прием пищи в первый час после пробуждения, последний- за 3-4 часа до сна. Перерыв между приемами пищи &ndash; 2,5-3 часа (первое время, желательно соблюдать строго промежутки) Пример: просыпаетесь в 7.00 утра, ложитесь спать в 22.30 каждый подстраивает под свой режим по представленному ниже шаблону)</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">7. 00- пробуждение. 7.10- стакан чистой воды 7.30-завтрак+ витамины (если пьете) 10.30-первый перекус или ланч 13.30- обед 16.30- второй перекус 19.30-ужин-это последний прием пищи. Старайтесь приучить себя к приемам пищи по часам.</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Последний прием пищи не позднее 20.30!!</span></span></p>
	</li>
</ul>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="background-color:#ffffff">РЕЖИМ!!!! ОТХОД КО СНУ &ndash; В 22.30, ПОДЬЕМ- НЕ ПОЗДНЕЕ 7.00</span></strong></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Распределение объема и калорийности пищи по приемам: завтрак- 25%, первый перекус-15%, обед-30%, второй перекус- 10%, ужин-20% </span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Если вы питаетесь 3 раза в день, то самый объёмный прием пищи &ndash; ОБЕД, чуть меньше- завтрак, ужин- самый скромный по объёмам. </span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Вы не должны объедаться. После приема пищи, вы никогда не должны чувствовать тяжесть, но и КАТЕГОРИЧЕСКИ, вы не должны чувствовать голод. Чувство насыщения приходит через 20 минут после приема пищи. После того, как поели, спросите себя- наелась ли я?</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Ешьте маленькой ложкой, старайтесь есть медленно, как бы это странно не звучало, но более холодной пищей наедаетесь лучше, чем горячей (вывод: не ешьте слишком горячие блюда) , термически не обработанная пища, лучше насыщает, чем вареная, перемолотая пища, пюре и т.д. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; ВСЕГДА, перед планируемым приемом пищи, пейте 1-2 стакана простой воды комнатной температуры, за 20 мин до еды. </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">НИКОГДА </span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">не запивайте еду.</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Прием жидкости, любой, в том числе чистой воды,- через 30мин. после еды.</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Чай/кофе пьём за час до или через час после еды, можно с молоком (до 50 мл).</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">ИСКЛЮЧЕНИЕ &mdash; лечебное питание. </span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">ИСКЛЮЧАЕМ АБСОЛЮТНО ВСЕ:</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff"> жареное с использованием масла, даже в духовке, копченое, жирное.</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">Все блюда готовим</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">: на пару, варим, запекаем БЕЗ масла, если это пп-выпечка, жарим на сухой антипригарной сковороде БЕЗ МАСЛА. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Все каши и крупы варим на воде (без молока). </span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Стараемся минимизировать употребление цельного молока</span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">Продукты</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">: Все продукты на вашем столе и в вашем холодильнике должны быть как можно более натуральными ( не прошедшие терм обработку, имеющие как можно меньший состав, без ароматизаторов и консервантов), все пасты, джемы ищем с хорошим составом, конфеты, батончики лучше заменить на самодельные или магазинные с хорошим составом. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">Все масла в доме</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">- меняете на нерафинированные, холодного отжима(в списках продуктов написано какие именно) готовим блюда только с добавлением не рафинированного масла, холодного отжима .</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Сливочное масло (выше 82,5 %) употребляем 5-10 гр за завтраком (в кашу, например). </span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><span style="background-color:#ffffff">Разнообразный рацион</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">: ежедневно в ваш рацион должны входить различные продукты, крайне неправильны белковые или углеводные диеты, помним , ТОЛЬКО СБАЛАНСИРОВАННОЕ ПИТАНИЕ, никаких диет. То есть следим за тем, чтобы в рацион входили и белки и жиры и углеводы, пищевые волокна, клетчатка. </span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Каждый прием пищи должен включать в себя белки , жиры и углеводы. Например, омлет с овощами (белок+жир из яиц, и углеводы из овощей)</span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Убираем из рациона весь сахар, конфеты, торты, мороженое, сдобу , зефир и подобные сладости, варенья на сахаре, меняем на кокосовый сахар, нерафинированный тростниковый (пару чайных ложек за завтраком в кашу, чай и тд) или мед( чайная ложка за завтраком).</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Допускается использование небольшого количества натуральных сиропов или пекмезов на завтрак, натуральный сахарозаменитель- fit parad без ограничения по времени.</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Абсолютно все заменители сахара очень дозированно!</span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Соль. Совсем убирать из рациона соль-не грамотно, соль нужна, в небольших количествах, то есть всегда блюда немного не досаливаем. Выбираем соль йодированную, морскую. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Всю муку в доме меняем на цельнозерновую , то есть пшеничная мука высшего или первого сорта- это сплошная химия и пустышка , с точки зрения витаминов.</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Мы будем пользоваться в выпечке только цельнозерновой мукой, которая не прошла обработку и хранит в себе все витамины и минералы. </span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Молочнокислая продукция. Вся молочнокислая продукция (кефир, творог, йогурт) должна быть 2-5% жирности. Если покупаете творог в магазине- внимательно смотрите состав, в нем не должно быть крахмала, пальмового масла. Избегайте надписи &ndash; ТВОРОЖНЫЙ ПРОДУКТ. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Сыры и колбасы. Магазинные колбасы (сосиски, сардельки) полностью исключаем, употребляем только самодельные колбасы и изделия из мяса.</span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Сыры выбираем минимальной жирности &ndash; не более 35% (15-18 гр на 100 гр), или готовим сыры самостоятельно. Никогда не сочетаем сыр с алкоголем.</span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Алкоголь- исключаем. На весь период похудения. По достижении целевого значения веса, можно будет иногда позволять себе сухое вино. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; ИЗБЕГАЕМ в питании гастрономического &laquo;мусора&raquo; - то есть чипсы, снеки, фастфуды, употребление газированной воды (любой), пакетированных соков, майонеза, кетчупа, соусов (только натуральные) </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Отдавать предпочтение снекам, пастам, джемам, батончикам домашнего приготовления) </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Пп выпечка на этапе похудения не желательна чаще двух раз в неделю!! ВСЕ где в составе мука (исключая хлебцы).</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Допускается употребление 3-4 долек горького шоколада (минимум 75-80% какао, все что ниже этой цифры- это не шоколад), зефира без сахара, мармелада, пастилы на яблочном пюре.</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Чай и кофе - только натуральные. Пьём за час до или через час после еды, можно с молоком (до 50 мл). ИСКЛЮЧЕНИЕ &mdash; лечебное питание. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; ПИТАЙТЕСЬ ЧИСТО!!!! ЧЕМ БОЛЕЕ ПРОСТОЕ БЛЮДО, ТЕМ ОНО ПОЛЕЗНЕЕ </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="color:#000000"><span style="background-color:#ffffff">Распределение приемов пищи. </span></span></strong></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Итак, к примеру:</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="color:#000000"><span style="background-color:#ffffff">подъем в 7.00, отход ко сну 22.30-23.00</span></span></strong><span style="color:#000000"><span style="background-color:#ffffff">- каждый подстраивает под свой режим по представленному ниже шаблону)</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">7. 00- пробуждение. 7.10- стакан чистой воды 7.30-завтрак+ витамины (если пьете) 10.30-первый перекус или ланч 13.30- обед 16.30- второй перекус 19.30-ужин-это последний прием пищи &bull; Старайтесь приучить себя к приемам пищи по часам. Первое время &mdash; это сложно, но это очень важно в системе правильного питания, таким образом, мы налаживаем обмен веществ и метаболические процессы. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Термообработка: на пару, тушение, запекание, бланширование, жарка на сухой сковороде, или сковороде гриль, варка. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Водный режим- 30 мл на кг идеальной массы тела (которую необходимо рассчитать самостоятельно по формуле Divine)</span></span></span></p>

<p><br />
&nbsp;</p>

<p><br />
&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="color:#000000"><span style="background-color:#ffffff">ОСНОВНОЕ, ПРОСТОЕ (безлактозное, без рыбы, без мяса) МЕНЮ. </span></span></strong></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="background-color:#ffffff">Основное распределение продуктов в течение дня: </span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span><u><strong><span style="background-color:#ffffff">сложные углеводы</span></strong></u><span style="background-color:#ffffff"> (каши, любые крупы из перечня (все крупы замачивать) макароны твердых сортов, хлебобулочные изделия (хлебцы) , бобовые (все бобовые предварительно замачивать на ночь) - вы употребляете на завтрак и обед</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><span style="color:#000000"><u><strong><span style="background-color:#ffffff">простые углеводы</span></strong></u></span><span style="color:#000000"><span style="background-color:#ffffff"> в виде натуральных сиропов и пекмезов, мед, ВСЕ ВИДЫ САХАРОВ (КОКОСОВЫЙ, НЕРАФИНИРОВАННЫЙ ТРОСТНИКОВЫЙ) употребляете до 12</span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><span style="color:#000000"><u><strong><span style="background-color:#ffffff">простые углеводы в виде:</span></strong></u></span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Фруктов , таких как банан, виноград, хурма, арбуз, дыня употребляйте за завтраком ( пациенты с инсулинорезистентностью и гипотиреозом, АИТ исключают из своего рациона фрукты с высоким ГИ)</span></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Фруктов с низким гликемическим индексом (см. в перечнях) и ягоды можно есть до 14-15.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Сухофруктов употребляете на завтрак и первый перекус.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Овощей употребляете (любые некрахмалистые) в любой прием пищи, на примере недельного меню объясню. Овощей должно быть очень много в рационе. Овощи не считаем в размере порции.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">ОВОЩИ С ВЫСОКИМ ГЛИКЕМИЧЕСКИМ ИНДЕКСОМ (ТЫКВА, КАРТОФЕЛЬ И СВЕКЛА, МОРКОВЬ) едим последний раз на обед. Картофель до 2 х раз в неделю, отварной в «мундире» или запеченный порция до 150 гр. </span></span></span></p>
	</li>
		<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Кукурузную кашу на похудении не едим, кукурузу изредка до 12.00 (не более 1 початка) </span></span></span></p>
	</li>
</ul>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><u><strong><span style="background-color:#ffffff">Жиры:</span></strong></u></span></span></p>
	</li>
</ul>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Орехи употребляете до 15 часов.</span></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Растительные масла и авокадо &ndash;без ограничений по времени </span></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><u><strong><span style="background-color:#ffffff">Маслами</span></strong></u></span><span style="color:#000000"><span style="background-color:#ffffff"> заправляем ВСЕГДА обеденные и вечерние салаты или овощи(после приготовления , непосредственно перед употреблением), льняное &ndash;после завтрака.</span></span></span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><u><strong><span style="background-color:#ffffff">Супы</span></strong></u></span><span style="color:#000000"><span style="background-color:#ffffff">. Только овощные супы-пюре на воде.</span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><u><strong><span style="background-color:#ffffff">Яйца.</span></strong></u></span><span style="color:#000000"><span style="background-color:#ffffff"> 2 шт в день , варёные или жареные на сухой сковороде (включая выпечку, приготовление сложных блюд и т.д.)</span></span></span></span></p>

<p><br />
&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&Oslash; </span></span><strong><span style="color:#000000"><u><span style="background-color:#ffffff">Молочнокислую продукцию</span></u></span></strong><strong><span style="color:#000000"><span style="background-color:#ffffff"> употребляете до 17-18.00., включая добавления в соусы, тушения, начинок.</span></span></strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000"><u><span style="background-color:#ffffff">Сыры</span></u></span></strong><strong><span style="color:#000000"><span style="background-color:#ffffff"> в небольшом количестве до 18.</span></span></strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><span style="color:#000000"><u><strong><span style="background-color:#ffffff">Белковую пищу</span></strong></u></span><span style="color:#000000"><span style="background-color:#ffffff"> (мясо/рыба/морепродукты) употребляем преимущественно на обед и ужин. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Таким образом НАПРИМЕР </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><u><span style="background-color:#ffffff">Завтрак</span></u></span></strong><span style="color:#000000"><u> </u></span><span style="color:#000000"><span style="background-color:#ffffff">может быть из простых углеводов /фруктов/сухофруктов/мед/сиропы+сложные углеводы(каши, крупы, хлеб, хлебцы и тд) +орехи или ореховые пасты. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><u><span style="background-color:#ffffff">Первый перекус или ланч</span></u></span></strong><span style="color:#000000"><span style="background-color:#ffffff">- состоит из порции орехов плюс один фрукт ИЛИ ВАРИАНТЫ МЕНЮ .</span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><u><span style="background-color:#ffffff">Обед</span></u></span></strong><strong><span style="color:#000000"> </span></strong><span style="color:#000000"><span style="background-color:#ffffff">- сложные углеводы ( в виде каш или круп, макарон) плюс белок (рыба/мясо/морепродукты) плюс овощи. Сложные углеводы-на обед обязательно, белок обязательно, овощи , как дополнение . </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><strong><span style="color:#000000"><u><span style="background-color:#ffffff">Второй перекус</span></u></span></strong><span style="color:#000000"><span style="background-color:#ffffff">- </span></span></span></span></p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">молочнокислая продукция +отруби, или отруби+ йогурт/кефир/биота.</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">белково- творожный омлет, омлет с морепродуктами, салат с морепродуктами.</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px">Самый идеальный вариант перекуса- творог(мягкий или творог+йогурт/биота) и отруби.</span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000">НО!!!! 16-17- ЭТО &laquo;СЕКРЕТНОЕ ВРЕМЯ&raquo;, когда можно позволить себе немного сладкого БЕЗ САХАРА (1 зефир, 1 мармелад, 3-4 дольки шоколада,1 пастилу).</span></strong></span></span></p>
	</li>
</ul>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; </span></span><span style="color:#000000"><u><strong><span style="background-color:#ffffff">Ужин</span></strong></u></span><span style="color:#000000"><span style="background-color:#ffffff">- белок(рыба/мясо/морепродукты) +овощи некрахмалистые (с низким ГИ). </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Все приемы пищи будут разнообразными.</span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">На примере недельного меню покажу и объясню наглядно.</span></span></span></p>

<p><br />
&nbsp;</p>

<ul>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000">ЛЬНЯНОЕ МАСЛО--ПИТЬ ТОЛЬКО ПОСЛЕ ЗАВТРАКА, А НЕ НАТОЩАК, 1 СТОЛОВУЮ ЛОЖКУ. ПРИ ОТСУТСТВИИ ПРОТИВОПОКАЗАНИЙ.</span></strong></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000">РЫБИЙ ЖИР, ПИТЬ КУРСАМИ 2-3 МЕС ПРИЕМ, 1 МЕС ПЕРЕРЫВ- В ЖИДКОМ ВИДЕ ИЛИ В КАПСУЛАХ, ПОСЛЕ ЗАВТРАКА</span></strong></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000">Если вы пьете таблетки натощак, старайтесь пить побольше воды, минимум 1 стакан.</span></strong></span></span></p>
	</li>
	<li>
	<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000">Не злоупотребляйте отрубями, норма 10-15-20 гр в день, а не пачка. Отруби в избытке вызывают запоры.</span></strong></span></span></p>
	</li>
</ul>

<p style="margin-left:0.5in"><br />
&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000"><span style="background-color:#ffffff">Основное распределение продуктов в течение дня: ДЛЯ ПОСТНОГО МЕНЮ (ВЕГЕТАРИАНСКОЕ)</span></span></strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Сложные углеводы (каши, крупы из перечня, макароны твердых сортов, хлебобулочные изделия (хлебцы), бобовые - вы употребляете на завтрак и обед. На ужин- бобовые или высокобелковые каши или овощи, на примере недельного меню, объясню. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Натур сиропы и пекмезы, мед, фруктозу, сухофрукты, орехи употребляете до 15 часов. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Фрукты, такие как банан, виноград, хурма употребляете за завтраком. ОСТАЛЬНЫЕ ФРУКТЫ (см в перечнях) и ягоды можно есть до 14-15. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Овощи употребляете (любые ИЗ ПЕРЕЧНЕЙ) в любой прием пищи, на примере недельного меню объясню. Овощей должно быть очень много в рационе. Овощи не считаем в размере порции. ОВОЩИ С ВЫСОКИМ ГЛИКЕМИЧЕСКИМ ИНДЕКСОМ (ТЫКВА, КАРТОФЕЛЬ И СВЕКЛА) едим последний раз на обед. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Маслами заправляем ВСЕГДА обеденные салаты или овощи (после приготовления , непосредственно перед употреблением), льняное &ndash;после завтрака, ЕСЛИ НЕТ ПРОТИВОПОКАЗАНИЙ. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Белковую пищу (рыба/морепродукты, ЕСЛИ УПОТРЕБЛЯЕТЕ. ЕСЛИ НЕТ-КРУПЫ ВЫСОКОБЕЛКОВЫЕ (амарант, гречка, полба, киноа) ИЛИ БОБЫ ИЗ ПЕРЕЧНЕЙ употребляем преимущественно на обед и ужин. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Таким образом </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; завтрак может быть из/фруктов/сухофруктов+сложные углеводы+растительные жиры. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Первый перекус или ланч- состоит из порции орехов плюс один фрукт. </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Обед-сложные углеводы/овощи/белок(растительный белок/рыба/морепродукты). Сложные углеводы-на обед обязательно, овощи-обязательно, РАСТИТЕЛЬНЫЙ белок ИЛИ РЫБУ обязательно. </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Второй перекус- см. варианты строгого поста в меню, если пост не строгий, тогда : </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; молочнокислая продукция (кефир, творог, йогурт) плюс клетчатка ИЛИ отруби, или белково- творожный омлет, омлет с морепродуктами, салат с морепродуктами. ВАЖНО! Отруби принимать только ПРИ ОТСУТСТВИИ ПРОТИВОПОКАЗАНИЙ, ЕСЛИ НЕ ЕДИТЕ ВЫШЕПЕРЕЧИСЛЕННЫЕ ПРОДУКТЫ, ПРЕДЛОЖУ ВАРИАНТЫ В МЕНЮ </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">&bull; Ужин- белок РАСТИТЕЛЬНЫЙ с овощами если строгий пост (варианты в меню), если пост не строгий &ndash; (рыба/морепродукты) + овощи ИЗ ПЕРЕЧНЕЙ </span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Все приемы пищи будут разнообразными, </span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">На примере недельного меню покажу и объясню наглядно. </span></span></span></p>

<p style="margin-left:0.5in"><br />
&nbsp;</p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><strong><span style="color:#000000"><span style="background-color:#ffffff">ДЛЯ КОРМЯЩИХ МАМОЧЕК.</span></span></strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">Вам необходимо добавить дополнительные калорий.</span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="color:#000000"><span style="background-color:#ffffff">Распределение продуктов в течение дня и ПРАВИЛА ПИТАНИЯ остается таким же, но можно добавить один дополнительный прием пищи, например второй ужин (тем более , если кормите ночью), если нет чувства голода к ночному времени- увеличить обьемы всех приемов пищи на 20 процентов, плюс добавить ко второму перекусу фрукты с низким гликемическим индексом или ягоды. </span></span><br />
<br />
<span style="color:#000000"><strong><span style="background-color:#ffffff">СОХРАНЕНИЕ ВЕСА/ ПОДДЕРЖАНИЕ ВЕСА/БЕРЕМЕННОСТЬ</span></strong></span><br />
<span style="color:#000000"><span style="background-color:#ffffff">Распределение продуктов в течение дня и ПРАВИЛА ПИТАНИЯ остается таким же, но можно добавить ко второму перекусу фрукты с низким гликемическим индексом или ягоды.</span></span></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:12px"><span style="background-color:#ffffff">На 2 перекус можно добавить ц/з хлебец (НЕ ХЛЕБ). </span></span></span></p>

<p>&nbsp;</p>

<p><span style="display:none">&nbsp;</span>&nbsp;</p>

            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->




{% endblock %}


{% block breadcrumbs %}
    <li><a href="/{% url 'food:list' %}">Питание</a></li>
    <li class="active">ПОХУДЕНИЕ/СОХРАНЕНИЕ ВЕСА/БЕРЕМЕННОСТЬ/ГВ</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
    </script>
{% endblock %}
