{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
 <style>
 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 1px solid#e1e8ed;
    background: #e1e8ed;
}
 </style>

<div style="display: none;" class="alert alert-success alert-simple alert-dismissible fade in iconic-alert" role="alert">

							<div class="alert-icon">
								<span class="gcon gcon-emoji-happy centered-xy"></span>
							</div>
							<p style="font-size: 12px!important;">Часто задаваемые вопросы</p>
</div>
<div class="panel-body">
            <div class="col-md-4">
                <a href="https://zubareva.online/news/243/" class="btn btn-warning btn-block m-b"><span class="fa fa-list-alt icon-btn m-r"></span>Часто задаваемые вопросы.</a>
            </div>

            <div class="col-md-4">
                <a href="https://zubareva.online/news/242/" class="btn btn-success btn-block  m-b"><span class="fa fa-list-alt icon-btn m-r"></span>Часто спрашиваемые рецепты.</a>

         </div>
        <div class="col-md-4">

                   <a href="/food/lose/" class="btn btn-danger btn-block m-b"><span class="fa fa-warning icon-btn m-r"></span>Правила питания</a>

            </div>

<div style="display: none">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">

            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/0.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Ответы на часто задаваемые вопросы</h6>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/1.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Можно ли есть картофель?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">До 2х раз в неделю отварной в "мундире" или запеченный, на обед до 150 гр, замена сложным углеводам.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->

        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/2.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Можно ли мне есть это?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Читаем состав, самое главное правило, максимально натуральный состав.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/3.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">На сколько я похудею ?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Все индивидуально и зависит от многих факторов от образа жизни до школы до полного соблюдения правил.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/4.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Можно пить коровье молоко?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">В школе не рекомендуется к употреблению коровье молоко.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->



        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/5.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Можно ли алкоголь?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">В процессе обучения  алкоголь строго запрещен.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/6.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Сколько мне съесть ...в граммах?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Объем вашей порции указан  в названии рецепта, например 50/150/150.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/7.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">В каком виде взвешивать продукты?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Крупы в сухом, все остальное в готовом.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/10.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Какая мука нам подходит? </h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Только цельнозерновая или цельносмолотая. Да, именно так должно быть написано на упаковке.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->




        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/24.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Что делать если порция очень большая для меня?  </h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Не насилуйте себя, постепенно повышать объем порции до необходимого объема.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->



        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/23.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Если я встала поздно, что делать ?  </h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Завтракать в первый час после пробуждения, далее пропускаем первый перекус и обед уже по графику до 15.00.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->

        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/18.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Подскажите хороший состав батончика и марку? </h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Состав максимально натуральный: орехи   и сухофрукты/ягоды. Марка Bite.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->

        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/16.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Мой отчет за вчера не проверили! </h6>
                    <p style="margin-top: 10px;line-height: normal; font-size: 12px;">На проверку отчета 24 часа С МОМЕНТА его публикации на сайте или инстаграм, если прошло 24 часа проверьте открыта ли ваша страница, корректность написания #.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->

        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/14.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Могу ли я в секретное время выпить чай/кофе с вкусняшкой?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Да, именно в секретное время можно.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->



       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/12.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Кокосовое, миндальное (растительное молоко, до скольки можно ?)</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">До 18.00 все виды растительного молока.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->



       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/20.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Кокосовый сахар, фруктоза, когда можно?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Строго до 12.00</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->




       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/104.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Сколько приемов пищи в день?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Основные приемы пищи обязательны: завтрак. обед, ужин.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


       <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/105.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Что такое ПП выпечка?</h6>
                    <p style="margin-top: 2px;line-height: normal; font-size: 11px;">ПП выпечка, имеет в составе МУКУ- мука сл углевод- сложные углеводы до 15.00 , соответственно ПП выпечка д 15.00. Выпечка не только сладости, это еще и пицца, пироги и т.д. которые бывают на обед.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


     <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/107.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Можно ли солёное(Хумус, селедка, сёмга слабосоленая, огурцы и помидоры солёные)?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Все только домашней засолки и приготовления, без сахара.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


     <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/108.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Могу я совместить второй перекус и секретное время?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Нет, или второй перекус или разрешенная сладость.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->


     <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" style="min-height: 300px;">
            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/110.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

                <div class="panel-body p-t-0 text-left" style="min-height: 100px;">
                    <h6 class="panel-title">Сколько в готовом виде крупы получится из 50/60/70 гр в сухом виде?</h6>
                    <p style="margin-top: 20px;line-height: normal; font-size: 12px;">Все зависит от способа приготовления. 1. Замочите крупу на ночь или на 12 часов. 2. Слейте остатки воды. 3. Залейте небольшим кол-вом свежей воды, отварите до состояния полуготовности. Вес готовой порции зависит от кол-ва воды, т. е. как вы разварите крупу, от 150 гр до 250 гр можно сварить из исходных 50/60 гр в с/в.</p>
                </div><!-- .panel-body -->
            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->

</div>



{% endblock %}

{% block breadcrumbs %}
    <li class="active">Часто задаваемые вопросы</li>
{% endblock %}