{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title></title>

	<!-- Site Icons -->
	<link rel="apple-touch-icon" href='{% static "img/apple-touch-icon.png" %}'>
	<link rel="icon" href='{% static "img/icon.ico" %}'>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Framework -->
	<link rel="stylesheet" href='{% static "css/vendor/bootstrap.min.css" %}'>

	<!-- Icon Fonts -->
    <link rel='stylesheet' href='{% static "icons/entypo/entypo.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/fa/css/font-awesome.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/flag-icon/css/flag-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/material-icon/material-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/weather-icon/css/weather-icons.min.css" %}'>


	<!-- Plugins -->
    <link rel='stylesheet' href='{% static "plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datatable/datatables.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datepicker/css/datepicker.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/medium-editor.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/themes/bootstrap.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/morris/morris.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/prettify/themes/tomorrow-night.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/selectize/css/selectize.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/sortable/sortable.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/stepy/jquery.stepy.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/pace/pace.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/summernote/summernote.min.css" %}'>


	<!-- Main Template CSS -->
    <link rel='stylesheet' href='{% static "css/bootstrap.custom.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/helper.css" %}'>
</head>


<body>


	<div id="rs-wrapper" class="bg-transparent">
    <div class='col-xs-12' style='margin-top: 15px; text-align: center'>
        <h1>{{ message }}</h1>
        <p><a href="/">На главную страницу</a></p>
    </div>
</body>
</html>

