

{% extends "base.html" %}
{% load staticfiles %}
{% load message_tags %}
{% load common_tags %}
{% load thumbnail %}
{% block content %}

<div class="panel panel-plain panel-rounded">

    <div class="panel-body">
        <div class="row">

<div class="col-lg-12 col-md-12 col-sm-12">
<h2 style="text-align: center;">Техподдержка</h2>
 <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8  col-md-offset-2">
                            <input type="hidden" class="form-control" value="Тариф:{{ request.user.get_tariff_name }}; Уровень: {{ request.user.knowledge }}" name="{{ form.contact_name.html_name }}" required>

                        <div class="form-group">
                            <span style="display: block; width:100%; text-align: center;">Пишите нам в любое время суток, мы ответим на вашу почту</span>
                            <textarea class="form-control" rows="7" name="{{ form.content.html_name }}" placeholder=""></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block rs-btn-icon icon-block m-b" type="submit">Отправить</button>
                        </div>
                    </div><!-- /.col-md-6 -->
                </div>
</form>

</div>


        </div><!-- /.row -->

    </div><!-- .panel-body -->
</div>

{% endblock %}

{% block h1_title %}
    Техподдержка
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Техподдержка</li>
{% endblock %}


