

{% extends "base.html" %}
{% load staticfiles %}
{% load message_tags %}
{% load common_tags %}
{% load thumbnail %}
{% block content %}

<div class="panel panel-plain panel-rounded">

    <div class="panel-body">
        <div class="row">

<div class="col-lg-12 col-md-12 col-sm-12">
<h2 style="text-align: center;">Наши специалисты ответят вам в ближайшее время</h2>
    <h5 style="text-align: center;">Ваш email: {{ request.user }}</h5>



</div>


        </div><!-- /.row -->

    </div><!-- .panel-body -->
</div>

{% endblock %}

{% block h1_title %}
    Техподдержка
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Техподдержка</li>
{% endblock %}


