{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Регистрация | Онлайн Школа доктора Зубаревой</title>

	<!-- Site Icons -->
	<link rel="apple-touch-icon" href='{% static "img/apple-touch-icon.png" %}'>
	<link rel="icon" href='{% static "img/icon.ico" %}'>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Framework -->
	<link rel="stylesheet" href='{% static "css/vendor/bootstrap.min.css" %}'>

	<!-- Icon Fonts -->
    <link rel='stylesheet' href='{% static "icons/entypo/entypo.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/fa/css/font-awesome.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/flag-icon/css/flag-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/material-icon/material-icon.min.css" %}'>
    <link rel='stylesheet' href='{% static "icons/weather-icon/css/weather-icons.min.css" %}'>


	<!-- Plugins -->
    <link rel='stylesheet' href='{% static "plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datatable/datatables.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/datepicker/css/datepicker.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/medium-editor.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/medium-editor/css/themes/bootstrap.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/morris/morris.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/prettify/themes/tomorrow-night.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/selectize/css/selectize.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/sortable/sortable.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/stepy/jquery.stepy.min.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/pace/pace.css" %}'>
    <link rel='stylesheet' href='{% static "plugins/summernote/summernote.min.css" %}'>


	<!-- Main Template CSS -->
    <link rel='stylesheet' href='{% static "css/bootstrap.custom.css" %}'>
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <link rel='stylesheet' href='{% static "css/helper.css" %}'>
</head>


<body>

	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div id="rs-wrapper" class="bg-transparent">



		<div class="full-height-content left-side bg-white">
			<div class="p-a-md p-y-lg bg-white">

				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="f-l-15 text-uppercase text-center text-muted m-y-lg">Регистрация</p>
		<label style="color: #ef5350!important; margin-bottom: 10px; font: 13px Tahoma, sans-serif!important;">
							Внимание! Все участницы предыдущей школы оплачиваем у себя в личном кабинете.
								</label>
						<form novalidate class="m-b-lg" method="post">{% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label">Имя <b style="color: #ef5350;">*</b></label>
										<input type="text" class="form-control" value="{{ form.first_name.value|default_if_none:''}}" name="{{ form.first_name.html_name}}">
										{% for e in form.first_name.errors %}
								  			<p style="color: red;">{{ e }}</p>
										{% endfor%}
									</div><!-- /.form-group -->
								</div><!-- /.col-sm-6 -->
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label">Фамилия <b style="color: #ef5350;">*</b></label>
										<input type="text" class="form-control" value="{{ form.last_name.value|default_if_none:''}}" name="{{ form.last_name.html_name}}">
										{% for e in form.last_name.errors %}
								  			<p style="color: red;">{{ e }}</p>
										{% endfor%}
									</div><!-- /.form-group -->
								</div><!-- /.col-sm-6 -->
							</div><!-- /.row -->
							<div class="form-group">
								<label class="control-label">Электронная почта <b style="color: #ef5350;">*</b></label>
								<input type="email" class="form-control" value="{{ form.email.value|default_if_none:''}}" name="{{ form.email.html_name }}">
								{% for e in form.email.errors %}
								  <p style="color: red;">{{ e }}</p>
								{% endfor%}
							</div><!-- /.form-group -->
							<div class="form-group">
								<label class="control-label">Пароль <b style="color: #ef5350;">*</b></label>
								<input type="password" class="form-control" name="{{ form.password1.html_name }}">
								{% for e in form.password1.errors %}
								  <p style="color: red;">{{ e }}</p>
								{% endfor%}
							</div><!-- /.form-control -->
							<div class="form-group">
								<label class="control-label">Подтвердите пароль <b style="color: #ef5350;">*</b></label>
								<input type="password" class="form-control" name="{{ form.password2.html_name }}">
								{% for e in form.password2.errors %}
								  <p style="color: red;">{{ e }}</p>
								{% endfor%}
							</div><!-- /.form-control -->
							<div class="form-group">
								<label class="control-label">Уровень продвинутости <b style="color: #ef5350;">*</b></label>
								     {{ form.knowledge }}
								{% for e in form.knowledge.errors %}
								  <p style="color: red;">{{ e }}</p>
								{% endfor%}
							</div><!-- /.form-group -->
							<div class="row">
								<div class="col-md-8">
									<div class="form-group" id="PromoCodSelect">
										<label class="control-label">Тариф <b style="color: #ef5350;">*</b></label>
										{{ form.rate }}

									</div><!-- /.form-group -->
                               </div>
								<div id="PromoCod" class="col-md-4">
									<div class="form-group">
										<label class="control-label">Промокод</label>
										<input type="text" class="form-control" value="{{ form.promocod.value|default_if_none:'' }}" name="{{ form.promocod.html_name }}" placeholder="">
									</div><!-- /.form-group -->
								</div><!-- /.col-md-4 -->
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-success btn-block text-uppercase">Зарегистрироваться</button>
								<label style="color: #999!important; margin-top: 10px; font: 12px Tahoma, sans-serif!important;">
									Нажимая кнопку «Зарегистрироваться», Вы принимаете условия <a href="http://school.natalyazubareva.com/termsofuse.pdf">Пользовательского соглашения</a> и
									<a href="http://school.natalyazubareva.com/termsofuse.pdf">Политику по защите персональных данных.</a>
								</label>

							</div><!-- /.form-group -->
						</form>

					</div><!-- /.col-md-8 col-md-offset-2 -->
				</div><!-- /.row -->
			</div><!-- /.bg-white -->
		</div><!-- /.full-height-content -->

		<div class="full-height-content right-side fixed bg-grad-trans text-center" style=" background: #81c784; ">
			<div class="center-content p-a-lg">
				<p class="f-l-15 text-uppercase text-center text-lighten">#БУДЬХУДОЙНОНЕГОЛОВОЙ</p>
				<p class="text-white">Уже зарегистрировались? Нажмите кнопку ниже</p>
				<div class="form-group">
					<a href="http://zubareva.online/" class="btn btn-warning btn-wide text-uppercase">ВОЙТИ</a>
				</div><!-- /.form-group -->
			</div><!-- /.center-content -->

			<!-- BEGIN FOOTER -->
			<footer class="rs-footer login-footer text-center" style="line-height: 1;">
				<span class="text-white small">
					© 2018 #БУДЬХУДОЙНОНЕГОЛОВОЙ. Все права защищены. <br>ИП Павлюнин В.Н.
				ИНН 231109538795. ОГРНИП 317237500276419<br>
				<a href="http://school.natalyazubareva.com/termsofuse.pdf"
				> Пользовательское соглашение</a>
				</span>
			</footer>
			<!-- END FOOTER -->
		</div><!-- /.full-height-content -->
	</div><!-- /#rs-wrapper -->



	<!-- <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js></script>
	<script>
	window.jQuery || document.write('<script src='{% static "js/vendor/jquery.min.js" %}'></script>')
	</script> -->

    <script src='{% static "js/vendor/modernizr.min.js" %}'></script>
    <script src='{% static "js/vendor/jquery.min.js" %}'></script>
    <script src='{% static "js/vendor/bootstrap.min.js" %}'></script>
    <script src='{% static "js/vendor/raphael.min.js" %}'></script>

	<script src='{% static "plugins/nicescroll/jquery.nicescroll.min.js" %}'></script>
	<script src='{% static "plugins/ismobile/isMobile.min.js" %}'></script>
	<script src='{% static "plugins/blockui/blockui.min.js" %}'></script>
	<script src='{% static "plugins/prettify/prettify.min.js" %}'></script>
	<script src='{% static "plugins/clipboard/clipboard.min.js" %}'></script>
	<script src='{% static "plugins/filestyle/bootstrap-filestyle.min.js" %}'></script>
	<script src='{% static "plugins/pace/pace.min.js" %}'></script>

	<!-- Template Js -->
	<script src='{% static "js/apps.js" %}'></script>
	<script src='{% static "js/layout-default.js" %}'></script>

    <script>
         $(document).ready(function(){
            $("select").change(function(){

                $( "#PromoCodSelect select option:selected").each(function(){

                    $('div#PromoCod').show();
                    if($(this).attr("value")=="base"){
                        $('div#PromoCod').hide();
                    }
                });
        }).change();
    });


    </script>
     <!-- BEGIN JIVOSITE CODE {literal} -->
	<script type='text/javascript'>
	(function(){ var widget_id = '30yEh7FGsA';var d=document;var w=window;function l(){
	var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
	<!-- {/literal} END JIVOSITE CODE -->
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42706789 = new Ya.Metrika({ id:42706789, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42706789" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
