{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}

<div class="col-md-12 col-sm-12 col-lg-12">
        <!-- Begin Panel -->
        <div class="panel panel-plain panel-rounded">
            <div class="panel-body p-b-0 text-left">
                <div class="media-body">
                    <h3 class="media-heading">Часто спрашиваемые РЕЦЕПТЫ!</h3>

                    <br>
                       <p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>ЛАВАШ</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Мука ц/з- 300 гр.<br>
Вода горячая (кипяток, остывший 3-4 минуты)- 150-170 мл.<br>
Соль - 0,5 ч.л.<br>
замесить&nbsp; тесто<br>
Убираем под пленку и даем тесту отдохнуть минут 30. Через полчаса он станет мягким и гладким, режем на части, каждую часть катаем в тонкую прозрачную лепешку толщиной 1-2 мм. и размером чуть больше сковороды.<br>
Сковороду разогреваем на средний огонь, важно поймать температуру. Если огонь слишком сильный, то лепешки горят моментально, если слабый, то не будет пузырей, поэтому скорей всего первая лепешка может получиться не красивая. Первый блин - комом.<br>
Выкладываем лепешку и если температура хорошая, то она через 30 секунд начинает пузыриться и расти. Выкладываем на влажное полотенце и жарим следующий. Складываем стопочкой прослаивая влажным полотенцем -Полотенце-лаваш-полотенце-лаваш</span></span></p>
                    <br>
<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>МИНДАЛЬНОЕ МОЛОКО</strong><br>
Очень быстро и просто. Замочить на ночь 100 гр миндаля, утром очистить кожицу. В блендер - очищенный миндаль и 2 стакана воды. Перемалываем , до однородности. Процеживаем молоко через сито, отжимаем жмых, храним молоко в холодильнике. Жмых можно использовать для приготовления печенья или конфеток.</span></span></p>
                    <br>
<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>КОКОСОВОЕ МОЛОКО</strong><br>
из стружки:<br>
2 стакана кокосовой стружки;<br>
1 литр воды.<br>
Приготовление</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Заливаем стружку кипятком и оставляем под крышкой на полчаса.<br>
Разбухший кокос взбиваем блендером в течение минуты, перекладываем на застеленное марлей сито и отжимаем.<br>
Готовое молоко храним в холодильнике не более пяти дней.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">из кокоса:<br>
Вам понадобятся:</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">кокос или кокосы, фильтрованная кипяченая, горячая вода (просто подогрейте в чайнике, но не доводите до кипения)</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Разбиваем кокос, аккуратно достаем всю мякоть<br>
Натираем кокосовую мякоть на крупной терке или комбайне.<br>
Теперь, для того, чтобы приготовить Кокосовое Молоко нам необходимо залить натертый на терке кокос, горячей водой в пропорциях: 1 часть тертого кокоса : 1,5 части горячей воды.<br>
Оставляем на столе на хотя бы 2 часа — настояться.<br>
Закидываем в блендер и хорошенько перекручиваем (мне берет минут 5, но это зависит от мощности Вашего блендера).<br>
Процеживаем полученную смесь через сито, хорошенько прижимая ложкой кокосовую пудру, из которой потом можно будет сделать кокосовую муку.<br>
Ваше Кокосовое Молоко готово!</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Кокосовое Молоко не стоит долго даже в холодильнике. Вы должны будете его использовать в течении 4 дней.</span></span></p>

<p><br>
<span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>ПП варенье.</strong><br>
Варенье можно заготавливать на неделю вперёд из любых ягод, даже замороженных! Такое варенье прекрасное дополнение к творогу к&nbsp;&nbsp; выпечке и десертам. Готовится очень просто.<br>
На небольшую порцию: 350г ягод промыть, поместить сотейник, налить на дно немного воды, добавить подсластитель по вкусу. Проварить до желаемой консистенции и плотности ягод, примерно 15минут.</span></span></p>

<p><br>
<span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>ЯБЛОЧНОЕ ВАРЕНЬЕ&nbsp;</strong><br>
сладкие яблоки — 6 шт.;<br>
сах зам по вкусу<br>
вода — 1,5 стакана;<br>
корица — 1 палочка;<br>
анис — 1 звездочка;<br>
тертая цедра апельсина (именно яркая часть) — 1 ст.л.</span></span></p>

<p><br>
<span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Яблоки очищаются от кожуры, семян, плодоножек. Фрукты режутся небольшими кубиками. Подготовленные яблоки помещаются в кастрюлю, заливаются водой.&nbsp; В кастрюлю добавляются приправы и сах зам.&nbsp; Состав прогревается в течение 10-15 минут (должен хорошо прокипеть). Нужно постоянно помешивать его, исключая пригорание. После того как яблоки слегка потемнели и превратились в кашицу, можно переложить заготовку в блюдце или банку.</span></span></p>

<p><br>
<span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>Сливовое повидло</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Берем только самые налитые, мягонькие, можно даже переспелые сливы. Вскрываем каждую из них, как креветку, разделяя на две половины. Аккуратно вынимаем косточки.&nbsp; Промытые половинки помещаем в кастрюлю и варим под крышкой до тех пор, пока не пойдет сок. Мешаем периодически. Вот сок пошел, снимаем крышку. В идеале нам нужно получить густое повидло. Такое, чтобы ложка в нем стояла. А для этого нужно применить технологию под названием «многократная варка». Мы варим наше повидло час, потом выключаем плиту, даем остыть повидлу часов 8?9. Потом снова варим, и снова варево остывает часиков 8?9. Проворачиваем подобный цикл раз пять. Когда прекратить «мучить» наше повидло? Тогда, когда оно легко будет отделяться от стенок кастрюли или таза. После многократной варки еще горячее повидло раскладываем в банки и пусть себе оно там, в стекле, и охлаждается. Крышку не закрываем. Нам нужно получить небольшой такой сухой «наст» на поверхности. Тверденькая корочка, как в сугробе после мороза поверху бывает. После появления корочки мы обычной пергаментной бумагой покрываем банки, бечевкой обвязываем и ставим в холодильник или погреб. Как видите, никакого сахара.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>ЯБЛОЧНЫЙ ДЖЕМ</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">&nbsp;500 мл измельченных в пюре яблок (можно взять их смесь с грушами)&nbsp;<br>
5-6 крупных фиников&nbsp;<br>
45 г (3 ст.л.) семена чиа<br>
Ѕ ч.л. ванильного экстракта<br>
Ѕ ч.л. молотой корицы<br>
4 ст.л. лимонного сока<br>
щепотка морской соли</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">1 В блендере или кофемолке измельчите семена чиа (их можно использовать и цельными, но консистенция истинного джема получится именно с измельченными). Измельчите яблоки&nbsp; в блендере или кухонном комбайне в пюре.&nbsp; В маленькой кастрюльке доведите до кипения протертые яблоки, (порядок действий, кстати, можно и поменять – сначала запечь яблоки и затем, остудив их, измельчить в пюре вместе с подсластителем), снимите с огня и добавьте чиа, ваниль, лимонный сок, корицу/специи, соли и финики и тщательно все перемешайте или снова измельчите в блендере до получения однородной массы.&nbsp; Храните в холодильнике .</span></span></p>

<p><br>
<span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>ОРЕХОВАЯ ПАСТА</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Подходят любые орехи – арахис, миндаль, фисташки, фундук, кешью, пекан, бразильские, кедровые или грецкие орехи. Можно смешать разные виды орехов в разных пропорциях,&nbsp;&nbsp; использовать в сыром, подсушенном виде. Замочить (3-8 часа),&nbsp; в духовке просушить 80-100 гр на ночь, дверцу духовки приоткрыть, чтоб выходила влажность. Просушенным орехам дайте остыть минут 5-10 и снимайте кожуру.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Самое главное - измельчить орехи в блендере или кофемолке на малых оборотах, до состояния, напоминающего сливочное масло, для чего придется через каждые 40 секунд останавливать блендер и перемешивать орехи. Дольше всех смалывается миндаль, а быстрее всех – арахис, поэтому гладкую арахисовую смесь без комочков вы сможете получить уже через две минуты. В конце вмешать в пасту наполнитель, морская соль/мед/кленовый сироп.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>Рыба малосольная.</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">сёмга/форель (жирная рыба)<br>
соль крупная<br>
лавровый лист<br>
перец душистый<br>
чёрный – горошком<br>
лимон</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Взять крупную соль, натереть её филе рыбы со всех сторон. Сторону с кожей, натирать против чешуи, чтобы соль забивалась под чешуйки. Натёртую рыбу завернуть в полиэтиленовый пакет и проложить специями – лавровым листом, перцем горошком и кольцами лимона. Пакет с рыбой поместить в герметичную ёмкость. И поставить рыбу в холодильник на сутки. Через сутки, если не вся соль растворилась, её можно смыть кипячёной водой</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>Вяленые помидоры в домашних условиях.</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Вымойте помидоры и нарежьте половинками, если они маленькие, или четвертинками, если большие. Застелите противень пергаментом и разложите половинки помидор достаточно плотно друг к другу, можно даже слегка внахлест. Выкладывать нужно срезом вверх. Приготовьте в отдельной емкости смесь из соли, перца и сах зама. Сах зам используйте обязательно, насколько бы сладкими ни казались вам помидоры. При усыхании они становятся кислее себя свежих. Возьмите по 1 чл перца и соли, Посыпьте смесью помидоры, стараясь присыпать каждую половинку (четвертинку). Посыпьте сухими травами, положите очищенные дольки чеснока (4-5-6 на противень) и полейте слегка оливковым маслом.<br>
&nbsp;Поставьте в нагретую духовку&nbsp; 100 градусов и держите в духовке около 4-5 часов. Обязательно используйте режим конвекции, а за неимением воспользуйтесь деревянной палочкой, положив ее между дверцей и духовкой для вентиляции.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Если вы делаете вяленые помидоры на несколько баночек (заготовку), то вымойте и просушите их к моменту готовности помидор. А также подготовьте свежие травы и чеснок, Базилик, тимьян, розмарин — классика. Влейте в банку немного нерафинированного масла, положите измельченный чеснок и порезанные травки. Далее слой помидор, а затем снова зелень с чесноком. Укладывая слоями, заполните всю баночку. Залейте вяленые томаты нерафинированным&nbsp; маслом, заполняя пустоты. Для вкуса и дольшей сохранности помидор можно влить немного (1-2 ст. ложки на 0,5 л банку) бальзамического уксуса без сахара. Готовые баночки поставьте в холодильник, где они могут храниться несколько недель, и используйте по мере надобности.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Таким же способом можно приготовить чёрную сливу. Достаточно разрезать фрукт на два половинки, накинуть пластинку чеснока, посыпать смесью итальянских или прованских трав и оставить вялиться на пару часов. А потом все сложить в баночку и залить смесью горячего оливкового масла, перца Чили и чесноком.</span></span></p>

<p><br>
<span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px"><strong>ХЛЕБ</strong></span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">Мука цельнозерновая (ржаная, пшеничная)- 450гр<br>
Сода 3/4 чайной ложки<br>
Соль 1 чайная ложка<br>
Кефир 375-400 гр.</span></span></p>

<p><span style="font-family:Tahoma,Geneva,sans-serif"><span style="font-size:14px">&nbsp;В чаше миксера смешать сухие ингредиенты : муку , соль , соду .&nbsp;&nbsp; Добавить 375 гр. кефира, размещать лопаткой или рукой , до объединения теста . Вымешивать НЕ нужно ! Тесто должно быть мягким . При необходимости добавить еще кефира ( лучше по 1 ст.ложки).&nbsp; Противень застелить пергаментом , присыпать мукой , духовку разогреть на 230 гр. Тесто выложить на противень , присыпать мукой , сформировать круглый диск высотой 3-4 см. Острым ножом сделать крестообразный разрез на поверхности теста .&nbsp; Выпекать 15 минут при 230гр, затем уменьшить до 200-гр градусов , и выпекать еще 30мин.&nbsp; Достать из духовки и дать остыть на решетке !&nbsp;</span></span></p>


                    <br>
                    <a target="_blank" href="http://webinar.natalyazubareva.com/"><img style="width: 100%;" src="http://webinar.natalyazubareva.com/zapis.jpg" alt=""></a>
                </div>
            </div><!-- .panel-body -->
        </div><!-- /.panel -->



        <!-- End Panel -->

    </div>





{% endblock %}
