{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
 <style>
 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border: 1px solid#e1e8ed;
    background: #e1e8ed;
}
 </style>
<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="min-height: 20px;"><h4>Инструкция по пользованию сайтом</h4></div>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12" style="min-height: 300px;">

            <!-- Begin Panel -->
            <div class="panel panel-plain panel-rounded">
                <div class="panel-heading borderless"></div>
                <div class="panel-body p-t-0 text-center">
                    <div class="videoWrapper">

                        <video width="560" height="349" controls>
                            <source src="https://dagpositive.ru/faq/3911.mp4" type="video/mp4">
                        </video>

                    </div>
                </div><!-- .panel-body -->

            </div><!-- /.panel -->
            <!-- End Panel -->
        </div><!-- /.col-dm-6 -->
        <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12" style="min-height: 300px;">
                <a href="https://zubareva.online/support/" class="btn btn-warning btn-block"><span class="fa fa-question-circle icon-btn m-r"></span>Техподдержка</a>
            </div>



{% endblock %}
