{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


    <div class="col-md-12 col-sm-12 col-lg-12">



        <!-- Комментарии -->
        <div style="" class="panel panel-plain panel-rounded">
            <div class="panel-heading borderless">
                <h2 class="panel-title">Последние комментарии</h2>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
                <style>
                    .user_comment p{
                        margin: 0;
                    }
                </style>


                <ul class="media-list">



{% for comment in notcomment %}
              {% if comment.parent.author == request.user %}



                        <li  id="c{{ c.id }}" class="media comment-1">
                             <a href="/news/mycomments/{{ comment.news.id }}/#c{{ comment.id }}">
                            <div class="media-left media-object-sm">
                                {% thumbnail comment.author.get_avatar "60x60" as im %}
                                    <a href="javascript:void(0);">
                                        <img style="object-fit: none;border: 0.5px solid rgba(74, 137, 220, 0.34);" class="media-object img-circle" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div><!-- /.media-left -->
                            <div class="media-body user_comment" style="margin: 0;">
                                <h4 style="font-size: 16px;" class="media-heading bg-d">{{ comment.author.get_full_name }}</h4>
                                 {{ comment.text|linebreaks|truncatechars:135 }} <a style="text-decoration: underline;"  href="/news/mycomments/{{ comment.news.id }}/#c{{ comment.id }}">далее</a>
                                <div class="media-footer" style="font-size: 13px;color: #909499; line-height: 1.5;">
                                    {{ comment.created_date|timesince }} назад в ответ на Ваш комментарий <a href="/news/mycomments/{{ comment.news.id }}/#c{{ comment.parent.id }}">{{ comment.parent|truncatechars:85}}</a>
                                </div>
                            </div><!-- /.media-body -->
                             </a>
            </li>
                    <hr>



    {% endif %}

 {% endfor %}



                </ul><!-- /.media-list -->
            </div><!-- .panel-body -->
        </div><!-- End Комментарии -->

        <!-- End Panel -->

    </div><!-- /.col-dm-12 -->

<div id="someID" class="back-to-bottom bg-dark b-r-a" style="display: block;top: 5px;"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></div>
<style>
 .back-to-bottom {
     position: fixed;
    width: 40px;
    height: 40px;
    z-index: 1000;
    top: 15px;
    right: 5px;
    line-height: 40px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
    text-align: center;
    display: none;

 }
    .bg-dark {
        background: rgba(46, 49, 61, 0.28) !important;
    }
</style>


{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'news:mycomments-list' %}">Мои комментарии</a></li>
    <li class="active">{{ object.title }}</li>
{% endblock %}


{% block js_block %}
    <script type="text/javascript">
        $(function(){
            $('.reply-comment').on('click', function(e){
                e.preventDefault();
                var currentUser = $(this).attr('data-user');
                var commentId = $(this).attr('data-comment-id');
                $("#comment-parent").val(commentId);
                $('#comment-text').val(currentUser + ', ');
                $('html,body').stop().animate({ scrollTop: $('#comment-text').offset().top }, 1000);
            })
        });
        $(function(){
                $('#someID').click(function(){
                     $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                    return false;
                });
        });
    </script>
{% endblock %}


